<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">




    <div style="text-align:center; padding:0; font-size: 0.9em">
        
        
        <a href="https://just-evotecbiologics.com/" class="footerLink" target="_blank">
            Just – Evotec Biologics
        </a>
        
        <span style="padding:0 20px 0 20px; color:#777777; "> &bull; </span>

        <a href="https://bitbucket.org/JustBiotherapeutics/jstruct/src" class="footerLink" target="_blank">
            <span>JStruct source code</span>
        </a>
        
        <span style="padding:0 20px 0 20px; color:#777777; "> &bull; </span>

        <a href="https://bitbucket.org/JustBiotherapeutics/jstruct/wiki/License" class="footerLink" target="_blank">
            <span>JStruct license</span>
        </a>
        
        
    </div>









</ui:composition>

