<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">




    <table style="width:100%; background-color: #{msg.AppInstance ne 'production' ? '#EAFF00' : ''};" cellspacing="0" > 
        <tr>

            
            
            <td class="titleCell" style="vertical-align: top;" >

                <div style="float: left;">
                    <a href="https://just-evotecbiologics.com//" target="_blank" style="text-decoration:none">
                        <p:graphicImage value="/images/just_logo_144.png" alt="Just – Evotec Biologics" title="Just – Evotec Biologics" style="margin-right:20px; height:27px; "/>
                    </a>
                </div>
                <div style="float: left; margin-top:1px">
                    <a href="/jstruct/home.xhtml" style="text-decoration:none">
                        <p:graphicImage value="/images/jstruct_logo_thin_md.png" alt="JStruct home" title="JStruct home" style="margin-right:20px; height:23px; "/>
                    </a>
                </div>
                <div style="float: left; margin-left: 20px">
                    <h:outputText styleClass="devTestWarn"
                                  rendered="#{msg.AppInstance!='production'}"
                                  value=" (#{msg.AppInstance})"/>
                </div>
            </td>

          

        </tr>
    </table>

    
    
    <!-- *******************************************************************************************************
            non-displaying required text for SONAR 
            https://johndeere.justbiotherapeutics.com:9999/Sonar
    -->
    <span style="font-size: 0; color: transparent; ">
        PAGE TEXT FOR SONAR
    </span>
    <!-- ******************************************************************************************************* -->



</ui:composition>

