<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">


    <script language="JavaScript" type="text/javascript">
        //mouse over
        function roll_over(img_name, img_src) {
            document[img_name].src = img_src;
        }

        //http://stackoverflow.com/questions/400212/how-do-i-copy-to-the-clipboard-in-javascript
        function copyToClipboard(inText)
        {
            var textArea = document.createElement("textarea");

            //
            // *** This styling is an extra step which is likely not required. ***
            //
            // Why is it here? To ensure:
            // 1. the element is able to have focus and selection.
            // 2. if element was to flash render it has minimal visual impact.
            // 3. less flakyness with selection and copying which **might** occur if
            //    the textarea element is not visible.
            //
            // The likelihood is the element won't even render, not even a flash,
            // so some of these are just precautions. However in IE the element
            // is visible whilst the popup box asking the user for permission for
            // the web page to copy to the clipboard.
            //

            // Place in top-left corner of screen regardless of scroll position.
            textArea.style.position = 'fixed';
            textArea.style.top = 0;
            textArea.style.left = 0;

            // Ensure it has a small width and height. Setting to 1px / 1em
            // doesn't work as this gives a negative w/h on some browsers.
            textArea.style.width = '2em';
            textArea.style.height = '2em';

            // We don't need padding, reducing the size if it does flash render.
            textArea.style.padding = 0;

            // Clean up any borders.
            textArea.style.border = 'none';
            textArea.style.outline = 'none';
            textArea.style.boxShadow = 'none';

            // Avoid flash of white box if rendered for any reason.
            textArea.style.background = 'transparent';


            textArea.value = inText;

            document.body.appendChild(textArea);

            textArea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';

                //Ext.toast({html: '<div style="text-align:center;">The text: <br/><br/><pre>' + inText + '</pre><br/><br/>has been copied to your clipboard.</div>', align: 't'});
                console.log('Copy to clipboard command was ' + msg + '(' + inText + ')');

            } catch (err) {
                //Ext.toast({html: '<div style="text-align:center;">Unable to copy text;<br/><br/>clipboard may not be supported by your current browser.</div>', align: 't'});
                console.log('Oops, unable to copy');
            }

            document.body.removeChild(textArea);
        }
    </script>








    <table style="width:100%; background-color: #{msg.AppInstance ne 'production' ? '#EAFF00' : ''};" cellspacing="0" >  <!-- #ffee00 -->
        <tr>

            <td class="titleCell" style="vertical-align: top;" >

                <div style="float: left;">
                    <a href="https://just-evotecbiologics.com/" target="_blank" style="text-decoration:none">
                        <p:graphicImage value="/images/just_logo_144.png" alt="Just – Evotec Biologics" title="Just – Evotec Biologics" style="margin-right:20px; height:27px; "/>
                    </a>
                </div>
                <div style="float: left; margin-top:1px">
                    <a href="/jstruct/home.xhtml" style="text-decoration:none">
                        <p:graphicImage value="/images/jstruct_logo_lg.svg" alt="JStruct home" title="JStruct home" style="margin-right:20px; height:23px; "/>
                    </a>
                </div>
                <div style="float: left; margin-left: 20px">
                    <h:outputText styleClass="devTestWarn"
                                  rendered="#{msg.AppInstance!='production'}"
                                  value=" (#{msg.AppInstance})"/>
                </div>
            </td>



            <td class="userCell">


                <!-- NOT logged in (guest) -->
                <c:if test="#{headerBean.currentUser.guest}">  <!-- alternatively we could (should?) use the 'rendered' attribute from an 'h' element instead of c:if -->

                    <h:form id="authForm">

                        <p:growl id="loginGrowl"/>
                        
                        <h:outputText value="Domain: #{msg.LDAP_CorpDomain}" style="color:#555555; margin-right: 10px;"/>
                       
                        <p:inputText id="username"
                                     placeholder="username"
                                     style="width:111px; margin-right:8px; "
                                     maxlength="99"
                                     value="#{headerBean.username}"
                                     required="true" 
                                     requiredMessage="Username is required">
                        </p:inputText>

                        <p:password id="password"
                                    placeholder="password"
                                    style="width:111px; margin-right:8px; "
                                    maxlength="99"
                                    value="#{headerBean.password}"
                                    required="true" 
                                    requiredMessage="Password is required">
                        </p:password>

                        <p:commandButton id="loginBtn"
                                         title="Login"
                                         icon="ui-icon-key"
                                         update="loginGrowl"
                                         actionListener="#{headerBean.authAttempt}">
                        </p:commandButton>


                    </h:form>

                </c:if>

                <!-- user has been authenticated -->
                <c:if test="#{!headerBean.currentUser.guest}">
                    <h:outputText value="#{headerBean.currentUser.name}" 
                                  style="font-size: 1.1em; font-weight:bold; "
                                  title="#{headerBean.currentUser.uid} (#{headerBean.currentUser.email})"/>
                    <br/>
                    <h:outputText value=" [Contributor]" rendered="#{headerBean.currentUser.isRoleContributor}"/>
                    <h:outputText value=" [Admin]" rendered="#{headerBean.currentUser.isRoleAdmin}"/>
                    <h:outputText value=" [Developer]" rendered="#{headerBean.currentUser.isRoleDeveloper}" style="color:#ff0000; "/>
                </c:if>
            </td>



            <td class="logoutCell">
                <!-- user has been authenticated -->
                <c:if test="#{!headerBean.currentUser.guest}">

                    <h:form id="logoutForm" >

                        <p:commandButton id="logoutBtn"
                                         title="Log out" 
                                         icon="ui-icon-cancel" 
                                         immediate="true" 
                                         action="#{headerBean.logout}"/>
                    </h:form>
                </c:if>
            </td>



        </tr>
    </table>
    
    
    
    
    <!-- *******************************************************************************************************
            non-displaying required text for SONAR 
            https://johndeere.justbiotherapeutics.com:9999/Sonar
    -->
    <span style="font-size: 0; color: transparent;">
        PAGE TEXT FOR SONAR
    </span>
    <!-- ******************************************************************************************************* -->




</ui:composition>

