<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">


    <h:form id="menuForm" style="overflow:hidden; position: relative;">

        <!-- 
            http://jqueryui.com/themeroller/
            http://www.petefreitag.com/cheatsheets/jqueryui-icons/ 
        -->



        <p:menu style="width:100%; border:0px solid #ff00ff; font-size:0.9em; ">

            <!-- immediate="true" ? -->

            <!--change to font awesome icons: fa fa-home -->
            <p:menuitem value="Home"       
                        url="/home.xhtml"                      
                        icon="ui-icon-home" 
                        title="return to home page"
                        style="color:#{menuBean.homePage?'#ff5300':''}; font-weight:#{menuBean.homePage?'bold':'normal'}"/>

            <p:menuitem value="Structure Search"  
                        disabled="#{menuBean.currentUser.guest}"
                        icon="ui-icon-search" 
                        url="/structure_search.xhtml"    
                        title="enter criteria to search Structures"
                        style="color:#{menuBean.structureSearchPage?'#ff5300':''}; font-weight:#{menuBean.structureSearchPage?'bold':'normal'}"/>

            <p:menuitem value="My Searches"  
                        disabled="#{menuBean.currentUser.guest}"
                        icon="ui-icon-circle-zoomout" 
                        url="/searches.xhtml"    
                        title="view your saved Searches"
                        style="color:#{menuBean.searchesPage?'#ff5300':''}; font-weight:#{menuBean.searchesPage?'bold':'normal'}"/>

            <p:menuitem value="My Labels"  
                        disabled="#{menuBean.currentUser.guest}"
                        icon="ui-icon-tag" 
                        url="/labels.xhtml"    
                        title="view and manage your Structure Labels"
                        style="color:#{menuBean.labelsPage?'#ff5300':''}; font-weight:#{menuBean.labelsPage?'bold':'normal'}"/>

            <p:menuitem value="Script Manager"  
                        disabled="#{sessionBean.user.name ne 'Russell Williams'}" 
                        icon="ui-icon-script" 
                        url="/script_mgr.xhtml"    
                        title="view and manage your Analysis/Calculation Scripts"
                        style="color:#{menuBean.scriptMgrPage?'#ff5300':''}; font-weight:#{menuBean.scriptMgrPage?'bold':'normal'}"/>

            <p:menuitem value="New Structure"  
                        disabled="#{menuBean.currentUser.guest or !menuBean.currentUser.isRoleContributor}"
                        icon="ui-icon-plus" 
                        action="#{menuBean.gotoNewStructurePage}"
                        title="upload a new Structure file"
                        style="color:#{menuBean.newStructurePage?'#ff5300':''}; font-weight:#{menuBean.newStructurePage?'bold':'normal'}"/>

            <p:menuitem value="About"  
                        icon="ui-icon-info" 
                        url="/about.xhtml"   
                        style="color:#{menuBean.aboutPage?'#ff5300':''}; font-weight:#{menuBean.aboutPage?'bold':'normal'};"/>



            <p:submenu label="Admin" rendered="#{menuBean.currentUser.isRoleAdmin}" >

                <p:menuitem value="Schedule"  
                            icon="ui-icon ui-icon-clock" 
                            styleClass="#{menuBean.autoProcessIsStarted ? 'greenMenuIcon' : ''}"
                            url="/schedule.xhtml"    
                            title="manage the automated schedule "
                            style="color:#{menuBean.schedulePage?'#ff5300':''}; font-weight:#{menuBean.schedulePage?'bold':'normal'}"/>

                <p:menuitem value="Admin Actions"  
                            icon="ui-icon-wrench" 
                            url="/admin_actions.xhtml"    
                            title="perform various adminstrative actions"
                            style="color:#{menuBean.adminActionPage?'#ff5300':''}; font-weight:#{menuBean.adminActionPage?'bold':'normal'}"/>
                
                <p:menuitem value="Amino Acids"  
                            icon="ui-icon-bullet" 
                            url="/amino_acids.xhtml"    
                            title="manage Amino Acid list"
                            style="color:#{menuBean.aminoAcidPage?'#ff5300':''}; font-weight:#{menuBean.aminoAcidPage?'bold':'normal'}"/>
                

                <p:menuitem value="Lookups"  
                            icon="ui-icon-grip-solid-horizontal" 
                            url="/lookups.xhtml"    
                            title="manage lookup lists"
                            style="color:#{menuBean.lookupsPage?'#ff5300':''}; font-weight:#{menuBean.lookupsPage?'bold':'normal'}"/>

                <p:menuitem value="Users/Roles"  
                            icon="ui-icon-key" 
                            url="/roles.xhtml"    
                            title="add/delete #{props.get.appName} roles "
                            style="color:#{menuBean.rolesPage?'#ff5300':''}; font-weight:#{menuBean.rolesPage?'bold':'normal'}"/>

            </p:submenu>




            <p:submenu label="Developer" rendered="#{menuBean.currentUser.isRoleDeveloper}" >

                <p:menuitem value="Properties"         
                            url="/properties.xhtml"        
                            icon="ui-icon-gear"    
                            title="manage/view dynamic and static #{propUtil.appName} properties" 
                            style="color:#{menuBean.propertiesPage?'#ff5300':''}; font-weight:#{menuBean.propertiesPage?'bold':'normal'}"/>

                <p:menuitem value="Tomcat"         
                            url="#{menuBean.tomcatUrl}"        
                            icon="ui-icon-newwin"    
                            target="_BLANK"
                            title="open Tomcat Web Application Manager (username/password required)" />

                <!--<p:separator /> -->

                <p:menuitem value="refresh session"
                            action="#{menuBean.refreshSession}"  
                            icon="ui-icon-refresh"
                            title="refresh all session settings, and return to home page"> 
                </p:menuitem>

            </p:submenu>



        </p:menu>


        <!-- primefaces_users_guide_3_4.pdf, pg 277
        Icons: There are two ways to specify an icon of a menuitem, you can either use bundled icons within PrimeFaces or provide your own via css.
        
        ThemeRoller Icons
          <p:menuitem icon="ui-icon-disk" ... />
        
        Custom Icons
          <p:menuitem icon="barca" ... />
          
          .barca { background: url(barca_logo.png) no-repeat;
                   height:16px;
                   width:16px; }
        -->



        <!-- database, version, instance  -->

        <p:tooltip for="version" >
            <h:outputText value="#{msg.AppFullInstance}"/><br/>          
            <h:outputText value="Database: #{msg.AppDatabase}"/><br/>       
        </p:tooltip>


        <h:panelGroup id="version" styleClass="version" layout="block">

            <h:outputText value="#{msg.AppInstance}" style="font-weight:bold"/>
            <br/>
            <h:outputText value="version #{msg.AppVersion} &bull; #{msg.AppDate}"/>

        </h:panelGroup>


        <!--
        <div class="betaMode" style="width:95%; text-align: center">
            <h:outputText value="#{msg.AppVersion} beta" />
        </div>
        -->



    </h:form>






</ui:composition>

