<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <f:view contentType="text/html">

        <f:loadBundle var="msg" basename="ApplicationResources" />

        <h:head>

            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>
                    <h:outputText value="(local) "  rendered="#{msg.AppInstance =='local'}"/>
                    <h:outputText value="(dev) "    rendered="#{msg.AppInstance =='development'}"/>
                    <h:outputText value="(test) "   rendered="#{msg.AppInstance =='test'}"/>

                    <h:outputText value="#{props.get.appName} - " />

                    <ui:insert name="title"/>
                </title>
            </f:facet>

            <link type="text/css" rel="stylesheet" href="/jstruct/css/pf_fixes.css" />

            <link type="text/css" rel="stylesheet" href="/jstruct/css/pagelayouts.css" />
            <link type="text/css" rel="stylesheet" href="/jstruct/css/header.css" />
            <link type="text/css" rel="stylesheet" href="/jstruct/css/menu.css" />
            <link type="text/css" rel="stylesheet" href="/jstruct/css/mainstyle.css" />  
            <link type="text/css" rel="stylesheet" href="/jstruct/css/tablestyle.css" />  

            <link rel="shortcut icon" href="/jstruct/j.ico" type="image/x-icon" />
            

        </h:head>



        <h:body style="padding-top:1px;" >
           
            <p:layout fullPage="true">

                <!-- HEADER --> 
                <p:layoutUnit position="north" size="30" resizable="false" closable="false" collapsible="false" gutter="2" styleClass="noScrollLayoutUnit" style="padding:0px; border:">
                    <ui:insert name="header" >
                        <ui:include src="/layout/headerNoLogin.xhtml" />
                    </ui:insert>
                </p:layoutUnit>

 

                <!-- CENTER -->
                <p:layoutUnit position="center" gutter="2" >
                    <ui:insert name="content" />
                </p:layoutUnit>



                <!-- FOOTER -->
                <p:layoutUnit position="south" size="19" resizable="false" closable="false" collapsible="false" gutter="2" styleClass="noScrollLayoutUnit" style="padding:0px;">
                    <ui:insert name="header" >
                        <ui:include src="/layout/footer.xhtml" />
                    </ui:insert>
                </p:layoutUnit>

            </p:layout>



        </h:body>


    </f:view>
</html>
