<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="analysisScripts"       
                      type="java.util.List" 
                      required="true"
                      shortDescription="List of Jstruct_AnalysisScript objects"/>

        <cc:attribute name="onlyCurrentVersion"        
                      type="java.lang.Boolean" 
                      required="false"
                      default="false"
                      shortDescription="True to display all versions; false to display only current version"/>

    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>



        <p:dataTable value="#{cc.attrs.analysisScripts}" var="s" >

            <p:column style="width:16px">
                <p:rowToggler  />
            </p:column>

            <p:rowExpansion styleClass="structureResultsRowExpansion" >

                <!-- ONLY current version (global) -->
                <h:panelGroup rendered="#{cc.attrs.onlyCurrentVersion}">
                    <p:dataTable value="#{s.allScriptVers}" var="sv" rowStyleClass="#{sv.status eq 'Current' ? '' : 'ui-helper-hidden'}"> <!-- hide non-current rows -->

                        <!--
                        <p:ajax event="rowSelectCheckbox" process="@this"/>
                        <p:ajax event="rowUnselectCheckbox" process="@this"/>
                        <p:ajax event="toggleSelect" process="@this" />-->

                        <p:column style="width:20px">
                            <p:selectBooleanCheckbox value="#{sv.selected}" rendered="#{sv.status ne 'Defunct'}">
                                <p:ajax listener="#{scriptActionBean.scriptVerCheckboxClickedGlobalList(sv.analysisScriptVerId)}" process="@this"/>
                            </p:selectBooleanCheckbox>
                        </p:column>

                        <p:column headerText="Ver." width="45" style="font-weight:bold;">
                            <h:outputText value="#{sv.version}" style="font-size:11px"/>
                        </p:column>

                        <p:column headerText="Comments"  style="font-weight:bold;">
                            <h:outputText value="#{sv.comments}" style="font-size:11px"/>
                        </p:column>

                        <p:column headerText="Status" width="55" style="font-weight:bold;">
                            <h:outputText value="#{sv.status}" style="font-size:11px" id="verGlobalStatus"/>
                            <p:tooltip for="verGlobalStatus" position="top">
                                <h:outputText value="Insert Date: "/>
                                <h:outputText value="#{sv.insertDate}">
                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                                </h:outputText>
                            </p:tooltip>
                        </p:column>

                    </p:dataTable>
                </h:panelGroup>

                
                <!-- ALL versions -->
                <h:panelGroup rendered="#{!cc.attrs.onlyCurrentVersion}">
                    <p:dataTable value="#{s.allScriptVers}" var="sv" >

                        <!--
                        <p:ajax event="rowSelectCheckbox" process="@this"/>
                        <p:ajax event="rowUnselectCheckbox" process="@this"/>
                        <p:ajax event="toggleSelect" process="@this" />-->

                        <p:column style="width:20px">
                            <p:selectBooleanCheckbox value="#{sv.selected}" rendered="#{sv.status ne 'Defunct'}" >
                                <p:ajax listener="#{scriptActionBean.scriptVerCheckboxClickedUserList(sv.analysisScriptVerId)}" process="@this"/>
                            </p:selectBooleanCheckbox>
                        </p:column>

                        <p:column headerText="Ver." sortBy="#{sv.version}" width="45"
                                  style="#{sv.status eq 'Current' ? 'font-weight:bold; ' : ''}#{sv.status eq 'Defunct' ? 'color:#777777; ' : ''}">
                            <h:outputText value="#{sv.version}" style="font-size:11px"/>
                        </p:column>

                        <p:column headerText="Comments" sortBy="#{sv.comments}"
                                  style="#{sv.status eq 'Current' ? 'font-weight:bold; ' : ''}#{sv.status eq 'Defunct' ? 'color:#777777; ' : ''}">
                            <h:outputText value="#{sv.comments}" style="font-size:11px"/>
                        </p:column>

                        <p:column headerText="Status" sortBy="#{sv.status}" width="55"
                                  style="#{sv.status eq 'Current' ? 'font-weight:bold; ' : ''}#{sv.status eq 'Defunct' ? 'color:#777777; ' : ''}">
                            <h:outputText value="#{sv.status}" style="font-size:11px" id="verStatus"/>
                            <p:tooltip for="verStatus" position="top">
                                <h:outputText value="Insert Date: "/>
                                <h:outputText value="#{sv.insertDate}">
                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                                </h:outputText>
                                <br/>
                                <h:outputText value="Overwrite Date: " rendered="#{not empty sv.overwriteDate}"/>
                                <h:outputText value="#{sv.overwriteDate}" rendered="#{not empty sv.overwriteDate}">
                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                                </h:outputText>
                            </p:tooltip>

                        </p:column>

                    </p:dataTable>
                </h:panelGroup>

            </p:rowExpansion>

            <p:column headerText="Name" sortBy="#{s.scriptName}" width="180">
                <h:outputText value="#{s.scriptName}"/>
            </p:column>

            <p:column headerText="Type" sortBy="#{s.scriptType}" width="50">
                <h:outputText value="#{s.scriptType}"/>
            </p:column>

            <p:column headerText="Description" sortBy="#{s.description}">
                <h:outputText value="#{s.description}"/>
            </p:column>

            <p:column headerText="User" sortBy="#{s.insertUser.name}" rendered="#{cc.attrs.onlyCurrentVersion}" width="150">
                <h:outputText value="#{s.insertUser.name}"/>
            </p:column>

        </p:dataTable>



    </cc:implementation>

</html>