<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->

    <cc:interface>



    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>




        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                NEW SCRIPT DIALOG
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p:dialog id="dlgNewScript" widgetVar="dlgNewScript"
                  dynamic="true" modal="true" width="900" minWidth="900" height="525" resizable="false" appendTo="@(body)" > 

            <f:facet name="header">
                <i class="fa fa-plus" style="margin-right: 5px"></i>
                <h:outputText value="Upload New Script"/>
            </f:facet>

            <just:analysisScriptUploadForm isVersionOne="true"
                                           submitErrorMsg="#{scriptActionBean.newScriptSubmitErrorMsg}"
                                           analysisScript="#{scriptActionBean.newScript}"
                                           analysisScriptVer="#{scriptActionBean.newScriptVer}"
                                           analysisFiles="#{scriptActionBean.newAnalysisFiles}"
                                           jstructIdSubstitute="#{scriptActionBean.jstructIdSubstitute}"
                                           action_uploadFileEvent="#{scriptActionBean.uploadFileEvent}"
                                           action_removeFiles="#{scriptActionBean.removeFiles}"
                                           action_resetForm="#{scriptActionBean.resetNewVerson}"
                                           action_submitForm="#{scriptActionBean.submitNewVersion}"
                                           idsToUpdateOnSubmit="#{cc.clientId}:scriptActionForm:scriptActionTabView:userScriptData"/>

        </p:dialog>





        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                form with all the tabs
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


        <h:form id="scriptActionForm" >


            <!-- when displaying this dialog, call the onDialogShow function which preps the entire form -->
            <p:remoteCommand name="dlgScriptActionShow" action="#{scriptActionBean.onDialogShow}" update="@form"/>

            <p:growl id="scriptActionGrowl" showDetail="true"/>




            <p:tabView id="scriptActionTabView" activeIndex="#{scriptActionBean.activeTabIndex}">

                <!-- called every time a tab is selected -->
                <p:ajax event="tabChange" listener="#{scriptActionBean.onTabChange}" update="#{cc.clientId}:scriptActionForm:scriptActionTabView:runTabData" process="@this"/>





                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    STRUCTURE LIST TAB 
                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  -->

                <p:tab id="scriptActionStruturesTab" title="Structures">

                    <div class="instructions">
                        A list of all Structures currently selected; you must have at least read permissions on each Structure for running scripts.
                    </div>


                    <div style="margin-top:10px; ">
                        <h:outputText value="No Structures selected" rendered="#{empty scriptActionBean.allStructures}" class="redError"/>
                        <h:outputText value="You do not have Readable permissions on any of the selected Structures " class="redError" 
                                      rendered="#{not empty scriptActionBean.allStructures and empty scriptActionBean.readableStructures}"/>
                    </div>


                    <div style="height: 430px; overflow: auto; margin-top: 10px; border: solid 0px #d9d9d9;" >     
                        <just:structureMiniTableReadable fullStructureList="#{scriptActionBean.allStructures}"/>
                    </div> 

                </p:tab>





                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Select USER Scripts tab 
                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <p:tab id="scriptActionUserScriptsTab" title="My Scripts" disabled="#{empty scriptActionBean.allStructures or empty scriptActionBean.readableStructures}">

                    <div class="instructions">
                        Expand each script to select the appropriate version(s).
                    </div>

                    <div style="width:100%; text-align: right; margin-top:5px;"> 
                        <p:commandButton id="btnNewScript"
                                         action="#{scriptActionBean.initiateNewScript}"
                                         value="Upload New Script"
                                         icon="fa fa-plus"
                                         title="Create a new Analysis Script"
                                         oncomplete="PF('dlgNewScript').show();" update="#{cc.clientId}:dlgNewScript" >
                        </p:commandButton>
                    </div>

                    <div style="max-height:400px; overflow-x:auto; border:solid 0px #ff00ff; margin-top:10px; ">
                        <h:panelGroup id="userScriptData">
                            <just:analysisScriptSelectableVersions analysisScripts="#{scriptActionBean.userAnalysisScripts}" 
                                                                   onlyCurrentVersion="false"
                                                                   id="userScriptComponent"/>
                        </h:panelGroup>
                    </div>

                </p:tab>





                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Select GLOBAL Scripts tab 
                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <p:tab id="scriptActionGlobasScriptsTab" title="Global Scripts" disabled="#{empty scriptActionBean.allStructures or empty scriptActionBean.readableStructures}">

                    <div class="instructions">
                        Expand each script to select the current version of a script marked as 'global'.
                    </div>

                    <div style="max-height:430px; overflow-x:auto; border:solid 0px #ff00ff; margin-top:10px; ">
                        <just:analysisScriptSelectableVersions analysisScripts="#{scriptActionBean.globalAnalysisScripts}" 
                                                               onlyCurrentVersion="true"
                                                               id="globalScriptComponent"/>
                    </div>

                </p:tab>






                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    RUN... the scripts tab 
                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <p:tab id="scriptActionRunTab" title="Run Scripts..." disabled="#{empty scriptActionBean.allStructures or empty scriptActionBean.readableStructures}">

                    <div class="instructions">
                        <ol>
                            <li>Update the 'Command' field, and add a 'Run Description' where necessary </li>
                            <li>Click 'Add Structures/Scripts to Processing Queue' to  initiate the Script Analysis</li>
                        </ol>
                    </div>

                    <h:panelGroup id="runTabData">

                        <div style="width:100%; text-align: right; margin-top:10px; margin-bottom: 5px; ">

                            <p:commandButton id="btnSaveAnalysisRuns" 
                                             value="Add Structures/Scripts to Processing Queue" 
                                             ajax="true" 
                                             update="@form"
                                             actionListener="#{scriptActionBean.saveAnalysisRuns}"
                                             style="color:#e17009"
                                             icon="ui-icon-disk"
                                             disabled="#{empty scriptActionBean.analysisRuns or scriptActionBean.runsSaved}"/>
                        </div>


                        <div style="max-height:365px; overflow-x:auto; border:solid 0px #ff00ff; margin-top:10px; ">

                            <p:dataTable value="#{scriptActionBean.analysisRuns}" var="r" 
                                         emptyMessage="No Scripts selected"
                                         editable="true"
                                         editMode="cell">

                                <p:column headerText="Script Name" width="175">
                                    <h:outputText value="#{r.analysisScriptVer.analysisScript.scriptName}" style="font-weight: bold"/>
                                </p:column>

                                <p:column headerText="Ver." width="30">
                                    <h:outputText value="#{r.analysisScriptVer.version}"/>
                                </p:column>

                                <p:column headerText="Command*">
                                    <p:cellEditor> 
                                        <f:facet name="output">
                                            <h:panelGroup class="ui-icon ui-icon-pencil" style="float:right;"/> 
                                            <h:outputText value="#{r.commandPattern}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{r.commandPattern}" 
                                                         id="commandPattern"
                                                         required="true"
                                                         requiredMessage="required"
                                                         style="width:90%">
                                            </p:inputText>
                                            <p:message for="commandPattern"  />
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column headerText="Run Description">
                                    <p:cellEditor> 
                                        <f:facet name="output">
                                            <h:panelGroup class="ui-icon ui-icon-pencil" style="float:right;"/> 
                                            <h:outputText value="#{r.description}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputTextarea value="#{r.description}" 
                                                             rows="2"
                                                             style="width:90%">
                                            </p:inputTextarea>
                                        </f:facet>
                                    </p:cellEditor>

                                </p:column>

                            </p:dataTable>

                            <h:outputText value="* Substitute @JSTRUCT_ID in the command where necessary"
                                          style="color:#888888;"/>

                        </div>

                    </h:panelGroup>

                </p:tab>






                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    complete tab 
                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                <p:tab id="scriptActionCompleteTab" title="Complete" disabled="#{!scriptActionBean.runsSaved}">

                    <!--
                    <div class="instructions">
                        Expand each script to select the current version of a script marked as 'global'.
                    </div>
                    -->

                    <div style="width:100%; text-align: right; margin-top:10px; margin-bottom: 5px; ">

                        <p:commandButton id="closeDlgBtn" 
                                         value="Close" 
                                         immediate="true" 
                                         icon="ui-icon-close"
                                         onclick="PF('dlgNewScript').hide();"/>
                    </div>

                    <div style="max-height:420px; overflow-x:auto; border:solid 0px #ff00ff; margin-top:10px; ">

                        <p:dataTable value="#{scriptActionBean.analysisRuns}" var="r" 
                                     emptyMessage="No Scripts selected"
                                     editable="true"
                                     editMode="cell">

                            <p:column headerText="Script Name" width="175">
                                <h:outputText value="#{r.analysisScriptVer.analysisScript.scriptName}" style="font-weight: bold"/>
                            </p:column>

                            <p:column headerText="Ver." width="30">
                                <h:outputText value="#{r.analysisScriptVer.version}"/>
                            </p:column>

                            <!--
                            <p:column headerText="Command">
                                <h:outputText value="#{r.commandPattern}"/>
                            </p:column> -->

                            <p:column headerText="Run Description">
                                <h:outputText value="#{r.description}"/>
                            </p:column>

                            <p:column headerText="Status" width="70px">
                                <h:outputText value="#{r.status}"/>
                            </p:column>

                            <p:column headerText="Count" width="37">
                                <h:outputText value="#{r.totalTaskCount}"/>
                            </p:column>

                        </p:dataTable>



                    </div>

                </p:tab>







            </p:tabView>

        </h:form>

    </cc:implementation>

</html>