<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>


        <cc:attribute name="isVersionOne"        type="java.lang.Boolean" required="true" />

        <cc:attribute name="submitErrorMsg"      type="java.lang.String" required="true"/>

        <cc:attribute name="analysisScript"      type="com.just.jstruct.model.Jstruct_AnalysisScript" required="true" />

        <cc:attribute name="analysisScriptVer"   type="com.just.jstruct.model.Jstruct_AnalysisScriptVer" required="true" />

        <cc:attribute name="analysisFiles"       type="java.util.List" required="true" />


        <cc:attribute name="jstructIdSubstitute" type="java.lang.String" required="true"/>


        <cc:attribute name="action_uploadFileEvent" 
                      required="true"
                      method-signature="void uploadFileEvent(org.primefaces.event.FileUploadEvent)"/>

        <cc:attribute name="action_removeFiles" 
                      required="true"
                      method-signature="void removeFiles()"/>

        <cc:attribute name="action_resetForm" 
                      required="true"
                      method-signature="void resetForm()"/>

        <cc:attribute name="action_submitForm" 
                      required="true"
                      method-signature="void submitForm()"/>


        <cc:attribute name="idsToUpdateOnSubmit"    type="java.lang.String" required="true"/>



    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>

        <h:form id="newScriptForm">


            <div class="ui-g">


                <!-- error messages -->

                <div class="ui-g-8">
                    <h:outputText value="#{cc.attrs.submitErrorMsg}" styleClass="redError"/>
                </div>



                <!-- buttons -->

                <div class="ui-g-4" style="text-align: right; white-space: nowrap;">

                    <p:commandButton action="#{cc.attrs.action_resetForm}"
                                     update="@form, #{cc.attrs.idsToUpdateOnSubmit}"
                                     value="Reset"
                                     title="Clear all fields, and start again"
                                     style="margin-right:20px;"
                                     icon="ui-icon-arrowrefresh-1-w">
                    </p:commandButton> 

                    <p:commandButton id="newSubmitButton"
                                     action="#{cc.attrs.action_submitForm}"
                                     update="@form, #{cc.attrs.idsToUpdateOnSubmit}"
                                     value="Submit"
                                     style="color: #ff5300;"
                                     icon="ui-icon-disk"
                                     disabled="#{empty cc.attrs.analysisFiles}"/>

                </div>





                <!-- form input -->

                <div class="ui-g-5">
                    <p:panelGrid style="width: 100%;" styleClass="ui-noborder" > 

                        <!-- script name -->
                        <p:row>
                            <p:column style="width: 80px; text-align:right; vertical-align: top;">
                                <p:outputLabel value="Script Name" />
                            </p:column>
                            <p:column colspan="3">
                                <p:inputText id="scriptName"
                                             value="#{cc.attrs.analysisScript.scriptName}"
                                             styleClass="rqd"
                                             style="width: 93%; "
                                             disabled="#{!cc.attrs.isVersionOne}"/>
                            </p:column>
                        </p:row>

                        <!-- script type -->
                        <p:row>
                            <p:column style="text-align:right; vertical-align: top;">
                                <p:outputLabel value="Script Type" />
                            </p:column>
                            <p:column>
                                <p:selectOneMenu id="scriptType" value="#{cc.attrs.analysisScript.scriptType}"
                                                 styleClass="rqdSelect"
                                                 disabled="#{!cc.attrs.isVersionOne}">
                                    <f:selectItem itemLabel="" itemValue="" />
                                    <f:selectItem itemLabel="MOE" itemValue="MOE" />
                                </p:selectOneMenu>
                            </p:column>

                            <!-- global -->
                            <p:column style="text-align:right; vertical-align: top;">
                                <p:outputLabel value="Global?" />
                            </p:column>
                            <p:column>
                                <p:selectBooleanCheckbox value="#{cc.attrs.analysisScript.global}" 
                                                         disabled="#{!cc.attrs.isVersionOne}"/>

                                <p:commandLink onclick="PF('globalHelpDlg').show();"><i class="fa fa-info-circle"></i></p:commandLink>
                                
                                <p:dialog header="Global" widgetVar="globalHelpDlg"  width="240" modal="true" appendTo="@(body)">
                                    <h:outputText value="Selecting 'Global' will allow all other users to run the current version of this script."/>
                                </p:dialog>

                            </p:column>
                        </p:row>

                        <!-- script description -->
                        <p:row>
                            <p:column style="text-align:right; vertical-align: top;">
                                <p:outputLabel value="Description" />
                            </p:column>
                            <p:column colspan="3">
                                <p:inputTextarea id="scriptDescription"
                                                 rows="5"
                                                 value="#{cc.attrs.analysisScript.description}"
                                                 style="width: 95%; "
                                                 disabled="#{!cc.attrs.isVersionOne}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </div>



                <div class="ui-g-7">
                    <p:panelGrid style="width: 100%;" styleClass="ui-noborder" > 

                        <!-- default command -->
                        <p:row>
                            <p:column style="width: 100px; text-align:right; vertical-align: top;">
                                <p:outputLabel value="Default Command" />
                            </p:column>
                            <p:column colspan="3">
                                <p:inputText id="defaultCommand"
                                             value="#{cc.attrs.analysisScriptVer.defaultCommand}"
                                             styleClass="rqd"
                                             style="width: 99%; "/>
                                <p:message for="defaultCommand"/>
                            </p:column>
                        </p:row>

                        <!-- default command -->
                        <p:row>
                            <p:column></p:column>
                            <p:column colspan="3">
                                <i class="fa fa-hand-o-up" style="margin-right:5px; color:#888888"></i>
                                <h:outputText value="Substitute " style="color:#888888"/>
                                <h:outputText value="#{cc.attrs.jstructIdSubstitute}" style="color:#888888; font-weight: bold;"/>
                                <h:outputText value=" in the command where necessary" style="color:#888888"/>
                            </p:column>
                        </p:row>

                        <!-- v1 comments -->
                        <p:row>
                            <p:column style="text-align:right; vertical-align: top;">
                                <p:outputLabel value="v.1 Comments" />
                            </p:column>
                            <p:column colspan="3">
                                <p:inputTextarea id="comments"
                                                 rows="4"
                                                 value="#{cc.attrs.analysisScriptVer.comments}"
                                                 style="width: 100%; "/>
                            </p:column>
                        </p:row>

                        <!-- v1 status -->
                        <p:row>
                            <p:column style="text-align:right; vertical-align: top;">
                                <p:outputLabel value="Status" />
                            </p:column>
                            <p:column>
                                <p:inputText id="status"
                                             value="#{cc.attrs.analysisScriptVer.status}"
                                             style="width: 94%; "
                                             disabled="true"/>
                            </p:column>

                            <p:column style="text-align:right; vertical-align: top;">
                                <p:outputLabel value="Version" />
                            </p:column>
                            <p:column>
                                <p:inputText id="version"
                                             value="#{cc.attrs.analysisScriptVer.version}"
                                             style="width: 30px; margin-right: 10px"
                                             disabled="true"/>
                            </p:column>
                        </p:row>

                    </p:panelGrid>

                </div>



                <!-- file upload -->

                <div class="ui-g-9" >

                    <div style="height:auto; max-height:250px; width:97%; overflow: auto; ">


                        <p:fileUpload fileUploadListener="#{cc.attrs.action_uploadFileEvent}" 
                                      mode="advanced"
                                      oncomplete="uploadFileCompleteCmd()"
                                      multiple="true"
                                      fileLimit="100" 
                                      fileLimitMessage="Maximum file limit reached. Please upload 100 or less files"
                                      label="Select Script File(s)"/>

                        <p:remoteCommand name="uploadFileCompleteCmd"
                                         id="uploadFileCompleteCmd" 
                                         update=":#{cc.clientId}:newScriptForm:scriptFilesList, :#{cc.clientId}:newScriptForm:newSubmitButton"/>

                        <!-- https://stackoverflow.com/questions/8634156/how-to-find-out-client-id-of-component-for-ajax-update-render-cannot-find-compo/8644762#8644762 -->

                    </div>

                </div>



                <!-- file display -->

                <div class="ui-g-3">

                    <h:panelGroup id="scriptFilesList">

                        <div style="height:auto; max-height:220px; width:97%; overflow: auto; ">

                            <p:dataTable value="#{cc.attrs.analysisFiles}" var="af"
                                         emptyMessage="No files uploaded.">

                                <f:facet name="header">
                                    <h:outputText value="Script File(s) " style="padding-right:5px;"/>
                                    <h:outputText value=" " styleClass="rqd"/>
                                </f:facet>

                                <p:column>
                                    <h:outputText value="#{af.fileName}"/>
                                </p:column>

                            </p:dataTable>

                        </div>

                        <div style="text-align: right; padding-top: 5px; padding-right:6px">
                            <p:commandButton action="#{cc.attrs.action_removeFiles}"
                                             update="@form"
                                             value="Remove all files"
                                             icon="ui-icon-trash"
                                             disabled="#{empty cc.attrs.analysisFiles}"/>
                        </div>

                    </h:panelGroup>


                </div>




            </div>

        </h:form>


    </cc:implementation>

</html>