<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->

    
    
    <cc:interface>

        <cc:attribute name="blastDbTypes" type="java.util.List" required="true" />
        <cc:attribute name="selectedDbTypess" type="java.util.List" required="true" />

        <cc:attribute name="paddingRight" type="java.lang.Integer" required="false" />
        <cc:attribute name="style" type="java.lang.String" required="false" />

        <cc:attribute name="required" type="java.lang.Boolean" required="false" default="false" />
        <cc:attribute name="requiredMessage" type="java.lang.String" required="false" default="required" />

    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>
       
        
        <p:selectManyMenu id="blastDbTypeSelectMany"
                          value="#{cc.attrs.selectedDbTypess}" 
                          required="#{cc.attrs.required}" 
                          requiredMessage="#{cc.attrs.requiredMessage}"
                          showCheckbox="true"
                          style="margin-bottom:2px; #{cc.attrs.style}"
                          styleClass="#{cc.attrs.required ? 'rqd' : ''}">

            <f:selectItems value="#{cc.attrs.blastDbTypes}" var="bdb" 
                           itemValue="#{bdb}"
                           itemLabel="#{bdb.description}"/>

        </p:selectManyMenu>
       
        
        <c:if test="#{cc.attrs.paddingRight != null}">
            <span style="padding-right:#{cc.attrs.paddingRight}px; "></span>
        </c:if>


        <p:message for="blastDbTypeSelectMany"/>


    </cc:implementation>





</html>