<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="selectedClientId"   type="java.lang.Long"       required="true"  />
        <cc:attribute name="includeBlankValue"  type="java.lang.Boolean"    required="false" />
        <cc:attribute name="selectionRequired"  type="java.lang.Boolean"    required="true"/>
        <cc:attribute name="paddingRight"       type="java.lang.Integer"    required="false" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>
        
        
        <p:selectOneMenu value="#{cc.attrs.selectedClientId}" 
                         style="vertical-align: middle; "
                         required="#{cc.attrs.selectionRequired}"
                         requiredMessage="Client is required">
            
            <c:if test="#{cc.attrs.includeBlankValue}">
                <f:selectItem itemValue="" itemLabel="     "/>
            </c:if>
            
            <f:selectItems value="#{clientSelect.allClients}" var="c" 
                           itemValue="#{c.clientId}"
                           itemLabel="#{c.name}"/>
            
        </p:selectOneMenu>
        
        <p:graphicImage value="/css/rqd.png" style="padding-left:3px; vertical-align: text-top" rendered="#{cc.attrs.selectionRequired}"/>
        
        <c:if test="#{cc.attrs.paddingRight != null}">
            <span style="padding-right:#{cc.attrs.paddingRight}px; "></span>
        </c:if>
        

        
    </cc:implementation>
</html>