<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>

    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>

        <p:panel style="margin: 10px 3px 10px 3px; ">
            <f:facet name="header"> JStruct License </f:facet>

            <p>JStruct is an open source stand-alone software tool under development by Just – Evotec Biologics for the storage and retrieval of public and proprietary three-dimensional macromolecular structures.</p>

            <p>
                Copyright (C) 2023 Just – Evotec Biologics
                <br/>Just – Evotec Biologics, Inc.
                <br/>401 Terry Avenue North, Seattle WA 98109
                <br/>Email: <a href="mailto:jstruct@evotec.com" target="_blank">jstruct@evotec.com</a>
            </p>

            <p style="margin-left:20px;">This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>

            <p style="margin-left:20px;">This program is distributed "as is" in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>

            <p style="margin-left:20px;">You should have received a copy of the GNU General Public License along with this program. If not, see <a href="http://www.gnu.org/licenses/" alt="http://www.gnu.org/licenses/" target="_blank">http://www.gnu.org/licenses/</a>.</p>

            <p>JStruct incorporates the following components without modification, and may be used only in compliance with all applicable licenses:</p>


        </p:panel>



        


    </cc:implementation>

</html>