<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="externalLibrarys" 
                      type="java.util.List" 
                      required="true" 
                      shortDescription="List of ExternalLibrary objects"/>
        
        <cc:attribute name="optionalClass" 
                      type="java.lang.String"
                      required="false" 
                      shortDescription="optional class applied to the table"/>
        
    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>

        <!-- open source libraries -->


        <p:dataTable id="aminoAcidTable" 
                     value="#{cc.attrs.externalLibrarys}" var="l" 
                     resizableColumns="true" 
                     style="margin: 10px 3px 10px 3px; " styleClass="#{cc.attrs.optionalClass}">

            
            <f:facet name="header">  
                <h:outputText value="Third-party software used by JStruct"/>
            </f:facet> 

            <p:column headerText="Library" sortBy="#{l.libraryName}" width="40%" style="padding: 5px">
                <h:outputLink value="#{l.libraryURL}" target="_blank" title="#{l.libraryName} - #{l.libraryURL}">
                    <h:outputText value="#{l.libraryName}"/>
                </h:outputLink>
            </p:column>

            <p:column headerText="Version" sortBy="#{l.libraryVersion}" width="15%" style="padding: 5px">
                <h:outputText value="#{l.libraryVersion}" />
            </p:column>

            <p:column headerText="License(s)" width="45%" style="padding: 5px">
                <ui:repeat value="#{l.licenseMap.entrySet().toArray()}" var="ll">
                    <h:outputLink value="#{ll.value}" target="_blank" title="#{ll.key} - #{ll.value}">
                        <h:outputText value="#{ll.key}"/>
                    </h:outputLink>
                    <br/>
                </ui:repeat>
            </p:column>

        </p:dataTable>


    </cc:implementation>

</html>