<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="pdbId" type="java.lang.String" required="true" 
                      shortDescription=" character PDB Identifier from RCSB"/>

        <cc:attribute name="target" type="java.lang.String" required="false"
                      shortDescription="a href target value; optional"/>

        <cc:attribute name="optionalStyle" type="java.lang.String" required="false" 
                      shortDescription="additional style to add to the h:output link element; optional"/>

    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>



        <h:outputLink value="#{props.get.rcsbViewerUrl}#{cc.attrs.pdbId}"
                      title="#{props.get.rcsbViewerUrl}#{cc.attrs.pdbId}"
                      target="#{cc.attrs.target}" 
                      styleClass="rcsbViewerLink"
                      style="#{cc.attrs.optionalStyle}">

            <h:outputText value="open in RCSB 3D viewer"  /> 

        </h:outputLink>




    </cc:implementation>

</html>