<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    
    
    <!-- similar to linkStructurePermalink, but simplified, and uses the servlet request context to create the base URL -->
    
    
    
    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="fullStructure" type="com.just.jstruct.model.Jstruct_FullStructure" required="true" 
                      shortDescription="Jstruct_FullStructure object - must be persisted"/>

        <cc:attribute name="target" type="java.lang.String" required="false"
                      shortDescription="a href target value; optional"/>

        <cc:attribute name="optionalStyle" type="java.lang.String" required="false" 
                      shortDescription="additional style to add to the h:output link element; optional"/>

    </cc:interface>



    <!-- IMPLEMENTATION -->

    <cc:implementation>

        

        <!-- the link -->
        <h:outputLink value="#{cc.attrs.fullStructure.link}" 
                      title="#{cc.attrs.fullStructure.currentUserCanRead ? (cc.attrs.fullStructure.pdbTitle.concat(cc.attrs.fullStructure.obsolete ? ' (Obsolete)' : '')) : ''}"
                      target="#{cc.attrs.target}" 
                      style="#{cc.attrs.optionalStyle} #{!cc.attrs.fullStructure.currentUserCanRead ? 'color:#999999;' : ''}"
                      disabled="#{!cc.attrs.fullStructure.currentUserCanRead}"
                      styleClass="structureLink">


            <!-- jstructid -->
<!--            <h:outputText value="#{props.get.structureIdPrefix}"/>
            <h:outputText value="#{cc.attrs.fullStructure.structureId}" /> 
            <h:outputText value=".#{cc.attrs.fullStructure.version}" rendered="#{cc.attrs.fullStructure.version ne ''}"/> 
            <h:outputText value=" [#{cc.attrs.fullStructure.pdbIdentifier}]" rendered="#{cc.attrs.fullStructure.fromRcsb}"/> 
-->
            <h:outputText value="#{cc.attrs.fullStructure.jstructDisplayId}" />

        </h:outputLink>



    </cc:implementation>

</html>