<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="fullStructure" type="com.just.jstruct.model.Jstruct_FullStructure" required="true" 
                      shortDescription="Jstruct_FullStructure object - must be persisted"/>

        <cc:attribute name="displayAs" type="java.lang.String" required="false" default="jstructid"
                      shortDescription="how to display the link, values are: 'jstructid', 'url'; optional, defaults to jstructid"/>

        <cc:attribute name="target" type="java.lang.String" required="false"
                      shortDescription="a href target value; optional"/>

        <cc:attribute name="optionalStyle" type="java.lang.String" required="false" 
                      shortDescription="additional style to add to the h:output link element; optional"/>


        <cc:attribute name="showCopyIcon" type="java.lang.Boolean" required="false" default="false" 
                      shortDescription="include the clipboard icon/link which will 'copy URL to clipboard'"/>

        <cc:attribute name="textAfterLink" type="java.lang.String" required="false"
                      shortDescription="any text to appear in grey after the link"/>

    </cc:interface>



    <!-- IMPLEMENTATION -->

    <cc:implementation>



        <!-- DOWNLOAD DOWNLOAD DOWNLOAD DOWNLOAD DOWNLOAD DOWNLOAD DOWNLOAD DOWNLOAD DOWNLOAD DOWNLOAD DOWNLOAD DOWNLOAD DOWNLOAD    -->

          

        <!-- copy icon -->
        <h:panelGroup rendered="#{cc.attrs.showCopyIcon}">
            <span onclick="copyToClipboard('#{cc.attrs.fullStructure.linkMoeAsPdb});" 
                  style="float:left;" class="addPointer" 
                  title="copy link to clipboard">
                <h:panelGroup styleClass="ui-icon ui-icon-clipboard"/>
            </span>
        </h:panelGroup>

        <!-- the link -->
        <h:outputLink value="#{cc.attrs.fullStructure.linkMoeAsPdb}" 
                      title="#{cc.attrs.fullStructure.currentUserCanRead ? (cc.attrs.fullStructure.pdbTitle.concat(cc.attrs.fullStructure.obsolete ? ' (Obsolete)' : '')) : ''}"
                      target="#{cc.attrs.target}" 
                      style="#{cc.attrs.optionalStyle} #{!cc.attrs.fullStructure.currentUserCanRead ? 'color:#999999;' : ''}"
                      disabled="#{!cc.attrs.fullStructure.currentUserCanRead}"
                      styleClass="structureLink">

            <!-- jstructid -->
            <h:panelGroup rendered="#{cc.attrs.displayAs eq 'jstructid'}">
                <h:outputText value="#{cc.attrs.fullStructure.jstructDisplayId}" /> 
                <h:outputText value=".pdb"/> 
            </h:panelGroup>

            <!-- url -->
            <h:panelGroup rendered="#{cc.attrs.displayAs eq 'url'}">
                <h:outputText value="#{cc.attrs.fullStructure.linkMoeAsPdb}" />  
            </h:panelGroup>

        </h:outputLink>

        <!-- text after link -->
        <h:outputText value="#{cc.attrs.textAfterLink}" style="margin-left:5px" styleClass="greay" rendered="#{not empty cc.attrs.textAfterLink}"/>
       


        <!-- if clipboard icon was added, we got a floater, so clear it -->
        <h:panelGroup rendered="#{cc.attrs.showCopyIcon}">
            <div style="clear: both;"></div>
        </h:panelGroup>



    </cc:implementation>

</html>