<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="fullStructure" type="com.just.jstruct.model.Jstruct_FullStructure" required="true" 
                      shortDescription="Jstruct_FullStructure object"/>

        <cc:attribute name="linkTo" type="java.lang.String" required="true" 
                      shortDescription="type of link for the RSCB structure, values are: 'page', 'download', 'display'"/>

        <cc:attribute name="target" type="java.lang.String" required="false"
                      shortDescription="a href target value; optional"/>

        <cc:attribute name="optionalStyle" type="java.lang.String" required="false" 
                      shortDescription="additional style to add to the h:output link element; optional"/>

        <cc:attribute name="showCopyIcon" type="java.lang.Boolean" required="false" default="false" 
                      shortDescription="include the clipboard icon/link which will 'copy URL to clipboard'"/>

    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>


        <c:if test="#{cc.attrs.linkTo eq 'page' and !cc.attrs.fullStructure.obsolete}">
            <c:set var="rcsbUrl" value="#{props.get.rcsbBaseUrl}#{cc.attrs.fullStructure.pdbIdentifier}"/>
        </c:if>

        <c:if test="#{cc.attrs.linkTo eq 'page' and cc.attrs.fullStructure.obsolete}">
            <c:set var="rcsbUrl" value="#{props.get.rcsbObsoleteUrl}#{cc.attrs.fullStructure.pdbIdentifier}"/>
        </c:if>


        <c:if test="#{cc.attrs.linkTo eq 'download'}">
            <c:set var="rcsbUrl" value="#{props.get.rcsbRestDownloadUrl}#{cc.attrs.fullStructure.pdbIdentifier}.#{cc.attrs.fullStructure.actualFileExt}"/>
        </c:if>

        <c:if test="#{cc.attrs.linkTo eq 'display'}">
            <c:set var="rcsbUrl" value="#{props.get.rcsbRestFileUrl}#{cc.attrs.fullStructure.pdbIdentifier}.#{cc.attrs.fullStructure.actualFileExt}"/>
        </c:if>



        <h:panelGroup rendered="#{cc.attrs.showCopyIcon}">
            <span onclick="copyToClipboard('#{structureUrl}');" style="float:left;" class="addPointer">
                <h:panelGroup styleClass="ui-icon ui-icon-clipboard"/>
            </span>
        </h:panelGroup>



        <h:outputLink value="#{rcsbUrl}" 
                      title="#{cc.attrs.fullStructure.pdbTitle}"
                      target="#{cc.attrs.target}" 
                      styleClass="structureLink"
                      style="#{cc.attrs.optionalStyle}">

            <h:outputText value="#{rcsbUrl}" /> 

        </h:outputLink>


        <!-- if clipboard icon was added, we got a floater, so clear it -->
        <h:panelGroup rendered="#{cc.attrs.showCopyIcon}">
            <div style="clear: both;"></div>
        </h:panelGroup>



    </cc:implementation>

</html>