<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>
        <!--<cc:attribute name="selectedValue" type="com.just.jstruct.model.Jstruct_Program" required="true" />-->
        <cc:attribute name="selectedProgramId" type="java.lang.Long" required="true" />-->
        <cc:attribute name="includeBlankValue" type="java.lang.Boolean" required="false" />
        <cc:attribute name="paddingRight" type="java.lang.Integer" required="false" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>
        
        
        <p:selectOneMenu value="#{cc.attrs.selectedProgramId}" 
                         style="vertical-align: middle; ">
            
            <c:if test="#{cc.attrs.includeBlankValue}">
                <f:selectItem itemValue="" itemLabel="     "/>
            </c:if>
            
            <f:selectItems value="#{programSelect.programs}" var="p" 
                           itemValue="#{p.programId}"
                           itemLabel="#{p.name}"/>
            
        </p:selectOneMenu>
        
        <c:if test="#{cc.attrs.paddingRight != null}">
            <span style="padding-right:#{cc.attrs.paddingRight}px; "></span>
        </c:if>
        

        
    </cc:implementation>
</html>