<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="elementId" type="java.lang.String" required="true" />
        <cc:attribute name="selectValue" type="com.just.jstruct.structureSearch.enums.QueryMode" required="true" />
        <cc:attribute name="labelText" type="java.lang.String" required="true" />
        <cc:attribute name="paddingRight" type="java.lang.Integer" required="false" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>

        <h:panelGroup style="white-space: nowrap">


            <p:outputLabel for="#{cc.attrs.elementId}" value="#{cc.attrs.labelText}" style="margin-right:5px; "/>

            <p:selectOneMenu id="#{cc.attrs.elementId}" 
                             value="#{cc.attrs.selectValue}" 
                             style="vertical-align: middle; ">

                <f:selectItems value="#{queryModeSelect.queryModeItems}" var="qm" 
                               itemValue="#{qm}"
                               itemLabel="#{qm.label}"/>

            </p:selectOneMenu>

            <c:if test="#{cc.attrs.paddingRight != null}">
                <span style="padding-right:#{cc.attrs.paddingRight}px; "></span>
            </c:if>

        </h:panelGroup>

    </cc:implementation>
</html>