<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="displayResidues" type="java.util.List" required="true" />
        <cc:attribute name="indexLabel" type="java.lang.String" required="true"/>
        <cc:attribute name="wordSize" type="java.lang.Integer" required="true"/>
        <cc:attribute name="wordsPerLine" type="java.lang.Integer" required="true" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>

        <c:set value="#{cc.attrs.wordSize}" var="wrdSize"/>
        <c:set value="#{cc.attrs.wordsPerLine}" var="wrdsPerLine"/>
        <c:set value="#{wrdSize * wrdsPerLine}" var="residuesPerLine"/>

        <!--
        <h:outputText value="wrdSize: #{wrdSize}"/><br/><br/>
        <h:outputText value="wrdsPerLine: #{wrdsPerLine}"/><br/><br/>
        -->

        <ui:repeat value="#{cc.attrs.displayResidues}" var="res" varStatus="i">


            <!-- this is slightly a hack to set the title of each residue.. note that the p:tooltip is removed as it totally ruins text-selection of the sequence) -->
            <c:set value="#{cc.attrs.indexLabel} #{res.ordinal} #{not empty res.icode ? '(insertion code: '.concat(res.icode).concat(')')  : ''} &#10;Letter: #{res.letter} &#10;Abbrev: #{res.abbrev} &#10;Residue Type: #{res.residueType}  #{not empty res.atoms ? '&#10;Atoms: '.concat(res.atoms)  : ''}  " var="hover"/>

            <h:outputText id="res"
                          value="#{res.letter}" 
                          style="color:##{res.hexColor}" 
                          styleClass="residueLetter"
                          title="#{hover}"/> 

            <!-- add space between every 'word' -->
            <h:outputText value=" " rendered="#{i.index % wrdSize eq wrdSize - 1}" style="padding-right:5px;"/>
            <!-- add [line break] between every line -->
            <h:outputText value="&lt;br/&gt;" rendered="#{i.index % residuesPerLine eq residuesPerLine - 1}" escape="false"/>


        </ui:repeat>
        
        



    </cc:implementation>

</html>