<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="displaySequences" type="java.util.List" required="true" 
                      shortDescription="List of DisplaySequence objects"/>

        <cc:attribute name="chainCount" type="java.lang.Integer" required="false" 
                      shortDescription="Count of chains for this structure; displayed in section title."/>

        <cc:attribute name="prependToUpdated" type="java.lang.String" required="true" 
                      shortDescription="ids of the containers in the 'update' format holding this composite component. example ':seqForm:seqPanel'"/>

        <cc:attribute name="jstructId" type="java.lang.String" required="true" 
                      shortDescription="JStruct ID for diaplay in the header"/>

        <cc:attribute name="verboseChainDisplay" type="java.lang.Boolean" required="true"
                      shortDescription="False for just Chain ID link and residue count; True will also include the sequence"/>

        <cc:attribute name="allowChainDialog" type="java.lang.Boolean" required="true" 
                      shortDescription="True to display the chain names as links that open dialogs which display full sequence info. "/>

        <cc:attribute name="structureFastaLink" type="com.just.jstruct.pojos.StructureFastaLink" required="false" 
                      shortDescription="If included a FASTA menu will be displayed in the title bar"/>

    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>



        <p:panel id="seqPanel"  toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;">

            <f:facet name="header">
                <h:outputText value="Sequences " style="margin-right:5px;"/>
                <h:outputText value="(#{cc.attrs.chainCount})" rendered="#{not empty cc.attrs.chainCount}" style="font-weight: normal;"/>
            </f:facet>


            
            <f:facet name="actions">

                <p:commandButton id="fastaBtn" value="FASTA" type="button"
                                 styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                 style="font-size: 10px; padding:0; margin-right:10px"
                                 rendered="#{cc.attrs.structureFastaLink ne null}"/>

                <p:tieredMenu overlay="true" trigger="fastaBtn" my="left top" at="left bottom">
                    
                        <p:submenu label="Protein" >
                            <p:menuitem value="Atomic Coordinates" url="#{cc.attrs.structureFastaLink.proteinAtomFastaUrl}"/>
                            <p:menuitem value="SEQRES" url="#{cc.attrs.structureFastaLink.proteinSeqresFastaUrl}"/>
                        </p:submenu>
                        <p:submenu label="Nucleic Acid">
                            <p:menuitem value="Atomic Coordinates" url="#{cc.attrs.structureFastaLink.nucleicAtomFastaUrl}" />
                            <p:menuitem value="SEQRES" url="#{cc.attrs.structureFastaLink.nucleicSeqresFastaUrl}" />
                        </p:submenu>
                        <p:submenu label="All">
                            <p:menuitem value="Atomic Coordinates" url="#{cc.attrs.structureFastaLink.allAtomFastaUrl}" />
                            <p:menuitem value="SEQRES" url="#{cc.attrs.structureFastaLink.allSeqresFastaUrl}" />
                        </p:submenu>
                   

                </p:tieredMenu>

            </f:facet>




            <ui:repeat id="seqRepeat" value="#{cc.attrs.displaySequences}" var="seq" varStatus="loop">

                <!-- chain link/dialog -->
                <h:panelGroup class="jcol-6 jlbl-left" style="margin-bottom: 0;">

                    <!-- TODO create a new, and put the loader spinner somewhere better (more visible to the chain that was clicked) -->
                    <p:commandLink id="seqLink" value="Chain: #{seq.chain.name}" 
                                   rendered="#{cc.attrs.allowChainDialog}"
                                   action="#{chainDisplayBean.getDaChain(seq.chain.chainId)}"
                                   oncomplete="PF('chainDisplayDialog').show();" 
                                   update="#{cc.attrs.prependToUpdated}:seqDialog" 
                                   styleClass="structureLink" title="view full chain/sequence information">
                        <p:ajax  global="false"/> <!-- todo better ajax status throughout -->
                    </p:commandLink>  

                    <h:outputText value="Chain: #{seq.chain.name}"
                                  rendered="#{!cc.attrs.allowChainDialog}"/>

                </h:panelGroup>

                <!-- residue count -->
                <h:outputText value=" Residue Count: #{seq.chain.residueCount} " class="jcol-6 jlbl-right" style="margin-bottom: 0; padding-right: 8px"/>

                <!-- chain(sequence) display -->
                <h:panelGroup class="jcol-12 jdta" style="margin-top: 0; margin-bottom:10px; background-color: #ffffff" rendered="#{cc.attrs.verboseChainDisplay}">
                    <just:sequenceDisplay displaySequence="#{seq}" wordSize="10" wordsPerLine="6"/>
                </h:panelGroup>

            </ui:repeat>


            <!-- chain/sequence dialog -->
            <h:panelGroup id="seqDialog">
                <p:dialog id="chainDisplayDlg" widgetVar="chainDisplayDialog" dynamic="true" modal="true" width="600" minHeight="300" height="555" appendTo="@(body)" >
                    <h:form id="chainDisplayForm">  

                        <h:outputText value="Chain: #{chainDisplayBean.chain.name} " class="jcol-6 title2"/>
                        <h:outputText value="#{cc.attrs.jstructId}" class="jcol-6 title2" style="text-align: right"/>

                        <div style="clear: both;"></div>

                        <div style="background-color: #eeeeee; padding:4px 10px; margin:1px 5px 5px 0;" >

                            <h:outputText value=" All Chains: " style="margin-right:10px;"/>
                            <ui:repeat id="seqAllChains" value="#{chainDisplayBean.allChains}" var="c">

                                <p:commandLink id="seqLink2" value="#{c.name}" 
                                               global="false" 
                                               onstart="PF('chainChangeStatus').show();"
                                               oncomplete="PF('chainChangeStatus').hide();"
                                               actionListener="#{chainDisplayBean.getDaChain(c.chainId)}" 
                                               update="#{cc.attrs.prependToUpdated}:chainDisplayForm"
                                               styleClass="structureLink"
                                               title="view full chain/sequence information for chain: #{c.name}"
                                               rendered="#{c.chainId ne chainDisplayBean.chain.chainId}"/>

                                <h:outputText value="#{c.name}" rendered="#{c.chainId eq chainDisplayBean.chain.chainId}" style="font-weight: bold"/>

                                &nbsp;
                            </ui:repeat>

                            <p:overlayPanel widgetVar="chainChangeStatus" style="padding:20px; margin:20px" > 
                                <h:outputText value="Loading..." styleClass="title3"/>
                            </p:overlayPanel>
                        </div>

                        <!-- primary theoretical sequence -->
                        <h:outputText value=" Sequence " class="jcol-6 jlbl-left"/>
                        <h:outputText value=" Residue Count: #{chainDisplayBean.chain.residueCount} " class="jcol-6 jlbl-right" style="padding-right: 8px;"/>
                        <h:panelGroup class="jcol-12 jdta" style="margin-top: 0; margin-bottom:10px; background-color: #ffffff; border-width: 3px">
                            <just:sequenceDisplay displaySequence="#{chainDisplayBean.displaySequence}" wordSize="10" wordsPerLine="6"/>
                        </h:panelGroup>

                        <div style="clear: both;"></div>

                        <ui:repeat id="agRepeat" value="#{chainDisplayBean.displayAtomGroups}" var="ag" varStatus="loop" >
                            <p:panel header="#{ag.atomGrouping.type}" toggleable="true" toggleSpeed="250" styleClass="structureSection" >

                                <!-- any coords sequence -->
                                <h:outputText value=" Any coordinates " class="jcol-12 jlbl-left"/>
                                <h:panelGroup class="jcol-12 jdta" style="margin-top: 0; margin-bottom:10px; background-color: #ffffff;">
                                    <just:residuesDisplay displayResidues="#{ag.anyCoordsResidues}" indexLabel="#{ag.indexLabel}" wordSize="10" wordsPerLine="6"/>
                                </h:panelGroup>


                                <!-- all coords sequence -->
                                <h:outputText value=" All coordinates " class="jcol-12 jlbl-left"/>
                                <h:panelGroup class="jcol-12 jdta" style="margin-top: 0; margin-bottom:10px; background-color: #ffffff;">
                                    <just:residuesDisplay displayResidues="#{ag.allCoordsResidues}" indexLabel="#{ag.indexLabel}" wordSize="10" wordsPerLine="6"/>
                                </h:panelGroup>

                                <!-- all coords sequence -->
                                <h:outputText value=" CA coordinates " class="jcol-12 jlbl-left"/>
                                <h:panelGroup class="jcol-12 jdta" style="margin-top: 0; margin-bottom:10px; background-color: #ffffff;">
                                    <just:residuesDisplay displayResidues="#{ag.caCoordsResidues}" indexLabel="#{ag.indexLabel}" wordSize="10" wordsPerLine="6"/>
                                </h:panelGroup>

                                <!-- Backbone coords sequence -->
                                <h:outputText value=" Backbone coordinates " class="jcol-12 jlbl-left"/>
                                <h:panelGroup class="jcol-12 jdta" style="margin-top: 0; margin-bottom:10px; background-color: #ffffff;">
                                    <just:residuesDisplay displayResidues="#{ag.bkbnCoordsResidues}" indexLabel="#{ag.indexLabel}" wordSize="10" wordsPerLine="6"/>
                                </h:panelGroup>

                                <!-- Backbone+CB coords sequence -->
                                <h:outputText value=" Backbone + CB coordinates " class="jcol-12 jlbl-left"/>
                                <h:panelGroup class="jcol-12 jdta" style="margin-top: 0; margin-bottom:10px; background-color: #ffffff;">
                                    <just:residuesDisplay displayResidues="#{ag.bkbnCbCoordsResidues}" indexLabel="#{ag.indexLabel}" wordSize="10" wordsPerLine="6"/>
                                </h:panelGroup>

                                <div style="clear: both;"></div>

                            </p:panel>
                        </ui:repeat>

                    </h:form>
                </p:dialog>
            </h:panelGroup>



            <div style="clear: both;"></div>
        </p:panel>








    </cc:implementation>

</html>