<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>



        <cc:attribute name="jrnl" type="com.just.jstruct.model.Jstruct_PdbJrnl" required="true" 
                      shortDescription="Jstruct_PdbJrnl object"/>



    </cc:interface>





    <!-- IMPLEMENTATION -->

    <cc:implementation>



        <p:panel header="JRNL (primary)" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;">



            <h:outputText value="AUTH:" class="jcol-3 jlbl-right"/>
            <h:panelGroup class="jcol-9">
                <p:inputText value="#{cc.attrs.jrnl.auth}" style="box-sizing:border-box; width:100%;"/>
            </h:panelGroup>


            <h:outputText value="TITL:" class="jcol-3 jlbl-right"/>
            <h:panelGroup class="jcol-9">
                <p:inputText value="#{cc.attrs.jrnl.titl}" style="box-sizing:border-box; width:100%;"/>
            </h:panelGroup>


            <div style="clear: both;"></div>
        </p:panel>



    </cc:implementation>

</html>