<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="editableStructVersion" type="com.just.jstruct.model.Jstruct_StructVersion" required="false" 
                      shortDescription="Jstruct_StructVersion object for the edit mode"/>

        <cc:attribute name="allowPanelToggle" type="java.lang.Boolean" required="false" default="true"
                      shortDescription="Allow the user to toggle the panel open/closed (toggleable attribute on p:panel)"/>

        <cc:attribute name="showPanelBorder" type="java.lang.Boolean" required="false" default="false"
                      shortDescription="show the border around the entire panel"/>
        
        
        <cc:attribute name="clientSelectionRequired"  type="java.lang.Boolean"    required="true"
                      shortDescription="Is the Client dropdown a required field?"/>

    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>





        <p:panel header="Metadata" toggleable="#{cc.attrs.allowPanelToggle}" toggleSpeed="250" styleClass="structureSection" style="border:#{cc.attrs.showPanelBorder ? '1' : '0'};">


            <h:panelGroup rendered="#{!props.get.clientSupportTypeIsNone}"> <!-- none | optional | required -->
                <h:outputText value="Client:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <just:clientSelect selectedClientId="#{cc.attrs.editableStructVersion.clientId}"
                                       selectionRequired="#{cc.attrs.clientSelectionRequired}" 
                                       includeBlankValue="true"/>
                </h:panelGroup>
            </h:panelGroup>

            
            <h:outputText value="Program:" class="jcol-3 jlbl-right"/>
            <h:panelGroup class="jcol-9">
                <just:programSelect selectedProgramId="#{cc.attrs.editableStructVersion.programId}"
                                    includeBlankValue="true"/>
            </h:panelGroup>


            <h:outputText value="Model:" class="jcol-3 jlbl-right"/>
            <h:panelGroup class="jcol-9">
                <p:selectBooleanCheckbox value="#{cc.attrs.editableStructVersion.model}" />
            </h:panelGroup>


            <h:outputText value="Method:" class="jcol-3 jlbl-right"/>
            <h:panelGroup class="jcol-9">
                <p:inputText value="#{cc.attrs.editableStructVersion.structMethod}" style="box-sizing:border-box; width:100%;"/>
            </h:panelGroup>


            <h:outputText value="Target:" class="jcol-3 jlbl-right"/>
            <h:panelGroup class="jcol-9">
                <p:inputText value="#{cc.attrs.editableStructVersion.target}" style="box-sizing:border-box; width:100%;"/>
            </h:panelGroup>


            <h:outputText value="Description:" class="jcol-3 jlbl-right"/>
            <h:panelGroup class="jcol-9">
                <p:inputTextarea value="#{cc.attrs.editableStructVersion.description}" 
                                 style="width:97%;" autoResize="false"
                                 rows="15"/>
            </h:panelGroup>



            <div style="clear: both;"></div>
        </p:panel>





    </cc:implementation>

</html>