<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->



    <cc:interface>

        <cc:attribute name="fullStructureList" type="java.util.List" required="true"
                      shortDescription="List of Jstruct_FullStructure objects"/>
        
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>


        <p:dataTable value="#{cc.attrs.fullStructureList}" var="s" emptyMessage="No Structures selected." >
            
            <p:column headerText="Structure" sortBy="#{s.jstructDisplayId}" width="145px;">
                <h:outputText value="#{s.jstructDisplayId}" 
                              style="#{s.currentUserCanGrant ? 'font-weight:bold;' : 'color:#777777;'}"/>
            </p:column>
            
            <p:column headerText="Title" sortBy="#{s.pdbTitle}" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;" >
                <h:outputText value="#{s.pdbTitle}" title="#{s.pdbTitle}" rendered="#{s.currentUserCanRead}"
                              style="#{s.currentUserCanGrant ? '' : 'color:#777777;'}"/>
            </p:column>
            
            <p:column headerText="Owner" sortBy="#{s.ownerName}" width="110px;">
                <h:outputText value="#{s.ownerName}"
                              style="#{s.currentUserCanGrant ? '' : 'color:#777777;'}"/>
            </p:column>
            
            <p:column headerText="Can Grant" sortBy="#{s.currentUserCanGrant}" width="55px;">
                <h:outputText value="#{s.currentUserCanGrant ? 'Yes' : 'No'}"
                              style="#{s.currentUserCanGrant ? '' : 'color:#777777;'}"/>
            </p:column>
            
        </p:dataTable>


    </cc:implementation>





</html>