<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>


        <cc:attribute name="displayMode" type="java.lang.String" required="false" default="view"
                      shortDescription="current mode of display; allowed values: view, edit "/>



        <cc:attribute name="jrnl" type="com.just.jstruct.model.Jstruct_PdbJrnl" required="true" 
                      shortDescription="Jstruct_PdbJrnl object"/>

        <cc:attribute name="parsable" type="java.lang.Boolean" required="false" default="true"
                      shortDescription="A file is 'parsable' if it is one of our expecte types (pdb,cif,moe). Parsable files do not allow for editing, AND show all fields. (Non-parsable fields only contain AUTH and TITL)"/>


        <cc:attribute name="allowActions" type="java.lang.Boolean" required="false" default="false"
                      shortDescription="Allow and show the edit, save, and cancel actions"/>



        <cc:attribute name="editAction" 
                      required="false"
                      method-signature="void editAction(javax.faces.event.ActionEvent)"/>

        <cc:attribute name="saveAction" 
                      required="false"
                      method-signature="void saveAction(javax.faces.event.ActionEvent)"/>

        <cc:attribute name="cancelAction" 
                      required="false"
                      method-signature="void cancelAction(javax.faces.event.ActionEvent)"/>


    </cc:interface>



    

    <!-- IMPLEMENTATION -->

    <cc:implementation>


        <h:form id="jrnlSectionForm">
            <p:growl id="jrnlSectionGrowl"/>

            
            <!-- ###############################################################################################################################
                 VIEW DISPLAY_MODE
            ################################################################################################################################ -->

            <p:panel header="JRNL (primary)" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;" rendered="#{cc.attrs.displayMode eq 'view'}">

                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   title="Edit JRNL section"
                                   actionListener="#{cc.attrs.editAction}"
                                   update="@form"
                                   rendered="#{cc.attrs.allowActions}"
                                   ajax="true">
                        <h:outputText styleClass="ui-icon ui-icon-pencil" />
                    </p:commandLink>
                </f:facet>

                <h:outputText value=" AUTH: " class="jcol-3 jlbl-right"/>
                <h:outputText value="#{cc.attrs.jrnl.auth}" class="jcol-9 jdta"/>

                <h:outputText value=" TITL: " class="jcol-3 jlbl-right"/>
                <h:outputText value="#{cc.attrs.jrnl.titl}" class="jcol-9 jdta"/>

                <h:panelGroup rendered="#{cc.attrs.parsable}">
                    <h:outputText value=" EDIT: " class="jcol-3 jlbl-right"/>
                    <h:outputText value="#{cc.attrs.jrnl.edit}" class="jcol-9 jdta"/>

                    <h:outputText value=" REF: " class="jcol-3 jlbl-right"/>
                    <h:outputText value="#{cc.attrs.jrnl.ref}" class="jcol-9 jdta"/>

                    <h:outputText value=" PUBL: " class="jcol-3 jlbl-right"/>
                    <h:outputText value="#{cc.attrs.jrnl.publ}" class="jcol-9 jdta"/>

                    <h:outputText value=" REFN: " class="jcol-3 jlbl-right"/>
                    <h:outputText value="#{cc.attrs.jrnl.refn}" class="jcol-9 jdta"/>

                    <h:outputText value=" PMID: " class="jcol-3 jlbl-right"/>
                    <h:outputText value="#{cc.attrs.jrnl.pmid}" class="jcol-9 jdta"/>

                    <h:outputText value=" DOI: " class="jcol-3 jlbl-right"/>
                    <h:outputText value="#{cc.attrs.jrnl.doi}" class="jcol-9 jdta"/>
                </h:panelGroup>

                <div style="clear: both;"></div>
            </p:panel>


            <!-- ###############################################################################################################################
                   EDIT DISPLAY_MODE
              ################################################################################################################################ -->

            <p:panel header="JRNL (primary)" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;" rendered="#{cc.attrs.displayMode eq 'edit'}">


                <f:facet name="actions">
                    
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   title="Save changes"
                                   actionListener="#{cc.attrs.saveAction}"
                                   update="@form"
                                   rendered="#{cc.attrs.allowActions}"
                                   ajax="true">
                        <h:outputText styleClass="ui-icon ui-icon-disk" />
                    </p:commandLink>

                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   title="Cancel"
                                   actionListener="#{cc.attrs.cancelAction}"
                                   update="@form"
                                   rendered="#{cc.attrs.allowActions}"
                                   ajax="true">
                        <h:outputText styleClass="ui-icon ui-icon-cancel" />
                    </p:commandLink>

                </f:facet>


                <h:outputText value=" AUTH: " class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.jrnl.auth}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>


                <h:outputText value=" TITL: " class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.jrnl.titl}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>


                <div style="clear: both;"></div>
            </p:panel>



        </h:form>


    </cc:implementation>

</html>