<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="compnds" type="java.util.List" required="true" 
                      shortDescription="List of Jstruct_PdbCompnd objects"/>
        
    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>


        <p:panel header="COMPND" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;">

            <ui:repeat value="#{cc.attrs.compnds}" var="c" varStatus="loop">
                <h:outputText value="#{c.name}" class="jcol-12 jlbl-left" style="margin-bottom: 0;"/>
                <pre style="word-wrap: break-word; white-space: pre-wrap; max-width:700px">
                    <h:outputText value="#{c.value}" class="jcol-12 jdta" style="margin-left: 20px; margin-bottom:10px;"/>
                </pre>
            </ui:repeat>
            
            <div style="clear: both;"></div>

        </p:panel>

        
        
    </cc:implementation>

</html>