<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>


        <cc:attribute name="displayMode" type="java.lang.String" required="false" default="view"
                      shortDescription="current mode of display; allowed values: view, edit "/>

        <cc:attribute name="fullStructure" type="com.just.jstruct.model.Jstruct_FullStructure" required="false" 
                      shortDescription="Jstruct_FullStructure object"/>

        <cc:attribute name="allowActions" type="java.lang.Boolean" required="false" default="false"
                      shortDescription="Allow and show the edit, save, and cancel actions"/>

        
        <cc:attribute name="clientSelectionRequired"  type="java.lang.Boolean"    required="true"
                      shortDescription="Is the Client dropdown a required field?"/>
        
        
        <cc:attribute name="editableStructVersion" type="com.just.jstruct.model.Jstruct_StructVersion" required="false" 
                      shortDescription="Jstruct_StructVersion object for the edit mode"/>
        


        <cc:attribute name="editAction" 
                      required="false"
                      method-signature="void editAction(javax.faces.event.ActionEvent)"/>

        <cc:attribute name="saveAction" 
                      required="false"
                      method-signature="void saveAction(javax.faces.event.ActionEvent)"/>

        <cc:attribute name="cancelAction" 
                      required="false"
                      method-signature="void cancelAction(javax.faces.event.ActionEvent)"/>




    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>



        <h:form id="metadataSectionForm">
            <p:growl id="metadataSectionGrowl"/>


            <!-- ###############################################################################################################################
                 VIEW DISPLAY_MODE
            ################################################################################################################################ -->


            <p:panel header="Metadata" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;" rendered="#{cc.attrs.displayMode eq 'view'}">

                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   title="Edit Metadata section"
                                   actionListener="#{cc.attrs.editAction}"
                                   update="@form"
                                   rendered="#{cc.attrs.allowActions}"
                                   ajax="true">
                        <h:outputText styleClass="ui-icon ui-icon-pencil" />
                    </p:commandLink>
                </f:facet>

                
                <h:panelGroup rendered="#{!props.get.clientSupportTypeIsNone}"> <!-- none | optional | required -->
                    <h:outputText value="Client:" class="jcol-2 jlbl-right"/>
                    <h:outputText value="#{cc.attrs.fullStructure.clientName}" class="jcol-10 jdta"/>
                </h:panelGroup>


                <h:outputText value="Program:" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{cc.attrs.fullStructure.programName}" class="jcol-10 jdta"/>


                <h:outputText value="Model:" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{cc.attrs.fullStructure.model ? 'Yes' : 'No'}" class="jcol-10 jdta" rendered="#{!cc.attrs.fullStructure.fromRcsb}"/>
                <h:outputText value="" class="jcol-10 jdta" rendered="#{cc.attrs.fullStructure.fromRcsb}"/>


                <h:outputText value="Method:" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{cc.attrs.fullStructure.structMethod}" class="jcol-10 jdta"/>


                <h:outputText value="Target:" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{cc.attrs.fullStructure.target}" class="jcol-10 jdta"/>


                <h:outputText value="Description:" class="jcol-12 jlbl-left"/>
                <h:outputText value="#{cc.attrs.fullStructure.description}" class="jcol-12 jdta preformatted" />


                <div style="clear: both;"></div>
            </p:panel>



            <!-- ###############################################################################################################################
                  EDIT DISPLAY_MODE
             ################################################################################################################################ -->

            <p:panel header="Metadata" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;" rendered="#{cc.attrs.displayMode eq 'edit'}">


                <f:facet name="actions">

                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   title="Save changes"
                                   actionListener="#{cc.attrs.saveAction}"
                                   update="@form"
                                   rendered="#{cc.attrs.allowActions}"
                                   ajax="true">
                        <h:outputText styleClass="ui-icon ui-icon-disk" />
                    </p:commandLink>

                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   title="Cancel"
                                   actionListener="#{cc.attrs.cancelAction}"
                                   update="@form"
                                   rendered="#{cc.attrs.allowActions}"
                                   ajax="true">
                        <h:outputText styleClass="ui-icon ui-icon-cancel" />
                    </p:commandLink>

                </f:facet>

                <h:panelGroup rendered="#{!props.get.clientSupportType.equalsIgnoreCase('none')}"> <!-- none | optional | required -->
                    <h:outputText value="Client:" class="jcol-3 jlbl-right"/>
                    <h:panelGroup class="jcol-9">
                        <just:clientSelect selectedClientId="#{cc.attrs.editableStructVersion.clientId}"
                                           includeBlankValue="true"
                                           selectionRequired="#{cc.attrs.clientSelectionRequired}"/>
                    </h:panelGroup>
                </h:panelGroup>


                <h:outputText value="Program:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <just:programSelect selectedProgramId="#{cc.attrs.editableStructVersion.programId}"
                                       includeBlankValue="true"/>
                </h:panelGroup>


                <h:outputText value="Model:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:selectBooleanCheckbox value="#{cc.attrs.editableStructVersion.model}" />
                </h:panelGroup>


                <h:outputText value="Method:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editableStructVersion.structMethod}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>


                <h:outputText value="Target:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editableStructVersion.target}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>


                <h:outputText value="Description:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputTextarea value="#{cc.attrs.editableStructVersion.description}" 
                                     style="width:97%;" autoResize="false"
                                     rows="15"/>
                </h:panelGroup>



                <div style="clear: both;"></div>
            </p:panel>



        </h:form>




    </cc:implementation>

</html>