<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="fullStructure" type="com.just.jstruct.model.Jstruct_FullStructure" required="false" 
                      shortDescription="Jstruct_FullStructure object"/>

    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>




        <!-- NGL viewer for molecule  -->
        <p:panel  toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;" collapsed="false">

            <f:facet name="header">
                <h:outputText value="NGL Viewer " style="margin-right:5px;"/>
                <h:outputText value="(#{cc.attrs.fullStructure.actualFileName})" style="font-weight: normal; "/>
            </f:facet>


            <!-- NGL 3D --> 
            <!-- <h:outputScript name="js/ngl.js" target="head" />
            <script src="/jstruct/js/ngl.js"></script> -->
            
            <script type="text/javascript" src="/jstruct/js/ngl.js"></script>
            
            <script>
                document.addEventListener("DOMContentLoaded", function () {

                    var structureId = '#{cc.attrs.fullStructure.structureId}.#{cc.attrs.fullStructure.version}.#{cc.attrs.fullStructure.actualFileExt}';

                            if ('#{cc.attrs.fullStructure.actualFileExt}' === 'moe') {
                                structureId = '#{cc.attrs.fullStructure.structureId}.#{cc.attrs.fullStructure.version}.pdb?transform_from=moe';
                            }

                            var stage = new NGL.Stage("nglViewport", {backgroundColor: '#ffffff'});
                            //stage.loadFile("rcsb://#{cc.attrs.fullStructure.pdbIdentifier}", {defaultRepresentation: true});
                            //stage.loadFile("https://files.rcsb.org/download/4HHB.pdb", {defaultRepresentation: true});
                            //stage.loadFile("http://localhost:8080/jstruct/api/structure/4HHB.pdb", {defaultRepresentation: true});
                            //stage.loadFile("http://localhost:8080/jstruct/api/structure/" + fileName, {defaultRepresentation: true});

                            //http://arose.github.io/ngl/api/tutorial-snippets.html 
                            //http://arose.github.io/ngl/api/global.html#RepresentationParameters

                            stage.loadFile("/jstruct/api/structure/" + structureId, {defaultRepresentation: true});

                            /*
                             var _component;
                             
                             function defaultStructureRepresentation(component) {
                             
                             _component = component;
                             // bail out if the component does not contain a structure
                             if (component.type !== "structure")
                             return;
                             // add three representations
                             component.addRepresentation("licorice", {
                             aspectRatio: 3.0,
                             scale: 1.5
                             });
                             component.addRepresentation("cartoon", {
                             sele: "hetero and not ( water or ion )",
                             multipleBond: true
                             });
                             component.addRepresentation("spacefill", {
                             sele: "water or ion",
                             scale: 0.5
                             });
                             }
                             
                             stage.loadFile("/jstruct/api/structure/" + structureId).then(defaultStructureRepresentation);
                             */
                        });
            </script>
            <div style="border:solid 1px #bbbbbb; margin-right:10px;">
                <div id="nglViewport" style="width:100%; height:350px;"></div>

                <div style="width:100%; text-align:right;">


                    <!-- link to: viewer in RCSB -->
                    <just:link3dViewer pdbId="#{cc.attrs.fullStructure.pdbIdentifier}" 
                                       target="_blank" 
                                       rendered="#{cc.attrs.fullStructure.fromRcsb}"/>


                    <!-- links to: manual uploaded file -->
                    <h:panelGroup rendered="#{!cc.attrs.fullStructure.fromRcsb}" styleClass="rcsbViewerLink">

                        <!-- download PDB or CIF file -->
                        <h:panelGroup rendered="#{cc.attrs.fullStructure.actualFileExt eq 'pdb' or cc.attrs.fullStructure.actualFileExt eq 'cif'}">
                            <h:outputText value="Download original file: "/>
                            <just:linkStructureDownload fullStructure="#{cc.attrs.fullStructure}" />
                        </h:panelGroup>


                        <!-- download MOE file -->
                        <h:panelGroup rendered="#{cc.attrs.fullStructure.actualFileExt eq 'moe'}">
                            
                            <h:outputText value="Download a 'coordinates only PDB version' of original MOE file: "/>
                            <just:linkStructureDownloadMoeAsPdb fullStructure="#{cc.attrs.fullStructure}"
                                                                displayAs="jstructid"/>
                            
                        </h:panelGroup>


                    </h:panelGroup>

                </div>
            </div>







            <!--
                source:     https://github.com/arose/ngl
                docs:       http://arose.github.io/ngl/api/index.html
                readme:     http://proteinformatics.charite.de/ngl/README.md
                docs:       http://proteinformatics.charite.de/ngl/doc/#User_manual/Introduction/Welcome
                example:    http://proteinformatics.charite.de/ngl/html/ngl.html

                other options:
                        http://3dmol.csb.pitt.edu/doc/tutorial-embeddable.html
                        https://biasmv.github.io/pv/demo.html
            -->




        </p:panel>





    </cc:implementation>

</html>