<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>

        <cc:attribute name="revdats" type="java.util.List" required="true" 
                      shortDescription="List of Jstruct_PdbRevdat objects"/>

    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>


        
        <p:panel header="REVDAT" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;">

            <ui:repeat value="#{cc.attrs.revdats}" var="r" varStatus="loop">
                <h:outputText value="#{r.moddate}" class="jcol-3 jlbl-right">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:outputText>
                <h:outputText value=" #{r.detail}" class="jcol-9 jdta"/>
            </ui:repeat>

            <div style="clear: both;"></div>
        </p:panel>




    </cc:implementation>

</html>