<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>


        <cc:attribute name="fileAttributes" type="com.just.jstruct.pojos.JFileAttributes" required="true" 
                      shortDescription="JFileAttributes object"/>

        <cc:attribute name="fromRcsb" type="java.lang.Boolean" required="true" 
                      shortDescription="Is the file from RCSB?"/>

        <cc:attribute name="showDownloadLinks" type="java.lang.Boolean" required="true" 
                      shortDescription="true to allow download of compressed/uncompressed file, false to just display file size'"/>

        <cc:attribute name="fullStructureForDownloadLinks" type="com.just.jstruct.model.Jstruct_FullStructure" required="false" 
                      shortDescription="if 'showDownloadLinks' is true, a FullStructure object must be passed in"/>

        <cc:attribute name="revdats" type="java.util.List" required="false" 
                      shortDescription="List of Jstruct_PdbRevdat objects"/>


        <cc:attribute name="allowReplaceLink" type="java.lang.Boolean" required="false" default="true" 
                      shortDescription="Show the button that allows the user to replace the structure file with a new version"/>

        <cc:attribute name="replaceStructureAction" 
                      required="false"
                      method-signature="void replaceStructureAction()"/>

    </cc:interface>




    <!-- IMPLEMENTATION -->

    <cc:implementation>


        <c:set var="fileAttributes" value="#{cc.attrs.fileAttributes}"/>



        <p:panel header="File Information" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;">


            <f:facet name="actions">
                <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                               title="Replace this Structure file with a new version"
                               rendered="#{cc.attrs.allowReplaceLink}"
                               action="#{cc.attrs.replaceStructureAction}"
                               ajax="true" global="false">
                    <h:outputText styleClass="ui-icon ui-icon-circle-arrow-n"/>

                </p:commandLink>
            </f:facet>



            <h:outputText value=" File Name: " class="jcol-2 jlbl-right"/>
            <h:panelGroup  class="jcol-6 jdta">
                <h:outputText value="#{fileAttributes.actualFileName}" style="margin-right:8px;"/>
                <h:outputText value="(original name: #{fileAttributes.uploadFileName})" rendered="#{fileAttributes.actualFileName ne fileAttributes.uploadFileName}" style="color:#777777;"/>
            </h:panelGroup>
            
            <h:panelGroup  class="jcol-4 jdta" rendered="#{cc.attrs.showDownloadLinks}">

                <a href="#{cc.attrs.fullStructureForDownloadLinks.linkDownload}" >
                    <h:outputText class="ui-icon ui-icon-circle-arrow-s addPointer" 
                                  style="float:left; margin-top:-2px" 
                                  title="Download structure file: #{cc.attrs.fullStructureForDownloadLinks.actualFileName}" />
                </a>
                <h:outputText value="#{fileAttributes.uncompressedSizeDisplay}"/>
                <h:outputText value=" (uncompressed)" style="color:#777777;"/>
                
                <div style="clear: both;"></div>
                
                <a href="#{cc.attrs.fullStructureForDownloadLinks.linkDownloadCompressed}" >
                    <h:outputText class="ui-icon ui-icon-circle-arrow-s addPointer" 
                                  style="float:left; margin-top:-2px" 
                                  title="Download compressed structure file: #{cc.attrs.fullStructureForDownloadLinks.actualFileName}" />
                </a> 
                <h:outputText value="#{fileAttributes.compressedSizeDisplay}"/>
                <h:outputText value=" (compressed)" style="color:#777777;"/>
                
            </h:panelGroup>

            <h:panelGroup  class="jcol-4 jdta" rendered="#{!cc.attrs.showDownloadLinks}">
                <h:outputText value="#{fileAttributes.uncompressedSizeDisplay}"/>
            </h:panelGroup>

            <div style="clear:both"></div>

            <!-- if from RCSB -->
            <h:panelGroup rendered="#{cc.attrs.fromRcsb}">

                <h:outputText value=" RCSB Deposit Date: " class="jcol-3 jlbl-right"/>
                <h:outputText value="#{fileAttributes.depositDate}" class="jcol-9 jdta">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:outputText>


                <ui:repeat value="#{revdats}" var="r" varStatus="loop" rendered="#{not empty cc.attrs.revdats}">
                    <h:outputText value="#{r.moddate}" class="jcol-4 jlbl-right">
                        <f:convertDateTime pattern="yyyy-MM-dd"/>
                    </h:outputText>
                    <h:outputText value="0 (Initial released entry.)" class="jcol-8 jdta" rendered="#{r.modnum eq 1}" style="color: #777777; "/>
                    <h:outputText value="#{r.detail}" class="jcol-8 jdta" rendered="#{r.modnum ne 1}"/>
                </ui:repeat>


                <h:outputText value=" JStruct Upload Date: " class="jcol-4 jlbl-right"/>
                <h:outputText value="#{fileAttributes.jstructInsertDate}" class="jcol-3 jdta">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:outputText>
                <h:outputText value=" Last Update: " class="jcol-2 jlbl-right"/>
                <h:outputText value="#{fileAttributes.jstructUpdateDate}" class="jcol-3 jdta">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:outputText>

            </h:panelGroup>
            
            
            <div style="clear:both"></div>


            <!-- if manual upload -->
            <h:panelGroup rendered="#{!cc.attrs.fromRcsb}">

                <h:outputText value=" Creation Date: " class="jcol-4 jlbl-right"/>
                <h:outputText value="#{fileAttributes.creationDate}" class="jcol-8 jdta">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:outputText>

                <div style="clear:both"></div>
                
                <h:outputText value=" Last Modified Date: " class="jcol-4 jlbl-right"/>
                <h:outputText value="#{fileAttributes.modifiedDate}" class="jcol-8 jdta">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:outputText>
                
                <div style="clear:both"></div>

                <h:outputText value=" JStruct Upload Date: " class="jcol-4 jlbl-right"/>
                <h:outputText value="#{fileAttributes.jstructInsertDate}" class="jcol-8 jdta">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:outputText>
                
                <div style="clear:both"></div>

            </h:panelGroup>

            <h:outputText value=" Owner: " class="jcol-3 jlbl-right"/>
            <h:outputText value="#{fileAttributes.ownerName}" class="jcol-9 jdta"/>

            <div style="clear: both;"></div>

            <h:outputText value=" Source: " class="jcol-3 jlbl-right"/>
            <h:outputText value="#{fileAttributes.sourceName}" class="jcol-9 jdta"/>

            <div style="clear: both;"></div>
        </p:panel>







    </cc:implementation>

</html>