<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="userLabel" type="com.just.jstruct.model.Jstruct_UserLabel" required="true" 
                      shortDescription="UserLabel object"/>
        
        <cc:attribute name="optionalStyle" type="java.lang.String" required="false" 
                      shortDescription="Optional style for the outputText element"/>
        
        <cc:attribute name="isLink" type="java.lang.Boolean" required="false" default="false"
                      shortDescription="True to create this label as a link to search results"/>
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>

        

        

        <!-- as a link -->
        <p:commandLink action="#{labelLink.userLabelSearch(cc.attrs.userLabel.userLabelId)}" rendered="#{cc.attrs.isLink}" styleClass="verLabelLink" process="@this">
            
            <h:outputText value="#{cc.attrs.userLabel.labelName}"
                      styleClass="verLabel"
                      style="background-color:##{cc.attrs.userLabel.backgroundColor}; color:##{cc.attrs.userLabel.textColor} #{cc.attrs.optionalStyle}"
                      title="#{cc.attrs.userLabel.description}"/>
            
        </p:commandLink>
                
        
        <!-- NOT a link -->
        <h:outputText value="#{cc.attrs.userLabel.labelName}"
                      styleClass="verLabel"
                      style="background-color:##{cc.attrs.userLabel.backgroundColor}; color:##{cc.attrs.userLabel.textColor} #{cc.attrs.optionalStyle}"
                      title="#{cc.attrs.userLabel.description}"
                      rendered="#{!cc.attrs.isLink}"/>
        
        

    </cc:implementation>

</html>