<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>



        <cc:attribute name="editablePdbFile" type="com.just.jstruct.model.Jstruct_PdbFile" required="false" 
                      shortDescription="Jstruct_PdbFile object for the edit mode"/>

    
      


    </cc:interface>






    <!-- IMPLEMENTATION -->

    <cc:implementation>


            <p:panel header="Header/Title" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;" >

                
                <h:outputText value="Title:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.title}" style="box-sizing:border-box; width:100%;" styleClass="rqd"/>
                </h:panelGroup>

                <h:outputText value="Classification:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.classification}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>

                <h:outputText value="CAVEAT:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.caveat}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>

                <h:outputText value="EXPDTA:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.expdta}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>

                <h:outputText value="NUMMDL:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.nummdl}" style="box-sizing:border-box; width:100%;"  />
                </h:panelGroup>

                <h:outputText value="Keyword(s):" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.keywordString}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>

                <h:outputText value="Author(s):" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.authorString}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>

                <h:outputText value="Resolution:" class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-1">
                    <p:inputText value="#{cc.attrs.editablePdbFile.resolutionMeasure}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>
                <h:panelGroup class="jcol-8">
                    <p:selectOneMenu value="#{cc.attrs.editablePdbFile.resolutionUnit}" style="width:50%">
                        <f:selectItem itemLabel="" itemValue="" />
                        <f:selectItem itemLabel="ANGSTROMS" itemValue="ANGSTROMS" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <div style="clear: both;"></div>

            </p:panel>



    </cc:implementation>

</html>