<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>


        <cc:attribute name="displayMode" type="java.lang.String" required="false" default="view"
                      shortDescription="current mode of display; allowed values: view, edit "/>



        <cc:attribute name="fullStructure" type="com.just.jstruct.model.Jstruct_FullStructure" required="false" 
                      shortDescription="Jstruct_FullStructure object"/>

        <cc:attribute name="keywords" type="java.util.List" required="false" 
                      shortDescription="List of authors as Strings"/>

        <cc:attribute name="authors" type="java.util.List" required="false" 
                      shortDescription="List of keywords as Strings"/>

        <cc:attribute name="splitsFullStructures" type="java.util.List" required="false" 
                      shortDescription="List of splits as Jstruct_FullStructure"/>

        <cc:attribute name="splitString" type="java.lang.String" required="false" default=""
                      shortDescription="String of all splits"/>



        <cc:attribute name="allowActions" type="java.lang.Boolean" required="false" default="false"
                      shortDescription="Allow and show the edit, save, and cancel actions"/>



        <cc:attribute name="editablePdbFile" type="com.just.jstruct.model.Jstruct_PdbFile" required="false" 
                      shortDescription="Jstruct_PdbFile object for the edit mode"/>



        <cc:attribute name="editAction" 
                      required="false"
                      method-signature="void editAction(javax.faces.event.ActionEvent)"/>

        <cc:attribute name="saveAction" 
                      required="false"
                      method-signature="void saveAction(javax.faces.event.ActionEvent)"/>

        <cc:attribute name="cancelAction" 
                      required="false"
                      method-signature="void cancelAction(javax.faces.event.ActionEvent)"/>


    </cc:interface>






    <!-- IMPLEMENTATION -->

    <cc:implementation>



        <h:form id="headerSectionForm">
            <p:growl id="headerSectionGrowl"/>

            <!-- ###############################################################################################################################
                 VIEW DISPLAY_MODE
            ################################################################################################################################ -->

            <p:panel header="Header/Title" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;" rendered="#{cc.attrs.displayMode eq 'view'}">

                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   title="Edit Header/Title section"
                                   actionListener="#{cc.attrs.editAction}"
                                   update="@form"
                                   rendered="#{cc.attrs.allowActions}"
                                   ajax="true">
                        <h:outputText styleClass="ui-icon ui-icon-pencil" />
                    </p:commandLink>
                </f:facet>


                <h:outputText value=" Title: " class="jcol-3 jlbl-right"/>
                <h:outputText value="#{cc.attrs.fullStructure.pdbTitle}" class="jcol-9 jdta"/>

                <h:outputText value=" Classification: " class="jcol-3 jlbl-right"/>
                <h:outputText value="#{cc.attrs.fullStructure.pdbClassification}" class="jcol-9 jdta"/>

                <h:outputText value=" CAVEAT: " class="jcol-3 jlbl-right"/>
                <h:outputText value="#{cc.attrs.fullStructure.pdbCaveat}" class="jcol-9 jdta"/>

                <h:outputText value=" EXPDTA: " class="jcol-3 jlbl-right"/>
                <h:outputText value="#{cc.attrs.fullStructure.pdbExpdta}" class="jcol-9 jdta"/>

                <h:outputText value=" NUMMDL: " class="jcol-3 jlbl-right"/>
                <h:outputText value="#{cc.attrs.fullStructure.pdbNummdl}" class="jcol-9 jdta"/>

                <h:panelGroup rendered="#{cc.attrs.fullStructure.fromRcsb}"> <!-- TODO splits is not applicable if the structure is editable/parseable -->
                    <h:outputText value=" Split: " class="jcol-3 jlbl-right"/>
                    <h:panelGroup  class="jcol-9 jdta">
                        <ui:repeat value="#{cc.attrs.splitsFullStructures}" var="s" varStatus="loop" rendered="#{not empty cc.attrs.splitsFullStructures}">
                            <just:linkStructure fullStructure="#{s}"/>
                            <h:outputText value="#{not loop.last ? ',' : ''}" style="margin-right:8px;"/>
                        </ui:repeat>
                        <h:outputText value="#{cc.attrs.splitString}" rendered="#{empty cc.attrs.splitsFullStructures}"/>
                    </h:panelGroup>
                </h:panelGroup>

                <h:outputText value=" Keyword(s): " class="jcol-3 jlbl-right"/>
                <h:panelGroup  class="jcol-9 jdta">
                    <ui:repeat value="#{cc.attrs.keywords}" var="k" varStatus="loop" rendered="#{not empty cc.attrs.keywords}">
                        <h:outputText value="#{k.value}"/>
                        <h:outputText value="#{not loop.last ? ', ' : ''}"/>
                    </ui:repeat>
                </h:panelGroup>

                <h:outputText value=" Author(s): " class="jcol-3 jlbl-right"/>
                <h:panelGroup  class="jcol-9 jdta">
                    <ui:repeat value="#{cc.attrs.authors}" var="a" varStatus="loop" rendered="#{not empty cc.attrs.authors}">
                        <h:outputText value="#{a.value}"/>
                        <h:outputText value="#{not loop.last ? ', ' : ''}"/>
                    </ui:repeat>
                </h:panelGroup>

                <h:outputText value=" Resolution: " class="jcol-3 jlbl-right"/>
                <h:outputText value="#{cc.attrs.fullStructure.pdbResolutionMeasure} #{cc.attrs.fullStructure.pdbResolutionUnit}" class="jcol-9 jdta"/>

                <div style="clear: both;"></div>

            </p:panel>



            <!-- ###############################################################################################################################
                 EDIT DISPLAY_MODE
            ################################################################################################################################ -->

            <p:panel header="Header/Title" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;" rendered="#{cc.attrs.displayMode eq 'edit'}">


                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   title="Save changes"
                                   actionListener="#{cc.attrs.saveAction}"
                                   update="@form"
                                   rendered="#{cc.attrs.allowActions}"
                                   ajax="true">
                        <h:outputText styleClass="ui-icon ui-icon-disk" />
                    </p:commandLink>

                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   title="Cancel"
                                   actionListener="#{cc.attrs.cancelAction}"
                                   update="@form"
                                   rendered="#{cc.attrs.allowActions}"
                                   ajax="true">
                        <h:outputText styleClass="ui-icon ui-icon-cancel" />
                    </p:commandLink>

                </f:facet>

                <h:outputText value=" Title: " class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.title}" 
                                 style="box-sizing:border-box; width:100%;"
                                 styleClass="rqd"
                                 required="true"
                                 requiredMessage="Title is required"/>
                </h:panelGroup>

                <h:outputText value=" Classification: " class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.classification}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>

                <h:outputText value=" CAVEAT: " class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.caveat}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>

                <h:outputText value=" EXPDTA: " class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.expdta}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>

                <h:outputText value=" NUMMDL: " class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.nummdl}" style="box-sizing:border-box; width:100%;"  />
                </h:panelGroup>

                <h:outputText value=" Keyword(s): " class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.keywordString}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>

                <h:outputText value=" Author(s): " class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-9">
                    <p:inputText value="#{cc.attrs.editablePdbFile.authorString}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>

                <h:outputText value=" Resolution: " class="jcol-3 jlbl-right"/>
                <h:panelGroup class="jcol-1">
                    <p:inputText value="#{cc.attrs.editablePdbFile.resolutionMeasure}" style="box-sizing:border-box; width:100%;"/>
                </h:panelGroup>
                <h:panelGroup class="jcol-8">
                    <p:selectOneMenu value="#{cc.attrs.editablePdbFile.resolutionUnit}" style="width:50%">
                        <f:selectItem itemLabel="" itemValue="" />
                        <f:selectItem itemLabel="ANGSTROMS" itemValue="ANGSTROMS" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <div style="clear: both;"></div>

            </p:panel>



        </h:form>



    </cc:implementation>

</html>