<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="fullQueryInput" type="com.just.jstruct.structureSearch.FullQueryInput" required="true" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>

        <div class="structureQueryHeader">
            <p:outputLabel value=" RCSB: "/>
            <p:outputLabel value="#{cc.attrs.fullQueryInput.fileStatusRcsb.displayName}" style="padding-right: 20px; font-weight: bold;"/>

            <p:outputLabel value=" Manual: "/>
            <p:outputLabel value="#{cc.attrs.fullQueryInput.fileStatusManual.displayName}" style="padding-right: 20px; font-weight: bold;"/>

            <p:outputLabel value=" Combine criteria with: "/>
            <p:outputLabel value="#{cc.attrs.fullQueryInput.queryMode}" style="padding-right: 20px; font-weight: bold;"/>
        </div>

        
        <ui:repeat value="#{cc.attrs.fullQueryInput.subQueryInputs}" var="subQueryInput">

            <div class="structureQueryRow">

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'FULL_TEXT'}">
                    <h:outputText value="Full Text Search " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.inputFullText}" class="prependBracket appendBracket" />
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'IDENTIFIER'}">
                    <h:outputText value="JStruct/RCSB Identifiers " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.inputIdentifier}" class="prependBracket appendBracket" />
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'SEQUENCE'}">
                    <h:outputText value="Sequence " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.sequenceOption.displayName} " class="prependBracket" />
                    <h:outputText value="#{subQueryInput.sequenceEnhancedText.displayName}: " />
                    <h:outputText value="#{subQueryInput.inputSequence}" class="appendBracket"/>
                </h:panelGroup>
                
                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'EVERYTHING'}">
                    <h:outputText value="All Structures/No parameters " styleClass="subqueryTypeLabel"/>
                </h:panelGroup>
                
                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'STRUCT_VER_IDS'}">
                    <h:outputText value="Structure Version IDs (structVerIds) " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.inputStructVerIds}" class="prependBracket appendBracket" />
                </h:panelGroup>
                
                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'LABEL'}">
                    <h:outputText value="User defined Labels " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.allAnyLabelOption.displayName}: " class="prependBracket" />
                    <ui:repeat value="#{subQueryInput.selectedLabels}" var="lbl" >
                        <just:structureUserLabel userLabel="#{lbl}"/>
                    </ui:repeat>
                    <h:outputText class="appendBracket" />
                </h:panelGroup>
                
                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'NOTE'}">
                    <h:outputText value="Note Comment " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.selectedNoteEnhancedText.displayName}: " class="prependBracket" />
                    <h:outputText value="#{subQueryInput.inputNote}" class="appendBracket"/>
                </h:panelGroup>
                
                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'ANY_HEADER'}">
                    <h:outputText value="Header Text Fields " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.selectedHeaderField.displayName} " class="prependBracket" />
                    <h:outputText value="#{subQueryInput.selectedAnyHeaderEnhancedText.displayName}: " />
                    <h:outputText value="#{subQueryInput.inputAnyHeader}" class="appendBracket"/>
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'TITLE'}">
                    <h:outputText value="Structure Title " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.selectedTitleEnhancedText.displayName}: " class="prependBracket" />
                    <h:outputText value="#{subQueryInput.inputTitle}" class="appendBracket"/>
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'AUTHOR'}">
                    <h:outputText value="Author (in Header or JRNL) " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.inputAuthor}" class="prependBracket appendBracket" />
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'OWNER'}">
                    <h:outputText value="Owner " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.selectedOwnerEqualsOption.displayName}: " class="prependBracket" />
                    <h:outputText value="#{subQueryInput.selectedOwner.name}" class="appendBracket"/>
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'MODEL'}">
                    <h:outputText value="Structure Model " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.yesNoModelOption.displayName}" class="prependBracket appendBracket" />
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'DEPOSIT_DATES'}">
                    <h:outputText value="Deposit Date " styleClass="subqueryTypeLabel"/>
                    <h:panelGroup rendered="#{not empty subQueryInput.depositDateFrom}">
                        <h:outputText value="from: " class="prependBracket"/>
                        <h:outputText value="#{subQueryInput.depositDateFrom}" >
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>
                        <h:outputText class="appendBracket" style="margin-right:10px"/>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{not empty subQueryInput.depositDateTo}">
                        <h:outputText value="to " class="prependBracket"/>
                        <h:outputText value="#{subQueryInput.depositDateTo}" >
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>
                        <h:outputText class="appendBracket" style="margin-right:10px"/>
                    </h:panelGroup>
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'PDB_REMARK'}">
                    <h:outputText value="Structure Remarks (PDB format only) " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.selectedPdbRemarkEnhancedText.displayName}: " class="prependBracket" />
                    <h:outputText value="#{subQueryInput.inputPdbRemark}" class="appendBracket"/>
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'JRNL'}">
                    <h:outputText value="Journal (all fields of JRNL) " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.inputJrnl}" class="prependBracket appendBracket" />
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'COMPND'}">
                    <h:outputText value="Structure COMPND " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.selectedCompndEnhancedText.displayName}: " class="prependBracket" />
                    <h:outputText value="#{subQueryInput.inputCompnd}" class="appendBracket"/>
                </h:panelGroup>

                <h:panelGroup rendered="#{subQueryInput.selectedSubqueryType.value == 'SOURCE'}">
                    <h:outputText value="Structure SOURCE " styleClass="subqueryTypeLabel"/>
                    <h:outputText value="#{subQueryInput.selectedSourceEnhancedText.displayName}: " class="prependBracket" />
                    <h:outputText value="#{subQueryInput.inputSource}" class="appendBracket"/>
                </h:panelGroup>

            </div>
        </ui:repeat>



    </cc:implementation>
</html>