<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="elementId" type="java.lang.String" required="true" />
        <cc:attribute name="selectedValue" type="com.just.jstruct.structureSearch.enums.SubQueryType" required="true" />
        <cc:attribute name="formName" type="java.lang.String" required="true" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>
        
        
        <p:selectOneMenu id="#{cc.attrs.elementId}" 
                         value="#{cc.attrs.selectedValue}" 
                         style="margin-top:10px; vertical-align: middle; box-sizing:border-box; width:100%;">
            
            <f:selectItems value="#{subqueryTypeSelect.subqueryTypes}" var="sqt" 
                           itemValue="#{sqt}"
                           itemLabel="#{sqt.label}"
                           itemDescription="#{sqt.description}"/>
            
            <p:ajax update="#{cc.attrs.formName}"/>
            <p:ajax process="@this"/>
                            
        </p:selectOneMenu>
        
        
    </cc:implementation>
</html>