<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="allAnySelect" type="com.just.jstruct.structureSearch.enums.AllAnyOption" required="true" />
        <cc:attribute name="userLabels" type="java.util.List" required="true" />
        <cc:attribute name="selectedLabels" type="java.util.List" required="true" />
        <cc:attribute name="errorMessage" type="java.lang.String" required="true" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>


        <h:panelGrid columns="2">



            <just:allAnyOptionSelect selectedValue="#{cc.attrs.allAnySelect}"/> 


            <h:panelGroup>
                <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box; max-height: 235px; overflow-y: scroll"
                              styleClass="#{not empty cc.attrs.errorMessage ? 'inputError' : ''}">

                    <p:dataTable value="#{cc.attrs.userLabels}" var="lbl" 
                                 class="smallish"
                                 selection="#{cc.attrs.selectedLabels}" rowKey="#{lbl.userLabelId}"
                                 emptyMessage="You currently have no Labels.">

                        <p:column selectionMode="multiple" style="width:20px; text-align: center; "/>

                        <p:column headerText="Labels" sortBy="#{lbl.labelName}" style="padding-top:6px;">
                            <just:structureUserLabel userLabel="#{lbl}"/>
                        </p:column>


                    </p:dataTable>

                </h:panelGroup>
                <h:outputText value="#{cc.attrs.errorMessage}" styleClass="redError"/>
                
            </h:panelGroup>




        </h:panelGrid>





    </cc:implementation>
</html>