<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="criteriaOption" type="com.just.jstruct.structureSearch.enums.EqualsOption" required="true" />
        <cc:attribute name="criteriaOwner" type="com.just.jstruct.model.Jstruct_User" required="true" />
        <cc:attribute name="errorMessage" type="java.lang.String" required="true" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>


        <h:panelGrid columns="2">


            <just:equalsOptionSelect selectedValue="#{cc.attrs.criteriaOption}"/>

            <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box; ">

                <just:userLookup autoCompleteId="userAutoCompleteId" 
                                 user="#{cc.attrs.criteriaOwner}"
                                 optionalClass="#{empty cc.attrs.errorMessage ? 'rqdAutoComplete' : 'rqdAutoComplete inputErrorAutoComplete'}"/>
                <h:outputText value="#{cc.attrs.errorMessage}" styleClass="redError"/>

            </h:panelGroup>


        </h:panelGrid>




    </cc:implementation>
</html>