<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="criteriaText" type="java.lang.String" required="true" />
        <cc:attribute name="errorMessage" type="java.lang.String" required="true" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>


        <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box; ">


            <p:inputText style="box-sizing:border-box; width:100%;"
                         styleClass="#{empty cc.attrs.errorMessage ? 'rqd' : 'rqd inputError'}"
                         size="100" 
                         maxlength="2000"
                         value="#{cc.attrs.criteriaText}">
            </p:inputText>
            <br/>
            <h:outputText value="#{cc.attrs.errorMessage}" styleClass="redError"/>


        </h:panelGroup>




    </cc:implementation>
</html>