<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:just="http://java.sun.com/jsf/composite/mycomponents">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="criteriaDateFrom" type="java.util.Date" required="true" />
        <cc:attribute name="criteriaDateTo" type="java.util.Date" required="true" />
        <cc:attribute name="errorMessage" type="java.lang.String" required="true" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>

        <!-- todo needs validator - at least one date field must be entered -->

        <h:panelGrid columns="4" columnClasses="vertAlignMiddle,vertAlignMiddle,vertAlignMiddle,vertAlignMiddle">


            <p:outputLabel for="calendarFromInput" value="from:"/>

            <h:panelGroup>
                <p:calendar id="calendarFromInput"
                            value="#{cc.attrs.criteriaDateFrom}"
                            pattern="yyyy-MM-dd"
                            showOn="button"/>
                <p:watermark for="calendarFromInput" value="yyyy-MM-dd"/>
            </h:panelGroup>




            <p:outputLabel for="calendarToInput" value="to:"/>

            <h:panelGroup>
                <p:calendar id="calendarToInput"
                            value="#{cc.attrs.criteriaDateTo}"
                            pattern="yyyy-MM-dd"
                            showOn="button"/>
                <p:watermark for="calendarToInput" value="yyyy-MM-dd"/>
                <p:message for="calendarToInput" />
            </h:panelGroup>


        </h:panelGrid>


        <h:outputText value="#{cc.attrs.errorMessage}" styleClass="redError"/>




    </cc:implementation>
</html>