<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="autoCompleteId" type="java.lang.String" required="true" />
        <cc:attribute name="user" type="com.just.jstruct.model.Jstruct_User" required="true" />
        <cc:attribute name="size" type="java.lang.Integer" required="false" default="40" />
        <cc:attribute name="required" type="java.lang.Boolean" required="false" default="false" />
        <cc:attribute name="requiredMessage" type="java.lang.String" required="false" default="required" />
        <cc:attribute name="optionalClass" type="java.lang.String" required="false" />
        <cc:attribute name="ajaxChangeUpdate" type="java.lang.String" required="false" />
    </cc:interface>


    <!-- IMPLEMENTATION -->

    <cc:implementation>

        <p:autoComplete id="#{cc.attrs.autoCompleteId}"
                        styleClass="#{cc.attrs.optionalClass} #{cc.attrs.required ? 'rqd' : ''}"
                        style="position: relative;"
                        value="#{cc.attrs.user}"
                        var="userVar" 
                        itemValue="#{userVar}" 
                        itemLabel="#{userVar.name}"
                        forceSelection="true"
                        completeMethod="#{userAutoComplete.byGeneralCriteria}"
                        converter="UserConverter"
                        minQueryLength="3"
                        maxResults="50" 
                        scrollHeight="300"
                        queryDelay="500"
                        size="#{cc.attrs.size}"
                        required="#{cc.attrs.required}" 
                        requiredMessage="#{cc.attrs.requiredMessage}"
                        title="enter users name">
            
            <p:ajax event="change" update="#{cc.attrs.ajaxChangeUpdate}" process="#{cc.attrs.ajaxChangeUpdate}" />
            <p:ajax event="itemSelect" update="#{cc.attrs.ajaxChangeUpdate}" process="#{cc.attrs.ajaxChangeUpdate}" />
            
        </p:autoComplete>
   
        <p:watermark for="#{cc.attrs.autoCompleteId}" value="enter users name" />

        <p:message for="#{cc.attrs.autoCompleteId}"/>

    </cc:implementation>
</html>