/* 
    css for the header 
*/


/* top row, name of app */

td.titleCell { 
    width:              50%;
    vertical-align:     top;
    padding-left:       5px;
    white-space:        nowrap;
}

/*
td.linksCell { 
    position:           absolute;
    right:              5px;
    top:                3px;
    width:              10%;
    font-size:          10px;
    font-weight:        bold;
    white-space:        nowrap;}
*/

.devTestWarn {
    color:              #ff0000;
    vertical-align:     top;
    font-size:          1.7em;
    font-weight:        bold; 
}


/* row with username and role */

td.userCell { 
    width:              50%;
    font-size:          .8em;
    color:              #000000; 
    vertical-align:     top;
    text-align:         right;
}

td.logoutCell { 
    width:              1px;
    font-size:          .8em;
    vertical-align:     top;
    text-align:         right;
}



/* FOOTER */



a.footerLink:link      { color: #777777; font-weight:bold; text-decoration:none; }
a.footerLink:visited   { color: #777777; font-weight:bold; text-decoration:none; }
a.footerLink:active    { color: #ff5300;  text-decoration:none; }  
a.footerLink:hover     { color: #ff5300;  text-decoration:none; }

