html, body    {
    height: 100%;
    font-family:        Arial, Verdana, sans-serif;
}

table.template {
    width:              100%; 
    border-collapse:    collapse;
    height:             100%;
}




.smallButton {
    font-size: 10px !important;
}



a:link      { color: #00422b; font-weight:bold;}
a:visited   { color: #00422b; font-weight:bold;}
a:active    { color: #ff5300; }  
a:hover     { color: #ff5300; }

a.structureLink:link      { color: #1717FF; text-decoration: none;}
a.structureLink:visited   { color: #1717FF; text-decoration: none;}
a.structureLink:active    { color: #ff5300; }  
a.structureLink:hover     { color: #ff5300; }


/* if obsolete links should be in a different color, change that here, aka #990000 */
a.structureLinkObsolete:link      { color: #1717FF; text-decoration: none;}
a.structureLinkObsolete:visited   { color: #1717FF; text-decoration: none;}
a.structureLinkObsolete:active    { color: #ff5300; }  
a.structureLinkObsolete:hover     { color: #ff5300; }



.rcsbViewerLink {
    font-size:  10px;
    margin:     2px;
    font-weight: normal;
}
a.rcsbViewerLink:link      { color: #1717FF; text-decoration: none; font-weight: normal}
a.rcsbViewerLink:visited   { color: #1717FF; text-decoration: none; font-weight: normal}
a.rcsbViewerLink:active    { color: #ff5300; }  
a.rcsbViewerLink:hover     { color: #ff5300; }



/* -------- red text for errors -------- */

.redError {
    color:         #ff0000 !important;
    font-weight:   bold    !important; 
    padding:       2px 0;
}


/* -------- add red star to required fields-------- */
.rqd, .rqdAutoComplete > .ui-inputfield  {
    padding-right:          8px                      !important ; 
    background-image:       url('rqd.png')           !important ;
    background-repeat:      no-repeat                !important ;
    background-position:    100%  3px                !important ;
    background-position:    right 2px top 3px        !important ;
} 

.rqdSelect.ui-selectonemenu label.ui-selectonemenu-label {
    background-image:       url('rqd.png')           !important ;
    background-repeat:      no-repeat                !important ;
    background-position:    right 10px top 3px       !important ;
}

.rqd.ui-calendar > .ui-inputfield {
    background-image:       url('rqd.png')           !important ;
    background-repeat:      no-repeat                !important ;
    background-position:    right 2px top 4px       !important ;
}


/* ---- input style for error */
.inputError, .inputErrorAutoComplete > .ui-inputfield {
    border:     solid 1px #ff0000 !important;
}





/* search counts and such */
.dynamicData {
    color: #ab5100;
}


/* misc */
.vertAlignMiddle {
    vertical-align: middle;
}





.greay {
    color: #bbbbbb;
}
.red {
    color: #ff0000;
}
.preformatted{
    white-space: pre-wrap;
}

.width01 {width:20px;   border: #ff00ff solid 1px !important; border: 0; margin:0; }
.width99 {width:99%;    border: #00ff00 solid 1px !important; border: 0; margin:0; }

.fiftyLeft  { width: 50%; text-align: left; }
.fiftyRight { width: 50%; text-align: right; }
.twoThirdsLeft { width: 66%; text-align: left; }
.oneThirdLeft  { width: 34%; text-align: left; }




.title1obsolete {
    font-size:   24px !important;
    font-weight: bold;
    color:       #990000
}
.title1 {
    font-size: 24px !important;
    font-weight: bold;
}
.title2 {
    font-size: 20px !important;
    font-weight: bold;
}
.title3 {
    font-size: 17px !important;
    font-weight: bold;
}
.title4 {
    font-size: 15px !important;
    font-weight: bold;
}



.numberedBullet {
    border-radius:      99px;
    font-weight:        bold;
    background-color:   #ffeeef;
    border:             solid 1px #fde0c5;
    padding:            5px;
}
.numberedLine{
    margin-top: 10px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Structure Query search stuff
*/

.structureQueryHeader {
    border-radius:      3px;
    background-color:   #d1e1e1;
    border:             solid 1px #abd8da;
    padding:            5px 15px 5px 15px;
    margin:             2px 3px 1px 3px;
}

.structureQueryRow {
    border-radius:      3px;
    background-color:   #e9fafb;
    border:             solid 1px #bef0f3;
    padding:            4px 15px 4px 15px;
    margin:             5px 3px 4px 3px;
    -webkit-transition: background-color 2500ms linear;
    -moz-transition:    background-color 2500ms linear;
    -o-transition:      background-color 2500ms linear;
    -ms-transition:     background-color 2500ms linear;
    transition:         background-color 2500ms linear;
}
.structureQueryRowError {
    border-radius:      3px;
    background-color:   #ffeef3;
    border:             solid 1px #bef0f3; /*#ffc8d9*/;
    padding:            4px 15px 4px 15px;
    margin-bottom:      10px;
}


.subqueryTypeLabel {
    font-weight:    bold;
    margin-right:   10px;
}
.prependBracket:before {
    content:        "[";
    padding-right:   3px;
    color:          #aaaaaa;
}
.appendBracket:after {
    content:        "]";
    padding-left:   3px;
    color:          #aaaaaa;
}


.structureResultsRowExpansion > td:first-of-type {
    padding:            2px 2px 20px 26px;
    background-color:   #fafafa;
}
.structureResultsRowExpansionLeft {
    vertical-align:     top;
    width:              20% !important;
    text-align:         right;
    font-weight:        bold;
}
.structureResultsRowExpansionRight {
    vertical-align:     top;
    width:              80% !important;
}
.structureResultsRowExpansionSingle {
    vertical-align:     top;
    background-color:   #e9e9e9;
    font-weight:        bold;
    
}




/* structure page */
.structureSection {
    margin-bottom: 10px;
}

.residueLetter{
    font-family: "Courier New", Courier, monospace;
}




/* - - - - -  user defined labels  - - - - - */ 
.addVerLabel {
    font-size:          11px !important;
    font-weight:        bold;
    background-color:   #dddddd;
    color:              #ee5a35;
    padding:            2px 10px 2px 20px;
    border-radius:      5px;
    margin-right:       5px;
    text-decoration:    none;
    border:             solid 1px #888888;
    background-image:       url("/jstruct/javax.faces.resource/images/ui-icons_469bdd_256x240.png.xhtml?ln=primefaces-redmond");
    background-repeat:      no-repeat;
    text-indent: -99999px;
    overflow: hidden;
    background-position: -240px -96px;
    
}
.addVerLabel:link      { color: #ee5a35;}
.addVerLabel:visited   { color: #ee5a35;}

.addVerLabel:hover {
    color: #f0592b;
    cursor:pointer;
    background-color:   #323232;
    color:              #ffffff;
}

.verLabel {
    font-size:          11px !important;
    font-weight:        bold;
    background-color:   #ffffcc;
    color:              #000000;
    padding:            2px 8px;
    border-radius:      5px;
    margin-right:       5px;
}
.verLabelLink:link, .verLabelLink:visited {
    text-decoration:    none;
}
.verLabelLink:hover {
    opacity:          0.4;
    filter:           alpha(opacity=40);
    cursor:           pointer;
    text-decoration:  none;
}



/* general labels and data display */

[class*="jcol-"] {
    float:          left;
    width:          100%;
    margin:         0 0 3px 0;
    padding:        2px 2px 1px 3px;
    box-sizing:     border-box;
}
/*
.jcol-1  {width: 8.33%;}
.jcol-2  {width: 16.66%;}
.jcol-3  {width: 25%;}
.jcol-4  {width: 33.33%;}
.jcol-5  {width: 41.66%;}
.jcol-6  {width: 50%;}
.jcol-7  {width: 58.33%;}
.jcol-8  {width: 66.66%;}
.jcol-9  {width: 75%;}
.jcol-10 {width: 83.33%;}
.jcol-11 {width: 91.66%;}
.jcol-12 {width: 100%;}
*/
.jcol-1  {width: 7.33%;   margin-right: 1%}
.jcol-2  {width: 15.66%;  margin-right: 1%}
.jcol-3  {width: 24%;     margin-right: 1%}
.jcol-4  {width: 32.33%;  margin-right: 1%}
.jcol-5  {width: 40.66%;  margin-right: 1%}
.jcol-6  {width: 49%;     margin-right: 1%}
.jcol-7  {width: 57.33%;  margin-right: 1%}
.jcol-8  {width: 64.66%;  margin-right: 1%}
.jcol-9  {width: 73%;     margin-right: 1%}
.jcol-10 {width: 82.33%;  margin-right: 1%}
.jcol-11 {width: 89.66%;  margin-right: 1%}
.jcol-12 {width: 98%;     margin-right: 1%}

.jlbl-left {
    text-align:     left;
    color:          #676767;
    font-weight:    bold;
    box-sizing:     border-box;
    white-space:    nowrap;
}
.jlbl-center {
    text-align:     center;
    color:          #676767;
    font-weight:    bold;
    box-sizing:     border-box;
    white-space:    nowrap;
}
.jlbl-right {
    text-align:     right;
    color:          #676767;
    font-weight:    bold;
    box-sizing:     border-box;
    white-space:    nowrap;
}

.jdta{
    text-align:     left;
    color:          #000000;
    border:         1px solid #dddddd;
    box-sizing:     border-box;
    min-height:     20px;
   /* margin-right:   5px; */
}


.addPointer:hover {
    cursor:     pointer;
    opacity:    0.4;
    filter:     alpha(opacity=40);
}



.instructions {
    border-radius:      3px;
    background-color:   #fafafa;
    border:             solid 1px #d9d9d9;
    padding:            3px 4px 3px 4px;
}




/* image hover links */

.favoriteIsOn {
    margin:     0;
    width:      20px;
    height:     20px;
    display:    inline-block;
    background-size:  contain;
    background:transparent url('/jstruct/images/favorite_yes.svg') center top no-repeat;
}
.favoriteIsOn:hover {
    background-image: url('/jstruct/images/favorite_yes_hover.svg');
}

.favoriteIsOff {
    margin:     0;
    width:      20px;
    height:     20px;
    display:    inline-block;
    background-size:  contain;
    background:transparent url('/jstruct/images/favorite_no.svg') center top no-repeat;
}
.favoriteIsOff:hover {
    background-image: url('/jstruct/images/favorite_no_hover.svg');
}


/* fasta link grid - in dlgFastaLinks on structure_search page */
.fastaLinkGridCol1 {
    
}

.fastaLinkGridCol2 {
    width:          445px;
    max-width:      445px;
    word-wrap:      break-word;  
    font-family:    monospace; 
    font-size:      9.5px;
}


.selectedRow {
    background-color: #ffffe6;
}