/* 
    css for the main menu 
*/




/* small version/database/instance in bottom of menu */
.version {
    width:              95%;
    text-align:         center;
    margin-top:         20px;
    border:             #ff0000 solid 0px;
    font-size:          9px;
    white-space:        nowrap;
    color:              #aaaaaa;
}


.redMenuIcon .ui-menuitem-icon { 
    background-image: url(/jstruct/css/images/ui-icons_ff0000_256x240.png); 
} 
.greenMenuIcon .ui-menuitem-icon { 
    background-image: url(/jstruct/css/images/ui-icons_009900_256x240.png); 
} 



.betaMode {
    -ms-transform:      rotate(-7deg); 
    -webkit-transform:  rotate(-7deg);  
    transform:          rotate(-7deg);
    font-weight:    bold;
    color:          #ff5300;
    font-size:      18px;
    margin-top:     10px;
}
/*
.betaMode {
    position:       fixed; 
    top:            -2px; 
    left:           190px; 
    text-align:     center; 
    -ms-transform:      rotate(-7deg); 
    -webkit-transform:  rotate(-7deg);  
    transform:          rotate(-7deg);
    font-weight:    bold;
    color:          #ff5300;
    font-size:      16px;
}
*/