/* page layout stuff */

/* responsive columns - with a narrow browser all columns are 100% width  -- use primefaces ui-g* instead
[class*="res-col-"] {
    float:          left;
    width:          100%;
    padding:        6px;
}
@media only screen and (min-width: 1024px) {
    / * wide browser * /
    .res-col-1  {width: 8.33%;}
    .res-col-2  {width: 16.66%;}
    .res-col-3  {width: 25%;}
    .res-col-4  {width: 33.33%;}
    .res-col-5  {width: 41.66%;}
    .res-col-6  {width: 50%;}
    .res-col-7  {width: 58.33%;}
    .res-col-8  {width: 66.66%;}
    .res-col-9  {width: 75%;}
    .res-col-10 {width: 83.33%;}
    .res-col-11 {width: 91.66%;}
    .res-col-12 {width: 100%;}
}
.row:after {
    content:    "";
    clear:      both;
    display:    block;
}
*/

/* responsive */
@media screen and (min-width: 1024px) {
    .displayNarrow { 
        display: none;
        border: 2px solid #ff00ff;
        color: #ff00ff;
    }
}

@media screen and (max-width: 1023px) {
    .displayWide {
        display: none;
        border: 2px solid #00ff00;
        color: #00ff00;
    }
}




/* home page */

.homeColOne {
    vertical-align: top;
}
.homeColTwo {
    vertical-align: top;
    width:          250px;
}



/* search criteria/results page */

.searchCriteriaHeaderColOne {
    vertical-align: top;
    width:          50%;
}
.searchCriteriaHeaderColTwo {
    vertical-align: top;
    width:          25%;
    text-align:     center;
}
.searchCriteriaHeaderColThree {
    vertical-align: top;
    width:          25%;
    text-align:     right;
}


.searchCriteriaFooterColOne {
    vertical-align: top;
    width:          60%;
}
.searchCriteriaFooterColTwo {
    vertical-align: top;
    width:          40%;
    text-align:     right;
}

.searchResultsFooterColOne {
    vertical-align:     top;
    background-color:   #f7f7f7;
    border-radius:      3px;
}
.searchResultsFooterColTwo {
    vertical-align:     top;
    width:              150px;
    background-color:   #f7f7f7;
    border-radius:      3px;
}



/* structure page */

.structureHeader {
    vertical-align: top;
    width:          100%;
}



.structureHeaderLeft {
    vertical-align: top;
    width:          60%;
}
.structureHeaderRight {
    vertical-align: top;
    width:          40%;
    text-align:     right;
}


.structureColOne {
    vertical-align: top;
    width:          50%;
}
.structureColTwo {
    vertical-align: top;
    width:          50%;
}








/* schedule page */


.scheduleColOne {
    vertical-align: top;
    width:          60%;
    border-right:   solid 2px #eeeeee !important;
}
.scheduleColTwo {
    vertical-align: top;
    width:          40%;
    border-left:    solid 2px #eeeeee !important;
}




.column10 {
    vertical-align: top;
    width:          10%;
}
.column20 {
    vertical-align: top;
    width:          20%;
}
.column30 {
    vertical-align: top;
    width:          30%;
}
.column33 {
    vertical-align: top;
    width:          33%;
}
.column40 {
    vertical-align: top;
    width:          40%;
}
.column50 {
    vertical-align: top;
    width:          50%;
}
.column60 {
    vertical-align: top;
    width:          60%;
}
.column70 {
    vertical-align: top;
    width:          70%;
}
.column80 {
    vertical-align: top;
    width:          80%;
}
.column90 {
    vertical-align: top;
    width:          90%;
}


.centered {
    vertical-align: top;
    text-align:     center;
}



.datatableHeaderLeft {
    vertical-align: middle;
    text-align:     left;
    width:          20%;
    border:         0px solid #ff00ff !important;
}

.datatableHeaderCenter{
    vertical-align: middle;
    text-align:     center;
    width:          60%;
    border:         0px solid #ff00ff !important;
}

.datatableHeaderRight{
    vertical-align: middle;
    text-align:     right;
    width:          20%;
    border:         0px solid #ff00ff !important;
}