/* 
    some tweaks to cleanup primefaces
*/


/* add to p:layoutUnit to remove scrollbar (see header for use) */
.noScrollLayoutUnit .ui-layout-unit-content {
    overflow: hidden;
}


/* fix placement of menu icons
.ui-menu .ui-icon {
    position:   inherit;
    left:       -0.2em;
}
 */
 
 /* fix placement of font-awesome menu icons */
 .ui-button-text-icon-left .ui-icon.fa {
     margin-top: -5px;
 }

/* make the font size a little less big, and stick with Arial, sans-serif; (theme uses: Lucida Grande, Lucida Sans, Arial, sans-serif) */
.ui-widget {
    font-size:  75%;
    font-family: Arial, sans-serif;
}
.ui-widget .ui-widget {
    font-size:  100%;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial, sans-serif;    
}


/* less padding in table cells; default vertical alignment: top (instead of middle) - border light grey */
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding:        2px 4px;
    vertical-align: top;
    /* border:         solid 1px #dddddd; */
}


/* button */
.ui-button {
    padding:    0.1em 0.2em;
}

/* less padding inside accordian */
.ui-accordion .ui-accordion-content {
    padding: 8px;
}

/* make corners on titlebars not so round (they look too much like buttons) */
.ui-panel .ui-panel-titlebar {
    padding: 0.3em 1em 0.3em;
    border-radius: 1px;
}
/* less round table header/footer */
.ui-datatable .ui-datatable-header {
    border-radius: 2px 2px 0 0;
}
.ui-datatable .ui-datatable-footer {
    border-radius: 0 0 2px 2px;
}
/* less round menu headers */
.ui-layout-unit-header, .ui-menu .ui-menu-list .ui-widget-header {
    border-radius: 2px;
    width: 93%
}
/* less round borders */
.ui-corner-all {
    -moz-border-radius:     3px;
    -webkit-border-radius:  3px;
    border-radius:          3px;
}
/* more less round stuff */
.ui-corner-top {
    -moz-border-radius:     3px;
    -webkit-border-radius:  3px;
    border-radius:          3px;
    /*bottoms of tabs.. maybe other stuff??*/
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.ui-panel .ui-panel-titlebar-icon {
    border-radius:  5px
}

/* make input background white - not sure yet of side effects */
/*.ui-widget-content .ui-state-default
{
    background-color: #ffffff;
}*/


/* default all td to align top */
td {
    vertical-align: top;
}


/*  menu items */
.ui-menu .ui-menu-list .ui-menuitem {
    width: 118px;
}


/* fix checkbox alignment in p:selectManyMenu */
.ui-selectlistbox-item, .ui-chkbox .ui-widget{
    vertical-align:     middle;
    margin-right:       5px;
}