

/* make a datatable font smaller */

.smallish {
    border-spacing:         0px;
    border-width:           0px;
    border-style:           outset;
    border-collapse:        collapse;
    empty-cells:            show; 
}
.smallish th {
    font-weight:          bold;
    font-size:            11px;
}
.smallish td {
    border:               1px solid #dddddd !important;
    vertical-align:       top;
    text-align:           left;
    font-size:            10px;
}
.smallish td.numb {
    border:               1px solid #dddddd !important;
    vertical-align:       top;
    text-align:           right;
}
.smallish tr.selected {
    font-weight:          bold;
}




/* just a simple table for quickie tables */
.simple {
    border-spacing:         0px;
    border-width:           0px;
    border-style:           outset;
    border-collapse:        collapse;
    empty-cells:            show; 
}
.simple th {
    border:               1px solid #dddddd !important;
    font-weight:          bold;
    font-size:            12px;
}
.simple td {
    padding:              2px 4px;
    border:               1px solid #dddddd !important;
    vertical-align:       top;
    font-size:            12px;
}
.simple tr.highlightRow {
    font-weight:          bold;
}


ui-state-default ui-selection-column ui-resizable-column {
    padding: 30px;
}


.ui-datatable-resizable th.ui-resizable-column {
    padding: 20px;
}