<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template3d.xhtml">

    <ui:define name="title"> <h:outputText value="3D"/> </ui:define>


    <ui:define name="content" >





        <script>
            document.addEventListener("DOMContentLoaded", function () {
                
                // id = 10001.0.pdb?transform_from=moe'
                
                var structureId = getQueryVariable("id");
                var transformFrom = getQueryVariable("transform_from");
                
                if(!structureId){
                    var structureId = '10001.0.pdb';
                }
                
                var stage = new NGL.Stage("nglViewport", {backgroundColor: '#ffffff'});


                //stage.loadFile("/jstruct/api/structure/" + fileName, {defaultRepresentation: true});

                var _component;

                function defaultStructureRepresentation(component) {

                    _component = component;
                    // bail out if the component does not contain a structure
                    if (component.type !== "structure")
                        return;
                    // add three representations
                    component.addRepresentation("licorice", {
                        aspectRatio: 3.0,
                        scale: 1.5
                    });
                    component.addRepresentation("cartoon", {
                        sele: "hetero and not ( water or ion )",
                        multipleBond: true
                    });
                    component.addRepresentation("spacefill", {
                        sele: "water or ion",
                        scale: 0.5
                    });
                }

                stage.loadFile("/jstruct/api/structure/" + structureId).then(defaultStructureRepresentation);

            });
        </script>
        <div style="border:solid 1px #bbbbbb; margin-right:10px; height:98%">
            <div id="nglViewport" style="width:100%; height:100%;"></div>
        </div>






    </ui:define>

</ui:composition>
