<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="About"/> </ui:define>


    <ui:define name="content" >

        <div class="ui-g">



            <!-- LEFT COLUMN -->

            <div class="ui-lg-6 ui-g-12">

                <!-- logo (narrow browser) -->
                <p:panel style="margin: 5px 3px 10px 3px; " class="displayNarrow">
                    <p:graphicImage value="/images/jstruct_logo_lg.svg" alt="Just – Evotec Biologics" title="Just – Evotec Biologics" style="max-width:100%; height:auto;" />
                </p:panel>


                <!-- description -->
                <p:panel style="margin: 5px 3px 10px 3px; font-size: 14px; text-align: justify">

                    <p style="">
                        <span style="font-weight:bold; "><span style="color:#ff5300;">J.</span>Struct</span>
                        is an open source stand-alone software tool under development by 
                        <a href="https://just-evotecbiologics.com/" target="_blank" style="text-decoration:none" title='https://just-evotecbiologics.com/' alt='https://just-evotecbiologics.com/'>Just – Evotec Biologics</a>
                        for the storage and retrieval of public and proprietary three-dimensional macromolecular structures.

                        The core information stored in JStruct is the three-dimensional macromolecular structure files, 
                        as well as information parsed from their content.

                    </p>

                    <p>
                        <span style="font-weight:bold; "><span style="color:#ff5300;">J.</span>Struct</span>
                        allows for the storage of public structure files in-house along with internally developed structure files, 
                        and also provides a means to store, access, search, and utilize both public and proprietary structures 
                        within the same system while allowing for security across the system. 
                        
                        Setting up a robust internal structure repository allows searches, calculations, comparisons, etc. to be 
                        performed across a full set of files regardless of their source, and keeps internal sequences from being 
                        externally exposed.
                    </p>

                </p:panel>


                
                <!-- JStruct license text-->
                <just:licenseJstruct/>

                <!-- table of 3rd party components-->
                <just:licenseThirdPartyComponents externalLibrarys="#{aboutBean.externalLibrarys}" optionalClass="displayNarrow"/>

                <!-- text of all licenses (JStruct + 3rd party components) -->
                <just:licenseFinePrint/>



            </div>





            <!-- RIGHT COLUMN -->

            <div class="ui-lg-6 ui-g-12">

                <!-- logo -->
                <p:panel style="margin: 5px 3px 10px 3px; ">
                    <p:graphicImage value="/images/jstruct_logo_lg.svg" alt="Just-Evotec Biologics" title="Just-Evotec Biologics" style="max-width:100%; height:auto;"/>
                </p:panel>


                <!-- table of 3rd party components-->
                <just:licenseThirdPartyComponents externalLibrarys="#{aboutBean.externalLibrarys}" optionalClass="displayWide" />

            </div>







        </div>





    </ui:define>

</ui:composition>
