<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Admin Actions"/> </ui:define>

    <ui:define name="content" >



        <p:panelGrid id="mainGrid" columns="2" style="width: 100%;" columnClasses="scheduleColOne,scheduleColTwo" styleClass="ui-panelgrid-blank"> 

            <!-- #################################################################################################
                    LEFT COLUMN
            ################################################################################################## -->

            <h:panelGroup id="leftColumn">


                <p:panel rendered="#{adminActionBean.controller.anyJobIsRunning}" style="margin-bottom:20px;" >
                    <h:panelGroup style="font-weight: bold; color:#ff5300; text-shadow: 0 0 5px white; ">
                        <h:outputText value="A background job is currently running, please wait until it is complete before initiating any additional actions. "/>
                        <h:outputText value="The status of most jobs can be viewed in the "/>
                        <p:link outcome="schedule.xhtml" value="Schedule"/>
                        <h:outputText value=" page."/>
                    </h:panelGroup>
                </p:panel>




                <!-- ###########################################################################################################
                        INITIAL IMPORT 
                -->

                <!-- displayed if initial run WAS NOT attempted -->
                <p:panel header="Initial Import" style="margin-bottom:20px; " rendered="#{!adminActionBean.controller.initialRunSuccessful}">
                    <h:form id="rcsbInitialImportForm" style="padding: 10px 0 0 0">
                        <p:growl id="rcsbInitialImportGrowl"/>

                        <p:panelGrid columns="2" columnClasses="column40,column60" style="width:100%;" >


                            <p:commandButton id="btnRunInitialImport" 
                                             value="Run Initial Import" 
                                             immediate="true"
                                             update="leftColumn"
                                             style="margin-bottom:5px; width: 100%; "
                                             disabled="#{adminActionBean.controller.anyJobIsRunning}"
                                             action="#{adminActionBean.runInitialImport}">
                                <p:confirm header="Confirm Initial Import" message="Are you sure you want to run the Initial RCSB Import?" icon="ui-icon-alert"/>
                            </p:commandButton>

                            <h:panelGroup layout="block" style="margin-bottom:5px;">
                                Run the initial import of all structures from the RCSB. 
                            </h:panelGroup>


                            <!-- displayed if initial run WAS attempted (but not successful) -->
                            <p:commandButton id="btnRecoverInitialImport" 
                                             value="Recover Initial Import" 
                                             immediate="true"
                                             update="leftColumn"
                                             style="margin-bottom:5px; width: 100%; "
                                             rendered="#{adminActionBean.controller.initialRunAttempted and !adminActionBean.controller.initialRunSuccessful}"
                                             disabled="#{adminActionBean.controller.anyJobIsRunning}"
                                             action="#{adminActionBean.recoverInitialImport}">
                                <p:confirm header="Confirm 'Recover' Import" message="Are you sure you want to run the Recover Initial Import?" icon="ui-icon-alert"/>
                            </p:commandButton>

                            <h:panelGroup rendered="#{adminActionBean.controller.initialRunAttempted and !adminActionBean.controller.initialRunSuccessful}">
                                Attempt to recover the initial import of all structures from the RCSB. (This will pickup where the previous 'Initial Import' stopped)
                            </h:panelGroup>


                        </p:panelGrid>
                    </h:form>
                </p:panel>



                <!-- ###########################################################################################################
                        IMPORT STUFF 
                -->

                <p:panel header="RCSB Import" style="margin-bottom:20px; " rendered="#{adminActionBean.controller.initialRunSuccessful}">

                    <h:form id="rcsbImportForm" style="padding: 10px 0 0 0">
                        <p:growl id="rcsbImportGrowl"/>

                        <p:panelGrid columns="2" columnClasses="column40,column60" style="width:100%;" >

                            <p:commandButton id="btnForceIncrementalImport" 
                                             value="Force Incremental Import" 
                                             immediate="true"
                                             update="leftColumn"
                                             style="margin-bottom:5px; width: 100%; "
                                             disabled="#{adminActionBean.controller.anyJobIsRunning}"
                                             action="#{adminActionBean.runForceIncrementalImport}">
                                <p:confirm header="Confirm Import" message="Are you sure you want to force an incremental import?" icon="ui-icon-alert"/>
                            </p:commandButton>
                            <h:panelGroup layout="block" style="margin-bottom:5px;">
                                'Force' run the incremental import, which is typically setup to run during the scheduled automated process: 
                                <h:outputText value=" #{schedulingBean.controller.cronEnglish}."/>
                            </h:panelGroup>

                            <p:commandButton id="btnRerunInitialImport" 
                                             value="Rerun Initial Import" 
                                             immediate="true"
                                             update="leftColumn"
                                             style="margin-bottom:5px; width: 100%; "
                                             disabled="#{adminActionBean.controller.anyJobIsRunning}"
                                             action="#{adminActionBean.rerunInitialImport}">
                                <p:confirm header="Confirm Import" message="Are you sure you want to re-run the entire initial RCSB import?" icon="ui-icon-alert"/>
                            </p:commandButton>
                            <h:panelGroup layout="block" style="margin-bottom:5px;">
                                Re-run the entire initial RCSB import. This will over-write existing structures with updated data, and add any structures that are currently missing.
                            </h:panelGroup>


                        </p:panelGrid>
                    </h:form>
                </p:panel>









                <!-- ###########################################################################################################
                    ENTER LIST OF PDB IDs TO IMPORT 
                -->

                <p:panel header="Import RCSB Structure(s) by PDB Identifier(s)" style="margin-bottom:20px; ">

                    <h:form id="importPdbIdsForm" style="padding: 10px 0 5px 0">
                        <p:growl id="importPdbIdsGrowl"/>

                        <p:inputTextarea id="importPdbIdsInput" 
                                         rows="3"
                                         styleClass="rqd"
                                         value="#{adminActionBean.pdbIdsInput}"
                                         style="margin-right:10px; margin-bottom:5px; width:95%"
                                         placeholder="List of comma/space separated PDB Identifiers"/> 

                        <p:panelGrid columns="2" columnClasses="column40,column60" style="width:100%;" >

                            <p:commandButton id="btnImportPdbIds" 
                                             style="width: 100%; "
                                             value="Import Structures from RCSB" 
                                             update="leftColumn"
                                             disabled="#{adminActionBean.controller.anyJobIsRunning}"
                                             action="#{adminActionBean.importPdbIds}"/>

                            <h:panelGroup>
                                Import or re-import a list of structures from RCSB. Structure identifiers must be valid RCSB PDB Identifiers, and can be separated with a comma or space.
                            </h:panelGroup>

                        </p:panelGrid>

                    </h:form>

                </p:panel>











                <!-- ###########################################################################################################
                        actions on structures 
                -->

                <p:panel header="Structure Actions" style="margin-bottom:25px; " rendered="#{adminActionBean.controller.initialRunSuccessful}">

                    <h:form id="structureActionForm" style="padding: 10px 0 0 0">
                        <p:growl id="structureActionGrowl"/>

                        <p:panelGrid columns="2" columnClasses="column40,column60" style="width:100%;" >

                            <p:commandButton id="btnUpdateAllSequences" 
                                             value="Update All Sequences" 
                                             immediate="true"
                                             update="leftColumn"
                                             style="margin-bottom:10px; width: 100%; "
                                             disabled="#{adminActionBean.controller.anyJobIsRunning}"
                                             action="#{adminActionBean.updateAllSequences}">
                                <p:confirm header="Confirm Update" message="Are you sure you want to update all chain/sequence data for all structures?" icon="ui-icon-alert"/>
                            </p:commandButton>
                            <h:panelGroup layout="block" style="margin-bottom:10px;">
                                Re-process all chain/sequence data for all structures. This is typically performed after a change in code affects the parsing of chain/sequence data during in import.
                            </h:panelGroup>


                            <p:commandButton id="btnUpdateManualSequences" 
                                             value="Update Manually Imported Sequences" 
                                             immediate="true"
                                             update="leftColumn"
                                             style="margin-bottom:10px; width: 100%; "
                                             disabled="#{adminActionBean.controller.anyJobIsRunning}"
                                             actionListener="#{adminActionBean.updateManualSequences}">
                                <p:confirm header="Confirm Update" message="Are you sure you want to update all chain/sequence data for manually uploaded structures?" icon="ui-icon-alert"/>
                            </p:commandButton>
                            <h:panelGroup layout="block" style="margin-bottom:10px;">
                                Re-Process all chain/sequence data for manually uploaded structures.
                            </h:panelGroup>


                            <p:commandButton id="btnUpdateMissingSequences" 
                                             value="Process Missing Sequences" 
                                             immediate="true"
                                             update="leftColumn"
                                             style="margin-bottom:10px; width: 100%; "
                                             disabled="#{adminActionBean.controller.anyJobIsRunning}"
                                             actionListener="#{adminActionBean.updateMissingSequences}">
                                <p:confirm header="Confirm Update" message="Are you sure you want to process all chain/sequence data for structures that are missing SEQRES data or Atomic Coordinates?" icon="ui-icon-alert"/>
                            </p:commandButton>
                            <h:panelGroup layout="block" style="margin-bottom:10px;">
                                Process chain/sequence data where structure is missing SEQRES data or Atomic Coordinates
                            </h:panelGroup>


                        </p:panelGrid>



                    </h:form>
                </p:panel>




                <!-- FASTA FILE DOWNLOADS -->

                <p:panel header="FASTA file downloads" style="margin-bottom:20px; ">
                    <h:form id="fastaFileForm">
                        <p:panelGrid columns="2" columnClasses="column60,column40" style="width:100%;" >


                            <!-- selection - query type -->
                            <h:panelGroup layout="block" style="margin-bottom:10px;">


                                <p:panelGrid columns="1" columnClasses="column100" style="margin-bottom:10px; width:100%; border: 1px solid #cccccc;" >

                                    <p:selectOneRadio id="fastaQueryOptions" value="#{adminActionBean.selectedFastaQuery}" layout="grid" columns="1" 
                                                      required="true" requiredMessage="Required">
                                        <f:selectItems value="#{adminActionBean.fastaQueryOptions}" var="q" itemLabel="#{q.description}" itemValue="#{q}"/>
                                    </p:selectOneRadio>
                                    <p:message for="fastaQueryOptions"/>

                                </p:panelGrid>



                                <p:panelGrid columns="2" columnClasses="column50,column50" style="margin-bottom:10px; width:100%; border: 1px solid #cccccc;" >

                                    <h:panelGroup layout="block" style="border-right: 1px solid #cccccc;">

                                        <!-- selection - protein, nucleic acid, all -->
                                        <p:selectOneRadio id="fastaChainOptions" value="#{adminActionBean.selectedFastaChain}"  layout="grid" columns="1" required="true" 
                                                          requiredMessage="Required">
                                            <f:selectItems value="#{adminActionBean.fastaChainOptions}" var="c" itemLabel="#{c}" itemValue="#{c}"/>
                                        </p:selectOneRadio>
                                        <p:message for="fastaChainOptions"/>

                                    </h:panelGroup>


                                    <h:panelGroup layout="block">

                                        <!-- selection - ATOM, SEQRES -->
                                        <p:selectOneRadio id="fastaSequenceFromOptions" value="#{adminActionBean.selectedFastaSequenceFrom}"  layout="grid" columns="1" 
                                                          required="true" requiredMessage="Required">
                                            <f:selectItems value="#{adminActionBean.fastaSequenceFromOptions}" var="f" itemLabel="#{f}" itemValue="#{f}"/>
                                        </p:selectOneRadio>
                                        <p:message for="fastaSequenceFromOptions"/>

                                    </h:panelGroup>

                                </p:panelGrid>


                            </h:panelGroup>



                            <h:panelGroup layout="block" style="margin-bottom:10px;">
                                Use the three option groups on the left to select the input for a predefined FASTA query, 
                                which will create and download the related FASTA file.
                                More customized FASTA files can be created from the results page of a structure search.

                                <br/><br/>

                                <p:commandButton id="btnDownloadFasta" 
                                                 value="Download FASTA file"
                                                 update="@form"
                                                 style="margin-bottom:10px; width: 100%; "
                                                 disabled="#{adminActionBean.controller.anyJobIsRunning}"
                                                 actionListener="#{adminActionBean.createFastaFileForSelectedOptions}"/>

                                <p:commandButton id="btnShowFastaUrl" 
                                                 value="Display FASTA URL"
                                                 update="@form, fastaFileForSelectedOptions"
                                                 style="margin-bottom:10px; width: 100%; "
                                                 actionListener="#{adminActionBean.showFastaUrlForSelectedOptions}"/>

                                <div style="width:300px">
                                    <h:outputText id="fastaFileForSelectedOptions" 
                                                  value="#{adminActionBean.fastaUrlForSelectedOptions}" 
                                                  style="word-wrap: break-word; white-space: pre-wrap; font-family: monospace; font-size: 10px"/>
                                </div>

                            </h:panelGroup>

                        </p:panelGrid>
                    </h:form>
                </p:panel>





                <!--
                <p:panel header="FASTA file downloads" style="margin-bottom:20px; ">

                    <p:panelGrid columns="2" columnClasses="column40,column60" style="width:100%;" >

                        <h:panelGroup layout="block" style="margin-bottom:10px;">
                            <p:commandButton id="fastaMenuBtn" value="FASTA" type="button" icon="ui-icon-arrowthickstop-1-s" style="width:100%;"/>
                            <p:tieredMenu overlay="true" trigger="fastaMenuBtn" my="left top" at="left bottom" style="width:280px">

                                <p:submenu label="#{adminActionBean.fastaUrlAllRcsb.description}" style="width:280px">
                                    <p:submenu label="Protein" expanded="true" style="width:150px">
                                        <p:menuitem value="Atomic Coordinates" url="#{adminActionBean.fastaUrlAllRcsb.proteinAtomUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                        <p:menuitem value="SEQRES" url="#{adminActionBean.fastaUrlAllRcsb.proteinSequresUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                    </p:submenu>
                                    <p:submenu label="Nucleic Acid" expanded="true" style="width:150px">
                                        <p:menuitem value="Atomic Coordinates" url="#{adminActionBean.fastaUrlAllRcsb.nucleicAcidAtomUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                        <p:menuitem value="SEQRES" url="#{adminActionBean.fastaUrlAllRcsb.nucleicAcidSeqresUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                    </p:submenu>
                                </p:submenu>

                                <p:submenu label="#{adminActionBean.fastaUrlOnlyManualModels.description}" style="width:280px">
                                    <p:submenu label="Protein" expanded="true" style="width:150px">
                                        <p:menuitem value="Atomic Coordinates" url="#{adminActionBean.fastaUrlOnlyManualModels.proteinAtomUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                        <p:menuitem value="SEQRES" url="#{adminActionBean.fastaUrlOnlyManualModels.proteinSequresUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                    </p:submenu>
                                    <p:submenu label="Nucleic Acid" expanded="true" style="width:150px">
                                        <p:menuitem value="Atomic Coordinates" url="#{adminActionBean.fastaUrlOnlyManualModels.nucleicAcidAtomUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                        <p:menuitem value="SEQRES" url="#{adminActionBean.fastaUrlOnlyManualModels.nucleicAcidSeqresUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                    </p:submenu>
                                </p:submenu>

                                <p:submenu label="#{adminActionBean.fastaUrlOnlyManualNonModels.description}" style="width:280px">
                                    <p:submenu label="Protein" expanded="true" style="width:150px">
                                        <p:menuitem value="Atomic Coordinates" url="#{adminActionBean.fastaUrlOnlyManualNonModels.proteinAtomUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                        <p:menuitem value="SEQRES" url="#{adminActionBean.fastaUrlOnlyManualNonModels.proteinSequresUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                    </p:submenu>
                                    <p:submenu label="Nucleic Acid" expanded="true" style="width:150px">
                                        <p:menuitem value="Atomic Coordinates" url="#{adminActionBean.fastaUrlOnlyManualNonModels.nucleicAcidAtomUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                        <p:menuitem value="SEQRES" url="#{adminActionBean.fastaUrlOnlyManualNonModels.nucleicAcidSeqresUrl}" icon="ui-icon-arrowthickstop-1-s" style="width:140px"/>
                                    </p:submenu>
                                </p:submenu>

                            </p:tieredMenu>
                        </h:panelGroup>

                        <h:panelGroup layout="block" style="margin-bottom:10px;">
                            Use the tiered-menu to select a predefined FASTA query, which will create and download the related FASTA file.
                            More customized FASTA files can be created from the results page of a structure search.
                        </h:panelGroup>

                    </p:panelGrid>


                </p:panel>
                -->



                <p:confirmDialog global="true">
                    <h:form>
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                    </h:form>
                </p:confirmDialog> 



            </h:panelGroup>




            <!-- #################################################################################################
                    RIGHT COLUMN
            ################################################################################################## -->


            <h:panelGroup id="rightColumn">



                <!-- ###########################################################################################################
                    ...
                -->

                <p:panel header="Find Structure by StructVerId" style="margin-bottom:20px; ">
                    <h:form id="foo">

                        <p:inputNumber decimalPlaces="0" size="10" thousandSeparator="" maxValue="99999999"  
                                       value="#{adminActionBean.structVerIdInput}">
                            <p:ajax event="keyup" process="@this" delay="10" update=":foo:bar" listener="#{adminActionBean.findFullStructureByStructVerId}"/>
                        </p:inputNumber>

                        <h:panelGroup id="bar">
                            <h:panelGroup rendered="#{adminActionBean.foundFullStrcuture ne null}">

                                <h:outputText value=" StructureId: " style="margin-left: 5px"/>
                                <h:outputText value=" #{adminActionBean.foundFullStrcuture.structureId} " style="font-weight: bold;"/>
                                <h:outputText value=" Version: " style="margin-left: 5px"/>
                                <h:outputText value=" #{adminActionBean.foundFullStrcuture.version} " style="font-weight: bold;"/> 
                                <br/>
                                <br/>

                                link:
                                <just:linkStructure fullStructure="#{adminActionBean.foundFullStrcuture}" optionalStyle="margin-left:5px;"/>

                                <br/>
                                <br/>

                                permalink: <br/>
                                <just:linkStructurePermalink fullStructure="#{adminActionBean.foundFullStrcuture}" displayAs="url" optionalStyle="margin-left:5px;"/>

                            </h:panelGroup>
                        </h:panelGroup>

                    </h:form>
                </p:panel>


                <p:panel header="Server Time" style="margin-bottom:20px; ">
                    <h:outputText value="#{adminActionBean.currentTime}" />
                </p:panel>




                <!--
                <br/>importJobIsRunning:            <b>#{adminActionBean.controller.importJobIsRunning}</b>
                <br/>anyJobIsRunning:               <b>#{adminActionBean.controller.anyJobIsRunning}</b>
                <br/>
                <br/>soloJobFullIsRunning:          <b>#{adminActionBean.controller.soloJobFullIsRunning}</b>
                <br/>soloJobListIsRunning:          <b>#{adminActionBean.controller.soloJobListIsRunning}</b>
                <br/>
                <br/>
                <br/>initialRunAttempted:           <b>#{adminActionBean.controller.initialRunAttempted}</b>
                <br/>initialRunSuccessful:          <b>#{adminActionBean.controller.initialRunSuccessful}</b>

                <br/>
                <br/>
                -->


            </h:panelGroup>

        </p:panelGrid>





    </ui:define>
</ui:composition>
