<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Amino Acids"/> </ui:define>


    <ui:define name="content" >


        <p:tabView id="tabAminoAcids">


            <p:tab id="tab_aa" title="Amino Acid" >

                <p:dataTable id="aminoAcidTable" value="#{aminoAcidList.aminoAcids}" var="aa"  sortMode="multiple" resizableColumns="true" style="padding:20px">

                    <f:facet name="header">  
                        <h:outputText value="Amino Acid list"/>
                    </f:facet> 

                    <p:column headerText="Name" sortBy="#{aa.name}" width="20%">
                        <h:outputText value="#{aa.name}" />
                    </p:column>

                    <p:column headerText="3 Letter Code" sortBy="#{aa.threeLetterCode}" width="10%">
                        <h:outputText value="#{aa.threeLetterCode} "  style="font-weight: bold; "/>
                        <h:outputText value=" (#{aa.aminoAcid.threeLetterCode})" style="color: #bbbbbb" rendered="#{aa.aminoAcid.threeLetterCode ne aa.threeLetterCode}"/> 
                    </p:column>

                    <p:column headerText="1 Letter Code" sortBy="#{aa.aminoAcid.oneLetterCode}" width="10%" >
                        <h:outputText value="#{aa.aminoAcid.oneLetterCode}" />
                    </p:column>

                    <p:column headerText="is Standard" sortBy="#{aa.standard}" width="10%" >
                        <h:outputText value="Y" rendered="#{aa.standard}"/>
                    </p:column>

                    <p:column headerText="Atoms" sortBy="#{aa.atomNames}" width="50%" >
                        <h:outputText value="#{aa.atomNames}"/>
                    </p:column>

                </p:dataTable>

            </p:tab>



            <p:tab id="tab_aa_otherc" title="Other" >
                
                <p:panelGrid columns="3" columnClasses="column33,column33,column33" >

                    
                    <p:dataTable id="nucleicAcids" value="#{aminoAcidList.nucleicAcidMap.entrySet().toArray()}" var="na" resizableColumns="true" style="padding-right:10px">
                        <f:facet name="header">  
                            <h:outputText value="Nucleic Acid"/>
                        </f:facet> 
                        
                        <p:column headerText="Key"  width="50%" >
                            <h:outputText value="#{na.key}"/>
                        </p:column>
                        
                        <p:column headerText="Abbrev" width="50%" >
                            <h:outputText value="#{na.value}"/>
                        </p:column>
                        
                    </p:dataTable>
                    
                    
                    
                    
                    <p:dataTable id="backboneAtoms" value="#{aminoAcidList.bkbnAtoms}" var="a"  sortMode="multiple" resizableColumns="true" style="padding-right:10px">
                        <f:facet name="header">  
                            <h:outputText value="Backbone Atoms"/>
                        </f:facet> 
                        
                        <p:column headerText="Atom" sortBy="#{a.name}" width="33%" >
                            <h:outputText value="#{a.name}"/>
                        </p:column>
                        
                        <p:column headerText="Element" sortBy="#{a.element.symbol}" width="33%" >
                            <h:outputText value="#{a.element.symbol}"/>
                        </p:column>
                        
                    </p:dataTable>
                    
                    
                    
                    <p:dataTable id="backboneCbAtoms" value="#{aminoAcidList.bkbnCbAtoms}" var="a"  sortMode="multiple" resizableColumns="true" style="padding-right:10px">
                        <f:facet name="header">  
                            <h:outputText value="Backbone CB Atoms"/>
                        </f:facet> 
                        
                        <p:column headerText="Atom" sortBy="#{a.name}" width="33%" >
                            <h:outputText value="#{a.name}"/>
                        </p:column>
                        
                        <p:column headerText="Element" sortBy="#{a.element.symbol}" width="33%" >
                            <h:outputText value="#{a.element.symbol}"/>
                        </p:column>
                        
                    </p:dataTable>
                    
                    

                </p:panelGrid>
            </p:tab>

        </p:tabView>







        <!-- new amino acid - form 

        <div style="padding:10px 10px 10px 10px">
            <p:panel header="New Amino Acid" toggleable="true" >

                <h:form id="aminoAcidNewForm">

                    <h:panelGrid columns="2" id="aminoAcidPanelGrid" styleClass="standard" columnClasses="lblL,data" >

                        <h:outputLabel value="Name" />
                        <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box;">
                            <p:inputText id="aminoAcidName"
                                         style="box-sizing:border-box; width:100%;"
                                         styleClass="rqd"
                                         size="100" 
                                         maxlength="255"
                                         value="#{aminoAcidList.newAminoAcid.name}"
                                         required="true"
                                         requiredMessage="Name cannot be blank">
                            </p:inputText>
                            <br/>
                            <p:message for="aminoAcidName" id="nameMsg" />
                        </h:panelGroup>


                        <h:outputLabel value="Abbrev (3)" />
                        <h:panelGroup>
                            <p:inputText id="aminoAcidAbbrev3"
                                         styleClass="rqd"
                                         size="20" 
                                         maxlength="3"
                                         value="#{aminoAcidList.newAminoAcid.abbrev}"
                                         required="true"
                                         requiredMessage="Abbrev (3) cannot be blank">
                            </p:inputText>
                            <br/>
                            <p:message for="aminoAcidAbbrev3" id="abbrev3Msg" />
                        </h:panelGroup>


                        <h:outputLabel value="Abbrev (1)" />
                        <h:panelGroup>
                            <p:inputText id="aminoAcidAbbrev1"
                                         styleClass="rqd"
                                         size="10" 
                                         maxlength="1"
                                         value="#{aminoAcidList.newAminoAcid.oneLetter}"
                                         required="true"
                                         requiredMessage="Abbrev (1) cannot be blank">
                            </p:inputText>
                            <br/>
                            <p:message for="aminoAcidAbbrev1" id="abbrev1Msg" />
                        </h:panelGroup>



                        <h:outputLabel value="Standard" />
                        <p:selectBooleanCheckbox value="#{aminoAcidList.newAminoAcid.standard}" />



                        <h:outputLabel value="Atoms" />
                        <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box;">
                            <p:inputText id="aminoAcidAtoms"
                                         style="box-sizing:border-box; width:100%;"
                                         styleClass="rqd"
                                         size="10" 
                                         maxlength="1"
                                         value="#{aminoAcidList.newAminoAcid.atoms}"
                                         required="true"
                                         requiredMessage="Atoms cannot be blank">
                            </p:inputText>
                            <br/>
                            <p:message for="aminoAcidAtoms" id="atomsMsg" />
                        </h:panelGroup>



                        <f:facet name="footer">
                            <p:commandButton action="#{aminoAcidList.save}"
                                             value="Add"
                                             icon="ui-icon-plus"
                                             style="margin:8px 20px 8px 20px"
                                             update="aminoAcidPanelGrid"/>
                        </f:facet>

                    </h:panelGrid>

                </h:form>
            </p:panel>
        </div>

        -->

        <!-- amino acid list - form 

        <h:form id="aminoAcidListForm" style="padding:10px 10px 50px 10px">

            <p:growl id="msgs" showDetail="true"/>

            <p:dataTable id="aminoAcidTable" value="#{aminoAcidList.aminoAcids}" var="aa" 
                         editable="true" sortMode="multiple" resizableColumns="true">

                <f:facet name="header">  
                    <h:outputText value="Amino Acid list"/>
                </f:facet> 

                <p:column style="width:32px">
                    <p:rowEditor />
                </p:column>

                <p:ajax event="rowEdit" listener="#{aminoAcidList.onRowEdit}" update=":aminoAcidListForm:msgs" />
                <p:ajax event="rowEditCancel" listener="#{aminoAcidList.onRowCancel}" update=":aminoAcidListForm:msgs" />

                <p:column headerText="Name" sortBy="#{aa.name}" width="30%" filterBy="#{aa.name}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{aa.name}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{aa.name}" style="width:100%" label="Name"/></f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column headerText="Abbrev (3)" sortBy="#{aa.abbrev}" width="10%" style="font-weight:bold;" filterBy="#{aa.abbrev}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{aa.abbrev}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{aa.abbrev}" style="width:100%" label="Abbrev (3)"/></f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column headerText="Abbrev (1)" sortBy="#{aa.oneLetter}" width="10%" filterBy="#{aa.oneLetter}" filterMatchMode="exact">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{aa.oneLetter}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{aa.oneLetter}" style="width:100%" label="Abbrev (1)"/></f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column headerText="Standard" sortBy="#{aa.standard}" width="10%">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{aa.standard?'Yes':''}" /></f:facet>
                        <f:facet name="input">
                            <p:selectBooleanCheckbox value="#{aa.standard}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column headerText="Atoms" width="50%" filterBy="#{aa.atoms}" filterMatchMode="contains">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{aa.atoms}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{aa.atoms}" style="width:100%" label="Atoms"/></f:facet>
                    </p:cellEditor>
                </p:column>



            </p:dataTable>

        </h:form>

        -->






    </ui:define>

</ui:composition>
