<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/templateBootstrap.xhtml">

    <ui:define name="title"> <h:outputText value="Bootstrap..."/> </ui:define>


    <ui:define name="content" >




        <div style="padding:10px 10px 50px 10px">

            <h:form id="bootstrapForm">


                <p:panel style="margin-bottom:20px;">
                    <h:panelGroup rendered="#{bootstrapBean.firstTimeStartup}">

                        Welcome to the bootstrap page for #{props.get.appName}! 
                        Please fill out all fields on this page, and click submit.
                        (Values can be updated later by users with the 'Developer' role)

                        <br/><br/>

                        Since this is the first startup of #{props.get.appName}, a 'first user' must be identified and entered.
                        Please enter a valid username/password; this user will be given full permissions in the system:

                    </h:panelGroup>


                    <h:panelGroup rendered="#{!bootstrapBean.firstTimeStartup}">

                        Welcome to the bootstrap (update) page for #{props.get.appName}! 
                        A property has been added or changed which requires a new value to be entered. 
                        Please review the fields below, fill out anything required, and click submit.

                        <br/><br/>

                        Only current users with the 'Developer' role can update properties; 
                        prior to submitting this form, please enter a valid username/password for an existing developer:

                    </h:panelGroup>

                    <br/><br/>


                    <p:inputText id="username"
                                 placeholder="username"
                                 size="25" maxlength="1000"
                                 style="margin-right:10px"
                                 value="#{bootstrapBean.username}">
                    </p:inputText>

                    <p:password id="password"
                                placeholder="password"
                                size="20" maxlength="100"
                                style="margin-right:10px"
                                value="#{bootstrapBean.password}">
                    </p:password>

                    <p:commandButton id="submitBtn"
                                     value="Submit"
                                     update="@form"
                                     action="#{bootstrapBean.saveAndContinue}">
                    </p:commandButton>


                </p:panel>




                <!-- submit error(s) -->
                <p:panel style="margin-bottom:20px;" rendered="#{not empty bootstrapBean.errors}">

                    <ui:repeat value="#{bootstrapBean.errors}" var="error">
                        <p><h:outputText value="#{error}" styleClass="redError"/></p>
                    </ui:repeat>

                </p:panel>




                <c:forEach items="#{bootstrapBean.valueMapsGroups}" var="vmg">

                    <p:panel header="#{vmg.itemGroup}" style="margin-bottom: 10px">

                        <c:forEach items="#{vmg.valueMaps}" var="item">


                            <!-- key in left column -->
                            <h:panelGroup class="jcol-3 jdta">
                                <h:outputText value=" #{item.itemKey} " style="font-weight: bold;"/>
                                <h:outputLabel value=" * " rendered="#{(item.isUrl or item.isValidEmail or item.isValidEmails) and !item.initialized }" styleClass="greay"/>
                            </h:panelGroup>



                            <!-- if NOT initialized, allow user to edit -->
                            <h:panelGroup class="jcol-9" rendered="#{!item.initialized}">

                                <p:inputText id="valueMapValue_#{item.valueMapId}"
                                             style="box-sizing:border-box; width:100%; margin-bottom: 5px"
                                             styleClass="rqd"
                                             size="100" 
                                             required="true"
                                             requiredMessage="Value is required"
                                             maxlength="2000"
                                             value="#{item.itemValue}">
                                    <f:validator validatorId="validUrl" disabled="#{!item.isUrl}"/>
                                    <f:validator validatorId="validEmailAddress" disabled="#{!item.isValidEmail}"/>
                                    <f:validator validatorId="validEmailAddresses" disabled="#{!item.isValidEmails}"/>
                                    <f:validator validatorId="validInteger" disabled="#{!item.isValidInt}"/>
                                    <f:validator validatorId="validCronExpression" disabled="#{item.itemKey != 'RcsbImportCron'}"/>
                                    <f:validator validatorId="validClientSupportType" disabled="#{item.itemKey != 'ClientSupportType'}"/>
                                    <f:validator validatorId="validDefaultRole" disabled="#{item.itemKey != 'DefaultRole'}"/>
                                </p:inputText>


                                <h:outputText value=" #{item.description} " />

                                <h:outputText value=" * must be a valid URL" rendered="#{item.isUrl}" styleClass="greay"/>
                                <h:outputText value=" * must be a valid SMTP email address" rendered="#{item.isValidEmail}" styleClass="greay"/>
                                <h:outputText value=" * one or more valid SMTP email address, seperated by a comma" rendered="#{item.isValidEmails}" styleClass="greay"/>
                                <h:outputText value=" * must be a valid integer" rendered="#{item.isValidInt}" styleClass="greay"/>

                                <p:message for="valueMapValue_#{item.valueMapId}" id="valueMapErrorMsg" />

                            </h:panelGroup>


                            <!-- if it is already initialized, just show value -->

                            <h:panelGroup class="jcol-9 jdta " rendered="#{item.initialized}" >
                                <h:outputText value="#{item.itemValue}"/>
                            </h:panelGroup>

                            <h:panelGroup class="jcol-3 " rendered="#{item.initialized}" >

                            </h:panelGroup>

                            <h:panelGroup class="jcol-9 " rendered="#{item.initialized}" >
                                <h:outputText value=" #{item.description} " />
                            </h:panelGroup>



                            <div style="clear: both; padding-bottom: 15px"></div>


                        </c:forEach>
                    </p:panel>
                </c:forEach>


            </h:form>
        </div>








    </ui:define>

</ui:composition>
