<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Properties (edit)"/> </ui:define>


    <ui:define name="content" >



        <h:form id="valueMapEditForm">


            <h:panelGrid columns="2" id="panelGrid"  style="margin-bottom:10px">

                <h:outputLabel value="Group" class="jcol-3 jlbl-right" />
                <h:outputText value="#{valueMapEdit.valueMap.itemGroup}" class="jcol-9 jdta" />


                <h:outputLabel value="Key" class="jcol-3 jlbl-right" />
                <h:outputText value="#{valueMapEdit.valueMap.itemKey}" class="jcol-9 jdta" />


                <h:outputLabel value="Description" class="jcol-3 jlbl-right" />
                <h:outputText value="#{valueMapEdit.valueMap.description}" class="jcol-9 jdta" />


                <h:panelGroup class="jcol-3 jlbl-right">
                    <h:outputLabel value="Value"  />
                    <h:outputLabel value=" * " rendered="#{valueMapEdit.valueMap.isUrl or valueMapEdit.valueMap.isValidEmail or valueMapEdit.valueMap.isValidEmails}"/>
                </h:panelGroup>
                
                <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box;" class="jcol-9 ">
                    <p:inputText id="valueMapValue"
                                 style="box-sizing:border-box; width:100%;"
                                 styleClass="rqd"
                                 size="100" 
                                 maxlength="2000"
                                 value="#{valueMapEdit.valueMap.itemValue}"
                                 required="true"
                                 requiredMessage="value cannot be blank">
                        <f:validator validatorId="validUrl" disabled="#{!valueMapEdit.valueMap.isUrl}"/>
                        <f:validator validatorId="validEmailAddress" disabled="#{!valueMapEdit.valueMap.isValidEmail}"/>
                        <f:validator validatorId="validEmailAddresses" disabled="#{!valueMapEdit.valueMap.isValidEmails}"/>
                        <f:validator validatorId="validInteger" disabled="#{!valueMapEdit.valueMap.isValidInt}"/>
                        <f:validator validatorId="validCronExpression" disabled="#{valueMapEdit.valueMap.itemKey != 'RcsbImportCron'}"/>
                        <f:validator validatorId="validClientSupportType" disabled="#{valueMapEdit.valueMap.itemKey != 'ClientSupportType'}"/>
                        <f:validator validatorId="validDefaultRole" disabled="#{valueMapEdit.valueMap.itemKey != 'DefaultRole'}"/>
                        <f:validator validatorId="validDefaultStructurePermission" disabled="#{valueMapEdit.valueMap.itemKey != 'DefaultStructurePermission'}"/>
                    </p:inputText>
                    <br/>
                    <p:message for="valueMapValue" id="valueMsg" />
                </h:panelGroup>

                <f:facet name="footer">
                    <p:commandButton action="#{valueMapEdit.save}"
                                     value="change"
                                     icon="ui-icon-check"
                                     style="margin:8px 20px 8px 80px"
                                     update="panelGrid"/>

                    <p:commandButton action="#{valueMapEdit.cancel}"
                                     value="cancel"
                                     icon="ui-icon-cancel" 
                                     immediate="true" 
                                     style="margin:8px 20px 8px 20px" />
                </f:facet>

            </h:panelGrid>

            <h:outputLabel value=" * must be a valid URL" rendered="#{valueMapEdit.valueMap.isUrl}"/>
            <h:outputLabel value=" * must be a valid SMTP email address" rendered="#{valueMapEdit.valueMap.isValidEmail}"/>
            <h:outputLabel value=" * one or more valid SMTP email address, seperated by a comma" rendered="#{valueMapEdit.valueMap.isValidEmails}"/>
            <h:outputLabel value=" * must be a valid integer" rendered="#{valueMapEdit.valueMap.isValidInt}"/>

            <!--
            <br/><br/>
            url: #{valueMapEdit.valueMap.isUrl} <br/>
            email:  #{valueMapEdit.valueMap.isValidEmail} <br/>
            emails:  #{valueMapEdit.valueMap.isValidEmails}<br/>
            int:  #{valueMapEdit.valueMap.isValidInt}
            -->


        </h:form>




    </ui:define>

</ui:composition>
