<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:view>

        <f:loadBundle var="msg" basename="ApplicationResources"/>

        
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <meta http-equiv="Pragma" content="no-cache" />
                <title>JStruct error page</title>
            </f:facet>
            <link rel="shortcut icon" href="/jstruct/favicon.ico" type="image/x-icon" />  
        </h:head>
        
        

        <style> 
            p, td {
                font-size:    10pt;
                font-family:  "Arial", "Geneva", "sans-serif"; 
            }
            .valerr {
                color:        #ff0000;
                font-weight:  bold;
            }
            a:link      { color: #186161; font-weight:bold;}
            a:visited   { color: #186161; font-weight:bold;}
            a:active    { color: #30C0C0; }  /* or maybe pink? */
            a:hover     { color: #30C0C0; }
        </style>

        <h:body>


            <table style="width:100%" border="0">
                <tr>
                    <td>  
                        <h:form>



                            <table style="width:100%" border="0">
                                <tr>
                                    <td style="text-align:left;">

                                        <b>ooh bummer, the following error has occurred:</b>
                                        <br/><br/>

                                        Error: <br/>
                                        <h:outputText value="#{hijackError.errToString}" styleClass="valerr" style="font-size:16px"/>
                                        <br/><br/>

                                        Message: <br/>
                                        <h:outputText value="#{hijackError.message}" styleClass="valerr"/>
                                        <br/><br/>

                                        Time: <br/>
                                        <h:outputText value="#{hijackError.when}" styleClass="valerr"/>
                                        <br/><br/>

                                    </td>
                                    <td style="width:390px; vertical-align:top;">

                                        <table style="width:100%;" border="0">
                                            <tr>
                                                <td style="text-align:justify; vertical-align:bottom">
                                                    Please return to the
                                                    <b> <h:commandLink id="home" value="JStruct - Home Page" action="#{facesUtil.invalidateSessionAndGoHome}"/> </b>
                                                    and restart your process. If this error continues please contact the system administrator stating 
                                                    steps which produced the error, and include any text shown below. Thank you.
                                                </td>
                                                <td style="vertical-align:top">
                                                    <img src="images/sad_error_bug.png" alt="sad error bug" style="margin:1px 5px; width:100px; " align="right"/>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        Stack Trace: <br/>
                                        <h:outputText value="#{hijackError.stackTraceOut}" escape="false" styleClass="valerr"/>
                                        <br/><br/>

                                    </td>
                                </tr>
                            </table>







                            <br/>

                        </h:form>
                    </td>
                </tr>
            </table>

        </h:body>

    </f:view>

</html>

