<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Home"/> </ui:define>

    <ui:define name="content" >




        <p:panelGrid columns="2" style="width: 100%;" columnClasses="homeColOne,homeColTwo" styleClass="ui-panelgrid-blank">

            <p:column>

                <!-- SEARCH FORM -->

                <h:form id="searchForm" >

                    <div class="structureQueryRow">


                        <h:panelGrid columns="2" style="width: 100%;" columnClasses="searchCriteriaFooterColOne, searchCriteriaFooterColTwo">

                            <h:panelGroup style="white-space: nowrap">

                                <just:fileStatusSelect elementId="search_file_status_rcsb" 
                                                       selectValue="#{homeBean.selectedFileStatusRcsb}"
                                                       labelText="RCSB:" 
                                                       paddingRight="20"/>

                                <just:fileStatusSelect elementId="search_file_status_manual" 
                                                       selectValue="#{homeBean.selectedFileStatusManual}"
                                                       labelText="Manual:"
                                                       paddingRight="20"/>

                            </h:panelGroup>

                            <h:panelGroup >
                                <p:ajaxStatus style="padding:2px;">
                                    <f:facet name="default"></f:facet>
                                    <f:facet name="start">
                                        <p:graphicImage value="/images/ajax-loader.gif"/>
                                    </f:facet>
                                    <f:facet name="complete"></f:facet>
                                </p:ajaxStatus>
                            </h:panelGroup>

                        </h:panelGrid>






                        <div>
                            <p:selectOneMenu id="selectedSubquery" 
                                             value="#{homeBean.subQueryInput.selectedSubqueryType}" 
                                             style="margin-top:10px; vertical-align: middle; box-sizing:border-box; width:100%;">

                                <f:selectItems value="#{subqueryTypeSelect.subqueryTypes}" var="sqt" 
                                               itemValue="#{sqt}"
                                               itemLabel="#{sqt.label}"
                                               itemDescription="#{sqt.description}"/>

                                <p:ajax update="subqueries"/>

                            </p:selectOneMenu>
                        </div>


                        <div style="padding-top:10px">
                            <h:panelGroup id="subqueries" >

                                <just:subqueryInput rowIndex="#{homeBean.subQueryInput.rowIndex}"
                                                    subQueryInput="#{homeBean.subQueryInput}"
                                                    selectedSubQueryType="#{homeBean.subQueryInput.selectedSubqueryType}"/>


                            </h:panelGroup>

                            <c:if test="#{homeBean.searchSubmitError ne null}">
                                <div style="margin:10px 0 5px 0;">
                                    <h:outputText id="searchSubmitError"
                                                  value="#{homeBean.searchSubmitError}" 
                                                  class="ui-message-error-detail ui-message ui-message-error ui-widget ui-corner-all" />
                                </div>
                            </c:if>

                        </div>

                        <div style="padding-top:10px; text-align:right;">

                            <p:commandButton id="btnSearchSubmit" 
                                             value="Search" 
                                             ajax="true" 
                                             update="searchForm"
                                             actionListener="#{homeBean.searchSubmitValidation}"
                                             action="#{homeBean.searchSubmit}"
                                             icon="ui-icon-search"/>

                        </div>



                    </div>
                </h:form>    





                <!-- METRICS -->

                <p:panel id="metrics" style="margin: 10px 3px 10px 3px;" styleClass="title3">

                    <h:outputText value="Active Structure files from RCSB: " style="color:#aaaaaa;"/>
                    <h:outputText value="#{homeBean.activeRcsbFileCount}" style="color:#777777;">
                        <f:convertNumber pattern="###,###" />
                    </h:outputText>
                    <br/>
                    <h:outputText value="Active manually uploaded files: " style="color:#aaaaaa;"/>
                    <h:outputText value="#{homeBean.activeManualFileCount}" style="color:#777777;">
                        <f:convertNumber pattern="###,###" />
                    </h:outputText>

                </p:panel>




                

                <!-- RANDOM STRUCTURE -->

                <p:panel id="randomStructure" style="margin: 10px 3px 10px 3px;" rendered="#{homeBean.randomStructure ne null}">
                    <h:panelGrid columns="2" style="width: 100%;" columnClasses="column30,column70">

                        <h:panelGroup>
                            <h:outputText value="Selected Structure: " styleClass="title3" style="color:#aaaaaa;"/>
                            <h:outputText value="#{homeBean.randomStructure.actualFileName}" styleClass="title3" style="color:#777777;"/>
                            #{homeBean.randomStructureUrl}
                            <script type="text/javascript" src="/jstruct/js/ngl.js"></script>
                                    
                            <script>
                                var fileName = '#{homeBean.randomStructureUrl}';
                                document.addEventListener("DOMContentLoaded", function () {
                                    var stage = new NGL.Stage("nglViewport", {backgroundColor: "#ffffff"});
                                    stage.loadFile(fileName, {defaultRepresentation: true});
                                });
                            </script>

                            <div style="border:solid 1px #bbbbbb; margin-right:10px; width:350px">
                                <div id="nglViewport" style="width:350px; height:350px; "></div>
                                <div style="width:100%; text-align:right;">
                                    <just:link3dViewer pdbId="#{homeBean.randomStructure.pdbIdentifier}" target="_blank"/>
                                </div>
                            </div>

                        </h:panelGroup>


                        <h:panelGroup>

                            <just:linkStructure fullStructure="#{homeBean.randomStructure}"
                                                class="title2"
                                                optionalStyle="font-size: 16px !important;"/>

                            <h:outputText value="Title " class="jcol-12 jlbl-left"/>
                            <h:outputText value="#{homeBean.randomStructure.pdbTitle}" class="jcol-12 jdta" />

                            <div style="clear: both; margin-bottom:10px"></div>

                            <h:outputText value="RCSB Deposit Date " class="jcol-12 jlbl-left"/>
                            <h:outputText value="#{homeBean.randomStructure.pdbDepositionDate}" class="jcol-12 jdta" >
                                <f:convertDateTime pattern="yyyy-MM-dd"/>
                            </h:outputText>

                            <div style="clear: both; margin-bottom:10px"></div>

                            <h:outputText value="Classification " class="jcol-12 jlbl-left"/>
                            <h:outputText value="#{homeBean.randomStructure.pdbClassification}" class="jcol-12 jdta" />

                            <div style="clear: both; margin-bottom:10px"></div>

                            <h:outputText value="EXPDTA " class="jcol-12 jlbl-left"/>
                            <h:outputText value="#{homeBean.randomStructure.pdbExpdta}" class="jcol-12 jdta" />

                            <div style="clear: both; margin-bottom:10px"></div>

                            <h:outputText value="Resolution " class="jcol-12 jlbl-left"/>
                            <h:outputText value="#{homeBean.randomStructure.pdbResolutionMeasure} #{homeBean.randomStructure.pdbResolutionUnit}" class="jcol-12 jdta" />


                        </h:panelGroup>


                    </h:panelGrid>
                </p:panel>


            </p:column>




            <!-- right column - GUEST -->

            <p:column rendered="#{homeBean.currentUser.guest}" >

                <div style="width:100%; text-align: right; ">
                    <i class="fa fa-arrow-up fa-5x" style="color: #d0e5f5;"></i>
                </div>

                <div style="text-align: justify; color:#79b7e7; font-size: 12px;">
                    Login to add and view Favorite Structures, track your Recent Structures, 
                    save custom Searches, and manage Structure Labels.
                </div>


            </p:column>



            <!-- right column - USER STUFF -->

            <p:column rendered="#{!homeBean.currentUser.guest}">


                <h:form id="userPanelRmtCmdForm">
                    <p:remoteCommand id="favoritesRmtCmd" name="favoritesRmtCmd" 
                                     action="#{homeBean.retrieveFavoriteFullStructures}" 
                                     autoRun="true" global="false"
                                     update=":userStuffPanel:favoritesForm"/>

                    <p:remoteCommand id="recentsRmtCmd" name="recentsRmtCmd" 
                                     action="#{homeBean.retrieveRecentFullStructures}" 
                                     autoRun="true" global="false"
                                     update=":userStuffPanel:recentsForm"/>

                    <p:remoteCommand id="userSearchesRmtCmd" name="userSearchesRmtCmd" 
                                     action="#{homeBean.retrieveSavedUserSearches}" 
                                     autoRun="true" global="false"
                                     update=":userStuffPanel:userSearchesForm"/>

                    <p:remoteCommand id="labelsRmtCmd" name="labelsRmtCmd" 
                                     action="#{homeBean.retrieveUserLabels}" 
                                     autoRun="true" global="false"
                                     update=":userStuffPanel:labelsForm"/>
                </h:form>
                

                <p:accordionPanel id="userStuffPanel" style="width: 300px; margin-top:5px" dynamic="true" cache="false"
                                  activeIndex="#{homeBean.sessionBean.tabHomeAccordian}">

                    <p:ajax event="tabChange" global="false" listener="#{homeBean.onTabChange}"/>


                    <!-- FAVORITE STRUCTURES -->

                    <p:tab id="favoritesTab" title="Favorite Structures" titleStyle="padding-left:25px;">
                        <h:form id="favoritesForm">

                            <h:outputText value=" Owner " style="float:right; color: #777777; text-decoration: underline; "/>
                            <h:outputText value=" Structure " style="float:left; color: #777777; text-decoration: underline; "/>

                            <div style="clear: both; margin-bottom:5px"></div>

                            <ui:repeat value="#{homeBean.favoriteFullStructures}" var="fav">
                                <h:outputText value="#{fav.ownerName} " style="float:right;"/>
                                <just:linkStructure fullStructure="#{fav}"/>
                                <div style="clear: both; margin-bottom:1px"></div>
                            </ui:repeat>

                            <div style="clear: both; margin-bottom:5px"></div>

                            <h:outputText value="To add favorites, click the star icon in the Structure view page" style="color: #777777; padding-top: 5px;"/>

                        </h:form>
                    </p:tab>





                    <!-- RECENT STRUCTURES -->

                    <p:tab id="recentsTab" title="Recent Structures" titleStyle="padding-left:25px;">
                        <h:form id="recentsForm">


                            <h:outputText value="Owner" style="float:right; color: #777777; text-decoration: underline; "/>
                            <h:outputText value="Structure" style="float:left; color: #777777; text-decoration: underline; "/>

                            <div style="clear: both; margin-bottom:5px"></div>

                            <ui:repeat value="#{homeBean.recentFullStructures}" var="recent">
                                <h:outputText value="#{recent.ownerName} " style="float:right;"/>
                                <just:linkStructure fullStructure="#{recent}"/>
                                <div style="clear: both; margin-bottom:1px"></div>
                            </ui:repeat>

                            <div style="clear: both; margin-bottom:5px"></div>

                            <h:outputText value="Maximum of #{homeBean.maxForRecent} most recently viewed Structures displayed" style="color: #777777; padding-top: 5px;"/>

                        </h:form>
                    </p:tab>




                    <!-- SAVED SEARCHES -->

                    <p:tab id="savedSearchesTab" title="Saved Searches" titleStyle="padding-left:25px;">
                        <h:form id="userSearchesForm">

                            <ui:repeat value="#{homeBean.userSearches}" var="userSearch">

                                <div style="float: left; white-space: nowrap">
                                    <p:commandLink action="#{homeBean.doSelectedSearch(userSearch.userSearchId)}" >
                                        <h:outputText class="ui-icon ui-icon-search" title="Perform this search" style="display:inline-block; vertical-align: bottom;"/>
                                        <h:outputText value="#{userSearch.searchName}" style="display:inline-block;"/>
                                    </p:commandLink>
                                </div>
                                <div style="clear: both; margin-bottom:1px"></div>

                            </ui:repeat>

                            <div style="clear: both; margin-bottom:5px"></div>

                        </h:form>
                    </p:tab>





                    <!-- LABELS -->

                    <p:tab id="labelsTab" title="Labels" titleStyle="padding-left:25px;">
                        <h:form id="labelsForm">

                            <h:panelGroup rendered="#{not empty homeBean.userLabelsMap}">

                                <h:outputText value="Count" style="float:right; color: #777777; text-decoration: underline;"/>
                                <h:outputText value="Label Name" style="float:left; color: #777777; text-decoration: underline;"/>
                                <div style="clear: both; margin-bottom:5px"></div>

                                <ui:repeat value="#{homeBean.userLabelsMap.entrySet().toArray()}" var="lbl">
                                    <h:outputText value="#{lbl.value}" style="float:right; background-color: ##{lbl.key.backgroundColor}; color: ##{lbl.key.textColor}; "  styleClass="verLabel"/>
                                    <just:structureUserLabel userLabel="#{lbl.key}" isLink="true"/>
                                    <div style="clear: both; margin-bottom:1px"></div>
                                </ui:repeat>

                            </h:panelGroup>


                            <h:panelGroup rendered="#{not empty homeBean.unusedUserLabels}">

                                <div style="margin-bottom:15px"></div>
                                <h:outputText value="Unused Labels" style="color: #777777; margin-top:10px"/>
                                <ui:repeat value="#{homeBean.unusedUserLabels}" var="unLbl">
                                    <div style="margin-bottom:5px"></div>
                                    <just:structureUserLabel userLabel="#{unLbl}"/>
                                </ui:repeat>

                            </h:panelGroup>

                        </h:form>
                    </p:tab>


                </p:accordionPanel>


            </p:column>


            <h:form id="metricsRmtCmdForm">
                <p:remoteCommand id="metricsRmtCmd" name="metricsRmtCmd" 
                                 action="#{homeBean.retrieveMetrics}" 
                                 autoRun="true" global="false"
                                 update=":metrics"/>
            </h:form>



        </p:panelGrid>



    </ui:define>

</ui:composition>

