<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Labels"/> </ui:define>

    <ui:define name="content" >



        <div style="padding:10px 10px 10px 10px">


            <!-- new labels - form -->

            <h:form id="newLabelForm">
                <p:growl id="newLabelGrowl" showDetail="true"/>
                <p:panel header="Create new Label" toggleable="true" toggleSpeed="250" styleClass="structureSection"  collapsed="false">

                    <div style="overflow: hidden; max-width:500px">

                        <p:colorPicker value="#{labelsBean.newLabel.backgroundColor}" style="float: left;" />

                        <span style="overflow:hidden; display:block; padding-right: 30px">
                            <p:inputText value="#{labelsBean.newLabel.labelName}" 
                                         required="true" requiredMessage="Label name is required" 
                                         styleClass="rqd"
                                         placeholder="Label Name"
                                         style="width:100%; margin:0 10px"/>
                        </span>

                        <p:inputTextarea value="#{labelsBean.newLabel.description}" 
                                         placeholder="Label Description"
                                         style="width:484px; margin-top: 5px; margin-right:10px" 
                                         rows="2"/>


                        <p:commandButton value="Create Label" icon="ui-icon-tag" 
                                         style="float: right; margin-right:6px; margin-top:5px"
                                         ajax="true" 
                                         update="@form, :labelForm"
                                         actionListener="#{labelsBean.createNewLabel}"/> 

                    </div>

                </p:panel>
            </h:form>


        </div>





        <h:form id="labelForm" style="padding:10px 10px 50px 10px">

            <p:growl id="msgs" showDetail="true"/>


            <!-- USED labels -->

            <p:dataTable id="usedlabelTable" value="#{labelsBean.userLabelsMap.entrySet().toArray()}" var="lbl" 
                         editable="true" resizableColumns="true"
                         emptyMessage="You have no used labels.">

                <f:facet name="header">  
                    <h:outputText value="My Used Labels"/>
                </f:facet> 

                <p:column style="width:32px">
                    <p:rowEditor />
                </p:column>

                <p:ajax event="rowEdit" listener="#{labelsBean.onEditUsedLabelRow}" update=":labelForm:msgs" />
                <p:ajax event="rowEditCancel" listener="#{labelsBean.onCancelRow}" update=":labelForm:msgs" />

                <p:column headerText="Color" style="width:85px">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{lbl.key.backgroundColor}" 
                                          style="text-transform: uppercase; font-family:monospace; background-color:##{lbl.key.backgroundColor}; color:##{lbl.key.textColor}; "
                                          styleClass="verLabel"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:colorPicker value="#{lbl.key.backgroundColor}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column headerText="Label Name (click to search)"  width="35%" style="font-weight:bold; ">
                    <p:cellEditor>
                        <f:facet name="output">
                            <just:structureUserLabel userLabel="#{lbl.key}" isLink="true"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{lbl.key.labelName}" style="width:95%" label="Label Name" 
                                         styleClass="rqd" required="true" requiredMessage="Label Name is required"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column headerText="Description"  width="50%">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{lbl.key.description}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{lbl.key.description}" style="width:95%" label="Description"/></f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column headerText="Count" style="width:35px;" >
                    <h:outputText value="#{lbl.value}" style="background-color: ##{lbl.key.backgroundColor}; color: ##{lbl.key.textColor}; "  
                                  styleClass="verLabel"/>
                </p:column>


            </p:dataTable>




            <!-- UNUSED labels -->

            <p:dataTable id="unusedlabelTable" value="#{labelsBean.unusedUserLabels}" var="unLbl" 
                         editable="true"  resizableColumns="true" style="margin-top:20px"
                         emptyMessage="You have no unused labels">

                <f:facet name="header">  
                    <h:outputText value="Unused Labels (deletable)"/>
                </f:facet> 

                <p:column style="width:32px">
                    <p:rowEditor />
                </p:column>

                <p:ajax event="rowEdit" listener="#{labelsBean.onEditUnusedLabelRow}" update=":labelForm:msgs" />
                <p:ajax event="rowEditCancel" listener="#{labelsBean.onCancelRow}" update=":labelForm:msgs" />

                <p:column headerText="Color" style="width:85px">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{unLbl.backgroundColor}" 
                                          style="text-transform: uppercase; font-family:monospace; background-color:##{unLbl.backgroundColor}; color:##{unLbl.textColor}; "
                                          styleClass="verLabel"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:colorPicker value="#{unLbl.backgroundColor}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column headerText="Label Name"  width="35%" style="font-weight:bold; ">
                    <p:cellEditor>
                        <f:facet name="output">
                            <just:structureUserLabel userLabel="#{unLbl}"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{unLbl.labelName}" style="width:95%" label="Label Name" 
                                         styleClass="rqd" required="true" requiredMessage="Label Name is required"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column headerText="Description"  width="50%">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{unLbl.description}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{unLbl.description}" style="width:95%" label="Description"/></f:facet>
                    </p:cellEditor>
                </p:column>


                <!-- delete link -->
                <p:column style="width:35px">
                    <p:commandLink update="@form" ajax="true"
                                   actionListener="#{labelsBean.deleteLabel}" >
                        <p:confirm header="Confirm Delete" message="Are you sure you want to delete this Label?" icon="ui-icon-alert"/>
                        <f:attribute name="doomedUserLabelId" value="#{unLbl.userLabelId}"/>
                        <h:outputText class="ui-icon ui-icon-trash" title="Delete this label"/>
                    </p:commandLink>
                </p:column>


            </p:dataTable>


            <p:confirmDialog global="true">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>


        </h:form>








    </ui:define>

</ui:composition>
