<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Lookups"/> </ui:define>

    <ui:define name="content" >


        <div style="padding:10px 10px 50px 10px">
            <p:tabView id="tabView_lookups" dynamic="true" cache="false" activeIndex="#{sessionBean.tabLookups}">

                <p:ajax event="tabChange" listener="#{lookups.onTabChange}"/>  


                <!-- PROGRAMS TAB -->

                <p:tab id="tab_lookup_program" title="Programs" >


                    <!-- Program list -->

                    <h:form id="programListForm" style="padding:0 10px 20px 10px">
                        <p:growl id="programMsgs" showDetail="true"/>

                        <p:dataTable id="programTable" value="#{programList.programs}" var="program" editable="true" sortMode="multiple">

                            <f:facet name="header">  
                                <h:outputText value="Programs"/>
                            </f:facet> 

                            <p:column style="width:32px">
                                <p:rowEditor />
                            </p:column>

                            <p:ajax event="rowEdit" listener="#{programList.onRowEdit}" update=":tabView_lookups:programListForm:programMsgs" />
                            <p:ajax event="rowEditCancel" listener="#{programList.onRowCancel}" update=":tabView_lookups:programListForm:programMsgs" />

                            <p:column headerText="Name" sortBy="#{program.name}" style="width: 300px">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{program.name}" /></f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{program.name}" style="width:100%" label="Name"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>


                            <p:column headerText="Deprecated" sortBy="#{program.deprecated}" styleClass="padding:20px;">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{program.deprecated?'Yes':''}" /></f:facet>
                                    <f:facet name="input">
                                        <p:selectBooleanCheckbox value="#{program.deprecated}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>


                        </p:dataTable>

                    </h:form>


                    <!-- program NEW -->
                    <h:form id="newProgramForm">

                        <h:panelGrid columns="3" id="newProgramGrid" >

                            <h:outputLabel value="New Program Name:" />

                            <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box;">
                                <p:inputText id="newProgramName"
                                             style="box-sizing:border-box; width:100%;"
                                             styleClass="rqd"
                                             size="50" 
                                             maxlength="255"
                                             value="#{programList.newProgram.name}"
                                             required="true"
                                             requiredMessage="Name cannot be blank">
                                </p:inputText>
                                <br/>
                                <p:message for="newProgramName" id="newProgramNameMsg" />
                            </h:panelGroup>

                            <p:commandButton action="#{programList.save}"
                                             value="Add"
                                             icon="ui-icon-plus"
                                             style="margin:8px 20px 8px 20px"
                                             update="newProgramGrid"/>


                        </h:panelGrid>

                    </h:form>

                </p:tab>


                
                
                
                
                

                <!-- CLIENTS TAB -->


                <p:tab id="tab_lookup_client" title="Clients" >

                    <!-- Program list -->

                    <h:form id="clientListForm" style="padding:0 10px 20px 10px">
                        <p:growl id="clientMsgs" showDetail="true"/>

                        <p:dataTable id="clientTable" value="#{clientList.clients}" var="client" editable="true" sortMode="multiple">

                            <f:facet name="header">  
                                <h:outputText value="Clients"/>
                            </f:facet> 

                            <p:column style="width:32px">
                                <p:rowEditor />
                            </p:column>

                            <p:ajax event="rowEdit" listener="#{clientList.onRowEdit}" update=":tabView_lookups:clientListForm:clientMsgs" />
                            <p:ajax event="rowEditCancel" listener="#{clientList.onRowCancel}" update=":tabView_lookups:clientListForm:clientMsgs" />

                            <p:column headerText="Name" sortBy="#{client.name}" style="width: 300px">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{client.name}" /></f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{client.name}" style="width:100%" label="Name"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>


                            <p:column headerText="Deprecated" sortBy="#{client.deprecated}"  styleClass="padding:20px;">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{client.deprecated?'Yes':''}" /></f:facet>
                                    <f:facet name="input">
                                        <p:selectBooleanCheckbox value="#{client.deprecated}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>


                        </p:dataTable>

                    </h:form>


                    
                    <!-- client NEW -->
                    
                    <h:form id="newClientForm">

                        <h:panelGrid columns="3" id="newClientGrid" >

                            <h:outputLabel value="New Client Name:" />

                            <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box;">
                                <p:inputText id="newClientName"
                                             style="box-sizing:border-box; width:100%;"
                                             styleClass="rqd"
                                             size="50" 
                                             maxlength="255"
                                             value="#{clientList.newClient.name}"
                                             required="true"
                                             requiredMessage="Name cannot be blank">
                                </p:inputText>
                                <br/>
                                <p:message for="newClientName" id="newClientNameMsg" />
                            </h:panelGroup>

                            <p:commandButton action="#{clientList.save}"
                                             value="Add"
                                             icon="ui-icon-plus"
                                             style="margin:8px 20px 8px 20px"
                                             update="newClientGrid"/>


                        </h:panelGrid>

                    </h:form>
                </p:tab>








            </p:tabView>
        </div>




    </ui:define>

</ui:composition>
