<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Upload"/> </ui:define>


    <ui:define name="content" >



        <!--
        replaceStructVerId: #{newStructureBean.replaceStructVerId}<br/>
        replaceJstructId #{newStructureBean.replaceJstructId}
        -->

        <!-- #################################################################################################
                    UPLOAD FILE
            ################################################################################################## -->

        <h:form id="uploadFileForm" enctype="multipart/form-data">
            <p:growl id="uploadFileGrowl" autoUpdate="true"/>
            <h:panelGroup rendered="#{newStructureBean.uploadFileStep}">


                <!-- header -->
                <h:panelGroup styleClass="structureHeader">

                    <h:panelGrid columns="2" style="width: 100%;" columnClasses="fiftyLeft,fiftyRight">

                        <!-- title  -->
                        <p:column >
                            <p:outputLabel value="New Structure File Upload" styleClass="title1" rendered="#{!newStructureBean.replaceMode}"/>
                            <p:outputLabel value="Replace Structure File Upload (#{newStructureBean.replaceJstructId})" 
                                           styleClass="title1" rendered="#{newStructureBean.replaceMode}"/>
                        </p:column>

                        <!-- buttons -->
                        <p:column >
                            <p:commandButton value="Cancel" 
                                             immediate="true"
                                             ajax="false"
                                             style="margin-right:5px;"
                                             actionListener="#{newStructureBean.cancelFromUploadFile}"/>
                        </p:column>

                    </h:panelGrid>

                    <!-- upload file sub-title -->
                    <p:outputLabel value="[Upload File(s)]" styleClass="title3 ui-state-active" style="margin-left:4px; border:0" rendered="#{!newStructureBean.replaceMode}"/>
                    <p:outputLabel value="[Upload File]"    styleClass="title3 ui-state-active" style="margin-left:4px; border:0" rendered="#{newStructureBean.replaceMode}"/>
                    <p:outputLabel value=" &mdash;&mdash; " styleClass="title3 greay"/>
                    <p:outputLabel value="[Add Data]"       styleClass="title3 greay "/>

                </h:panelGroup>



                <hr style="margin-bottom: 20px"/>



                <p:panelGrid columns="2" style="width: 100%;" columnClasses="twoThirdsLeft,oneThirdLeft" styleClass="ui-panelgrid-blank" rendered="#{newStructureBean.uploadFileStep}"> 


                    <!-- upload file -->
                    <p:column>

                        <h:outputText value="Select structure file(s) to upload into JStruct:" class="jlbl-left"/>


                        <div style="padding-top:3px; margin-bottom:10px; height:auto; max-height:250px; width:100%; overflow: auto; " > 
                            <p:fileUpload fileUploadListener="#{newStructureBean.uploadFileEvent}"
                                          dragDropSupport="true"
                                          mode="advanced"
                                          oncomplete="uploadFileCompleteCmd()"
                                          multiple="#{newStructureBean.replaceMode ? 'false' : 'true'}"
                                          fileLimit="#{newStructureBean.replaceMode ? '1' : '100'}" 
                                          fileLimitMessage="Maximum file limit reached. Please upload 100 or less files"
                                          label="#{newStructureBean.replaceMode ? 'Select Replacement File' : 'Select File(s)'} "
                                          uploadLabel="Upload"
                                          cancelLabel="Reset"/>
                        </div>

                        <p:remoteCommand name="uploadFileCompleteCmd"
                                         id="uploadFileCompleteCmd" 
                                         actionListener="#{newStructureBean.uploadFileComplete}"
                                         update=":uploadFileForm, :addDataOneForm, :addDataMultipleForm"/>



                        <p:panel header="Default Title" style="margin-bottom:10px; " rendered="#{!newStructureBean.replaceMode}">
                            <p:panelGrid columns="3" columnClasses="centered,centered,centered">

                                <h:outputText value="Title prepend value" styleClass="jlbl-center"/>
                                <h:outputText value="Include file name" styleClass="jlbl-center"/> 
                                <h:outputText value="Title append value" styleClass="jlbl-center"/>

                                <p:inputText value="#{newStructureBean.titlePrepend}"/>
                                <p:selectBooleanCheckbox value="#{newStructureBean.titleFromFilename}"/>
                                <p:inputText value="#{newStructureBean.titleAppend}"/>

                            </p:panelGrid>

                        </p:panel>



                        <just:structureRenderMetadataEditOnly editableStructVersion="#{newStructureBean.nextStructVersion}"
                                                              clientSelectionRequired="false"
                                                              allowPanelToggle="false"
                                                              showPanelBorder="true"/>


                    </p:column>



                    <!-- instructions -->
                    <p:column>

                        <!-- NEW MODE INSTRUCTIONS -->
                        <p:panel header="Instructions" style="margin-top:15px;" rendered="#{!newStructureBean.replaceMode}">

                            <div class="numberedLine">
                                <h:outputText value="(1)" styleClass="numberedBullet"/>
                                Click 'Select File(s)' to display the 'Open Files' dialog, then browse to and select <b>one or more</b> structure files.  
                            </div> 
                            <div class="numberedLine">
                                <h:outputText value="(2)" styleClass="numberedBullet"/>
                                For files that do <b>not</b> have an embedded structure title, a default title can be created from the file name using the 'Default Title' section.
                                The title can be updated on the following page.
                                <i>This is especially helpful for bulk uploads.</i>
                            </div> 
                            <div class="numberedLine">
                                <h:outputText value="(3)" styleClass="numberedBullet"/>
                                Enter text into the optional 'Metadata' fields; this info can be updated on the next page. 
                                <i>Note: if uploading multiple structure files, metadata will be copied to <b>all</b> structures.</i>
                            </div>
                            <div class="numberedLine">
                                <h:outputText value="(4)" styleClass="numberedBullet"/>
                                Click 'Upload' - to upload the file(s) to the server in preparation for the next step, however structure data has not yet been saved.
                            </div>


                            <div style="margin-top: 20px; margin-bottom:5px">
                                <h:outputText value="Uploading single Structure file" styleClass="title4" />
                            </div>
                            <div class="numberedLine">
                                <h:outputText value="(5)" styleClass="numberedBullet"/>
                                If the file format is 'pdb' or 'cif' the file data will be parsed and displayed on the next page, otherwise only minimal info will be shown.
                                Fill out all known fields, and click 'Upload Data'. 
                            </div>
                            <div class="numberedLine">
                                <h:outputText value="(6)" styleClass="numberedBullet"/>
                                The structure file will be saved, and you will be redirected to its page.
                            </div>


                            <div style="margin-top: 20px; margin-bottom:5px">
                                <h:outputText value="Uploading multiple Structure files" styleClass="title4" />
                            </div>
                            <div>
                                <div class="numberedLine">
                                    <h:outputText value="(5)" styleClass="numberedBullet"/>
                                    A list of uploaded files and some of their data are displayed.  
                                    For each file review the displayed data, and fill out all known fields;
                                    when complete, click 'Upload Data'.
                                </div>
                                <div class="numberedLine">
                                    <h:outputText value="(6)" styleClass="numberedBullet"/>
                                    All structure files will be saved, and you will be redirected to a list containing links to each one.
                                </div>
                            </div>

                        </p:panel>


                        <!-- REPLACE MODE INSTRUCTIONS -->
                        <p:panel header="Instructions" style="margin-top:15px;" rendered="#{newStructureBean.replaceMode}">

                            <div class="numberedLine">
                                <h:outputText value="(1)" styleClass="numberedBullet"/>
                                Click 'Select Replacement File' to display the 'Open File' dialog, then browse to and select the structure file for the next version of this structure.  
                            </div> 

                            <div class="numberedLine">
                                <h:outputText value="(2)" styleClass="numberedBullet"/>
                                Optional 'Metadata' has been copied into the form fields; this info can be updated here or on the next page. 
                            </div>
                            <div class="numberedLine">
                                <h:outputText value="(3)" styleClass="numberedBullet"/>
                                Click 'Upload' - to upload the file to the server in preparation for the next step, however structure data has not yet been saved.
                            </div>

                            <div class="numberedLine">
                                <h:outputText value="(4)" styleClass="numberedBullet"/>
                                If the file format is 'pdb' or 'cif' the file data will be parsed and displayed on the next page, otherwise only minimal info will be shown.
                                Fill out all known fields, and click 'Upload Data'. 
                            </div>
                            <div class="numberedLine">
                                <h:outputText value="(5)" styleClass="numberedBullet"/>
                                The structure file will be saved, and you will be redirected to its page.
                            </div>


                        </p:panel>


                    </p:column>


                </p:panelGrid>

            </h:panelGroup>
        </h:form>








        <!-- #################################################################################################
                    ADD DATA (for ONE file)
            ################################################################################################## -->


        <h:form id="addDataOneForm">
            <p:growl id="addDataOneGrowl" autoUpdate="true"/>
            <h:panelGroup rendered="#{newStructureBean.addDataOneStep}">



                <!-- header -->
                <h:panelGroup styleClass="structureHeader">

                    <h:panelGrid columns="2" style="width: 100%;" columnClasses="fiftyLeft,fiftyRight">

                        <!-- title  -->
                        <p:column >
                            <p:outputLabel value="New Structure File Upload" styleClass="title1" rendered="#{!newStructureBean.replaceMode}"/>
                            <p:outputLabel value="Replace Structure File Upload" styleClass="title1" rendered="#{newStructureBean.replaceMode}"/>
                        </p:column>

                        <!-- buttons -->
                        <p:column >
                            <p:commandButton value="Cancel" 
                                             immediate="true"
                                             ajax="false"
                                             style="margin-right:5px;"
                                             actionListener="#{newStructureBean.cancelFromAddData}"/>

                            <p:commandButton value="Upload Data" 
                                             immediate="false"
                                             ajax="true"
                                             action="#{newStructureBean.addDataOne}"/>
                        </p:column>

                    </h:panelGrid>

                    <!-- upload file sub-title -->
                    <p:outputLabel value="[Upload File]"    styleClass="title3 greay" style="margin-left:4px;"/>
                    <p:outputLabel value=" &mdash;&mdash; " styleClass="title3 greay"/>
                    <p:outputLabel value="[Add Data]"       styleClass="title3 ui-state-active" style="margin-left:4px; border:0"/>

                </h:panelGroup>



                <hr/>



                <p:panelGrid columns="2" style="width: 100%;" columnClasses="structureColOne,structureColTwo" styleClass="ui-panelgrid-blank" > 


                    <!-- column ONE -->
                    <p:column>

                        <h:panelGroup rendered="#{newStructureBean.parsable}">

                            <just:structureRenderHeader fullStructure="#{newStructureBean.tempFullStructure}" 
                                                        authors="#{newStructureBean.nextPdbFile.pdbAuthors}"
                                                        keywords="#{newStructureBean.nextPdbFile.pdbKeywords}"
                                                        allowActions="false"
                                                        displayMode="view"/>

                            <!-- jrnl -->
                            <just:structureRenderJrnl jrnl="#{newStructureBean.nextPdbFile.pdbJrnls.get(0)}"/>

                            <!-- compnd -->
                            <just:structureRenderCompnd compnds="#{newStructureBean.nextPdbFile.pdbCompnds}"/>

                            <!-- source -->
                            <just:structureRenderSource sources="#{newStructureBean.nextPdbFile.pdbSources}"/>

                            <!-- revdat -->
                            <just:structureRenderRevdat revdats="#{newStructureBean.nextPdbFile.pdbRevdats}"/>

                            <!-- remark -->
                            <just:structureRenderRemark remarks="#{newStructureBean.nextPdbFile.pdbRemarks}"/>

                        </h:panelGroup>




                        <h:panelGroup rendered="#{!newStructureBean.parsable}">

                            <!-- header -editable -->
                            <just:structureRenderHeaderEditOnly editablePdbFile="#{newStructureBean.nextPdbFile}" />

                            <!-- jrnl editable -->
                            <just:structureRenderJrnlEditOnly jrnl="#{newStructureBean.nextPdbJrnl}"/>


                        </h:panelGroup>


                    </p:column>



                    <!-- column TWO -->
                    <p:column>

                        <!-- file info -->
                        <just:structureRenderFileInfo fileAttributes="#{newStructureBean.tempFileAttributes}"
                                                      fromRcsb="false"
                                                      allowReplaceLink="false"
                                                      showDownloadLinks="false"/> 

                        <!-- metadata (structVersion) -->
                        <just:structureRenderMetadataEditOnly editableStructVersion="#{newStructureBean.nextStructVersion}"
                                                              clientSelectionRequired="#{props.get.clientSupportTypeIsRequired}"/>

                        <!-- sequences -->
                        <just:structureRenderSequences id="seqComponent" prependToUpdated=":addDataForm:seqComponent" 
                                                       jstructId="n/a"
                                                       allowChainDialog="false"
                                                       verboseChainDisplay="true"
                                                       displaySequences="#{newStructureBean.tempDisplaySequences}"
                                                       rendered="#{newStructureBean.parsable}"/>

                    </p:column>


                </p:panelGrid>


            </h:panelGroup>
        </h:form>





        <!-- #################################################################################################
                    ADD DATA (for MULTIPLE files)
            ################################################################################################## -->


        <h:form id="addDataMultipleForm">
            <p:growl id="addDataMultipleGrowl" autoUpdate="true" life="1000"/>
            <h:panelGroup rendered="#{newStructureBean.addDataMultipleStep}">



                <!-- header -->
                <h:panelGroup styleClass="structureHeader">

                    <h:panelGrid columns="2" style="width: 100%;" columnClasses="fiftyLeft,fiftyRight">

                        <!-- title  -->
                        <p:column >
                            <p:outputLabel value="New Structure File Upload" styleClass="title1" rendered="#{!newStructureBean.replaceMode}"/>
                            <!-- THIS CAN NEVER BE TRUE AT THIS STEP <p:outputLabel value="Replace Structure File Upload" styleClass="title1" rendered="# {newStructureBean.replaceMode}"/> -->
                        </p:column>

                        <!-- buttons -->
                        <p:column >

                            <div style="position: absolute; ">
                                <p:ajaxStatus>
                                    <f:facet name="default"></f:facet>
                                    <f:facet name="start">
                                        <p:graphicImage value="/images/ajax-loader.gif"/>
                                    </f:facet>
                                    <f:facet name="complete"></f:facet>
                                </p:ajaxStatus>
                            </div>

                            <p:commandButton value="Cancel" 
                                             immediate="true"
                                             ajax="false"
                                             style="margin-right:5px;"
                                             actionListener="#{newStructureBean.cancelFromAddData}"/>

                            <p:commandButton value="Upload Data" 
                                             immediate="false"
                                             update="@form"
                                             ajax="true"
                                             action="#{newStructureBean.addDataMultiple}"/>                       
                        </p:column>

                    </h:panelGrid>

                    <!-- upload file sub-title -->
                    <p:outputLabel value="[Upload Files]"    styleClass="title3 greay" style="margin-left:4px;"/>
                    <p:outputLabel value=" &mdash;&mdash; "  styleClass="title3 greay"/>
                    <p:outputLabel value="[Add Data]"        styleClass="title3 ui-state-active" style="margin-left:4px; border:0"/>

                </h:panelGroup>



                <hr/>


                <!-- all the bulk-file-items -->
                <ui:repeat value="#{newStructureBean.bulkFileItems}" var="bfItem">


                    <div style="width:100%; border: 1px solid #cccccc; background-color: #eeeeee; box-sizing: border-box; padding:3px 3px 3px 10px; margin:5px 0 5px 0">
                        <h:outputText value="#{bfItem.file.name}" styleClass="title2"/>
                        <h:outputText value=" #{bfItem.validationErrorsString}" styleClass="redError title3"/>
                    </div>

                    <p:panelGrid columns="2" style="width: 100%;" columnClasses="structureColOne,structureColTwo" styleClass="ui-panelgrid-blank" > 

                        <!-- column ONE -->
                        <p:column>

                            <!-- PDB file - parsable (pdb/cif) -->
                            <h:panelGroup rendered="#{bfItem.pdbOrCifFile}">

                                <h:outputText value=" Title: " class="jcol-3 jlbl-right"/>
                                <h:outputText value="#{bfItem.pdbFile.title}" class="jcol-9 jdta"/>

                                <h:outputText value=" Classification: " class="jcol-3 jlbl-right"/>
                                <h:outputText value="#{bfItem.pdbFile.classification}" class="jcol-9 jdta"/>

                                <h:outputText value=" CAVEAT: " class="jcol-3 jlbl-right"/>
                                <h:outputText value="#{bfItem.pdbFile.caveat}" class="jcol-9 jdta"/>

                                <h:outputText value=" EXPDTA: " class="jcol-3 jlbl-right"/>
                                <h:outputText value="#{bfItem.pdbFile.expdta}" class="jcol-9 jdta"/>

                                <h:outputText value=" NUMMDL: " class="jcol-3 jlbl-right"/>
                                <h:outputText value="#{bfItem.pdbFile.nummdl}" class="jcol-9 jdta"/>

                                <h:outputText value=" Keywords: " class="jcol-3 jlbl-right"/>
                                <h:outputText value="#{bfItem.pdbFile.keywordString}" class="jcol-9 jdta"/>

                                <h:outputText value=" Authors: " class="jcol-3 jlbl-right"/>
                                <h:outputText value="#{bfItem.pdbFile.authorString}" class="jcol-9 jdta"/>

                            </h:panelGroup>



                            <!-- PDB file - NOT parsable (NOT pdb/cif) -->
                            <h:panelGroup rendered="#{!bfItem.pdbOrCifFile}">

                                <h:outputText value="Title:" class="jcol-3 jlbl-right"/>
                                <h:panelGroup class="jcol-9">
                                    <p:inputText value="#{bfItem.pdbFile.title}" style="box-sizing:border-box; width:100%;" styleClass="rqd"/>
                                    <!-- required validation is caught in backing bean, IF client is required -->
                                </h:panelGroup>

                                <h:outputText value="Classification:" class="jcol-3 jlbl-right"/>
                                <h:panelGroup class="jcol-9">
                                    <p:inputText value="#{bfItem.pdbFile.classification}" style="box-sizing:border-box; width:100%;"/>
                                </h:panelGroup>

                                <h:outputText value="CAVEAT:" class="jcol-3 jlbl-right"/>
                                <h:panelGroup class="jcol-9">
                                    <p:inputText value="#{bfItem.pdbFile.caveat}" style="box-sizing:border-box; width:100%;"/>
                                </h:panelGroup>

                                <h:outputText value="EXPDTA:" class="jcol-3 jlbl-right"/>
                                <h:panelGroup class="jcol-9">
                                    <p:inputText value="#{bfItem.pdbFile.expdta}" style="box-sizing:border-box; width:100%;"/>
                                </h:panelGroup>

                                <h:outputText value="NUMMDL:" class="jcol-3 jlbl-right"/>
                                <h:panelGroup class="jcol-9">
                                    <p:inputNumber value="#{bfItem.pdbFile.nummdl}" style="box-sizing:border-box; width:100%;"  />
                                </h:panelGroup>

                                <h:outputText value="Keyword(s):" class="jcol-3 jlbl-right"/>
                                <h:panelGroup class="jcol-9">
                                    <p:inputText value="#{bfItem.pdbFile.keywordString}" style="box-sizing:border-box; width:100%;"/>
                                </h:panelGroup>

                                <h:outputText value="Author(s):" class="jcol-3 jlbl-right"/>
                                <h:panelGroup class="jcol-9">
                                    <p:inputText value="#{bfItem.pdbFile.authorString}" style="box-sizing:border-box; width:100%;"/>
                                </h:panelGroup>


                            </h:panelGroup>

                        </p:column>


                        <!-- column TWO -->
                        <p:column>

                            <h:panelGroup rendered="#{!props.get.clientSupportTypeIsNone}"> <!-- none | optional | required -->
                                <h:outputText value="Client:" class="jcol-2 jlbl-right"/>
                                <h:panelGroup class="jcol-10">
                                    <just:clientSelect selectedClientId="#{bfItem.structVersion.clientId}" 
                                                       selectionRequired="false"
                                                       includeBlankValue="true"/> 
                                    <!-- required validation is caught in backing bean, IF client is required -->
                                    <p:graphicImage value="/css/rqd.png" style="padding-left:3px; vertical-align: text-top" rendered="#{props.get.clientSupportTypeIsRequired}"/>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h:outputText value="Program:" class="jcol-2 jlbl-right"/>
                            <h:panelGroup class="jcol-10">
                                <just:programSelect selectedProgramId="#{bfItem.structVersion.programId}" includeBlankValue="true"/>
                            </h:panelGroup>


                            <h:outputText value="Model:" class="jcol-2 jlbl-right"/>
                            <h:panelGroup class="jcol-10">
                                <p:selectBooleanCheckbox value="#{bfItem.structVersion.model}" />
                            </h:panelGroup>

                            <h:outputText value="Method:" class="jcol-2 jlbl-right"/>
                            <h:panelGroup class="jcol-10">
                                <p:inputText value="#{bfItem.structVersion.structMethod}" style="box-sizing:border-box; width:100%;"/>
                            </h:panelGroup>

                            <h:outputText value="Target:" class="jcol-2 jlbl-right"/>
                            <h:panelGroup class="jcol-10">
                                <p:inputText value="#{bfItem.structVersion.target}" style="box-sizing:border-box; width:100%;"/>
                            </h:panelGroup>

                            <h:outputText value="Desc:" class="jcol-2 jlbl-right"/>
                            <h:panelGroup class="jcol-10">
                                <p:inputTextarea value="#{bfItem.structVersion.description}" 
                                                 style="width:97%;" autoResize="false"
                                                 rows="5"/>
                            </h:panelGroup>

                        </p:column>

                    </p:panelGrid>





                </ui:repeat>





            </h:panelGroup>
        </h:form>



    </ui:define>

</ui:composition>