<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template.xhtml">


    <ui:define name="title"> <h:outputText value="No Access"/> </ui:define>



    <ui:define name="content">




            <p:panel style="border: 0; backface-visibility: hidden; margin: 20px 10px 0 10px" >
                <f:facet name="header">
                    <h:outputText value="No Access "/>
                </f:facet>

                You have attempted to access a page or record which you do not have permissions to view.
                If you feel this is in error or need additional permissions please contact the system administrator.      

            </p:panel>
            <div style="clear: both;"></div>




            <p:panel style="border: 0; backface-visibility: hidden; margin: 20px 10px" >
                <f:facet name="header">
                    <h:outputText value="Additional Information "/>
                </f:facet>

                <h:outputText value="Message:" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{noAccess.exception.message}" class="jcol-10 jdta"/>

                <h:outputText value="Page:" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{noAccess.exception.pageDesc}" class="jcol-10 jdta"/>

                <h:outputText value="Data" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{noAccess.exception.data}" class="jcol-10 jdta"/>

            </p:panel>
            <div style="clear: both;"></div>




            <p:panel style="border: 0; backface-visibility: hidden; margin: 20px 10px" >
                <f:facet name="header">
                    <h:outputText value="Current User &amp; Roles "/>
                </f:facet>

                <h:outputText value="Name:" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{noAccess.currentUser.name} (#{noAccess.currentUser.uid})" class="jcol-10 jdta"/>

                <h:outputText value="Status:" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{noAccess.currentUser.status}" class="jcol-10 jdta"/>

                <h:outputText value="is Admin?" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{noAccess.currentUser.isRoleAdmin}" class="jcol-10 jdta"/>

                <h:outputText value="is Contributor?" class="jcol-2 jlbl-right"/>
                <h:outputText value="#{noAccess.currentUser.isRoleContributor}" class="jcol-10 jdta"/>

            </p:panel>
            <div style="clear: both;"></div>
            
         



    </ui:define>

</ui:composition>
