<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Properties"/> </ui:define>


    <ui:define name="content" >

        #{propertiesGeneral.blarg}


        <div style="padding:10px 10px 50px 10px">
            <p:tabView id="tabView_properties" dynamic="true" cache="false" activeIndex="#{propertiesGeneral.sessionBean.tabProperties}">
                <p:ajax event="tabChange" listener="#{propertiesGeneral.onTabChange}"/>  


                <!-- DYNAMIC APPLICATION PROPERTIES TAB -->

                <p:tab id="tab_prop_dynamic" title="Dynamic Properties" >

                    <h:form id="dynamicPropForm">

                        <p:growl id="testEmailGrowl" 
                                 showSummary="true" 
                                 showDetail="true"
                                 escape="false" />

                        <!-- for each group... -->
                        <c:forEach items="#{propertiesDynamic.valueMapsGroups}" var="vmg">

                            <!-- display a table of key/value -->
                            <p:dataTable value="#{vmg.valueMaps}" var="item" 
                                         resizableColumns="true"
                                         style="margin-top:10px; margin-bottom:30px">

                                <f:facet name="header">  
                                    #{vmg.itemGroup} 
                                </f:facet> 

                                <p:column style="width:30px; text-align: center; ">
                                    <a href="/jstruct/dynamic_property_edit.xhtml?value_map_id=#{item.valueMapId}"
                                       title="edit #{item.itemKey} value">
                                        [edit]</a>
                                </p:column>

                                <p:column style="width: 150px; font-weight:bold;">
                                    <f:facet name="header">Key</f:facet>
                                    <h:outputText value="#{item.itemKey}"/>
                                </p:column>


                                <p:column style="white-space: normal; ">
                                    <f:facet name="header">Value</f:facet>

                                    <div style="display: flex">
                                        <div>
                                            <h:outputLink value="#{item.itemValue}" 
                                                          disabled="#{!item.isUrl}" 
                                                          target="_BLANK">
                                                <h:outputText value="#{item.itemValue}"/>
                                            </h:outputLink>
                                        </div>
                                        <div style="margin-left: auto">
                                            <p:commandLink value="send email"
                                                           title="Send test email to: #{item.itemValue}"
                                                             rendered="#{item.testableEmailAddress}"
                                                             style="font-size: 10px;"
                                                             action="#{propertiesGeneral.sendTestEmail(item.itemValue)}" 
                                                             update=":tabView_properties:dynamicPropForm:testEmailGrowl"/>
                                        </div>
                                    </div>



                                </p:column>

                                <p:column style="white-space: normal; ">
                                    <f:facet name="header">Description</f:facet>
                                    <h:outputText value="#{item.description}"/>
                                </p:column>

                            </p:dataTable>



                        </c:forEach>

                    </h:form>


                </p:tab>



                <!-- STATIC PROPERTIES TAB (ApplicationResources.properties) -->


                <p:tab id="tab_prop_static" title="Static Properties" >

                    <p:panelGrid columns="2" style="margin: 10px 20px 20px 20px">

                        <f:facet name="header">
                            <h:outputText value="ApplicationResources.properties"/>
                        </f:facet>

                        <c:forEach items="${propertiesStatic.applicationProperties}" var="p">
                            <h:outputText value="${p.key}"/>
                            <h:outputText value="${p.value}"/>
                        </c:forEach>


                    </p:panelGrid>


                </p:tab>






                <!-- CURRENT SESSION TAB -->

                <p:tab id="tab_prop_session" title="Current Session" >

                    <p:panelGrid columns="2" style="margin: 10px 20px 20px 20px">

                        <f:facet name="header">
                            <h:outputText value="com.just.jstruct.backing.SessionBean"/>
                        </f:facet>

                        <h:outputText value=".getUser().getName()"/>
                        <h:outputText value="#{propertiesGeneral.sessionBean.user.name}"/>

                        <h:outputText value=".getUser().getStatus()"/>
                        <h:outputText value="#{propertiesGeneral.sessionBean.user.status}"/>


                    </p:panelGrid>


                </p:tab>











                <!-- HttpServletRequest TAB -->

                <p:tab id="tab_prop_request" title="Current Request" >


                    <p:panelGrid columns="2" style="margin: 10px 20px 20px 20px">

                        <f:facet name="header">
                            <h:outputText value="HttpServletRequest"/>
                        </f:facet>

                        <h:outputText value=".getScheme()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.scheme}"/>

                        <h:outputText value=".getServerName()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.serverName}"/>

                        <h:outputText value=".getServerPort()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.serverPort}"/>

                        <h:outputText value=".getContextPath()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.contextPath}"/>


                        <h:outputText value=".getRequestURI()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.requestURI}"/>

                        <h:outputText value=".getRequestURL()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.requestURL}"/>

                        <h:outputText value=".getServletPath()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.servletPath}"/>


                        <h:outputText value=".toString()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest}"/>

                        <h:outputText value=".getLocalAddr()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.localAddr}"/>

                        <h:outputText value=".getLocalName()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.localName}"/>

                        <h:outputText value=".getLocalPort()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.localPort}"/>

                        <h:outputText value=".getRemoteAddr()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.remoteAddr}"/>

                        <h:outputText value=".getRemotePort()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.remotePort}"/>

                        <h:outputText value=".getQueryString()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.queryString}"/>

                        <h:outputText value=".getRequestedSessionId()"/>
                        <h:outputText value="#{propertiesRequest.currentRequest.requestedSessionId}"/>

                    </p:panelGrid>



                    <a href="http://docs.oracle.com/javaee/7/api/index.html?javax/servlet/http/HttpServletRequest.html" target="_BLANK">
                        http://docs.oracle.com/javaee/7/api/index.html?javax/servlet/http/HttpServletRequest.html</a>

                </p:tab>





            </p:tabView>

        </div>



    </ui:define>

</ui:composition>
