<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Roles"/> </ui:define>


    <ui:define name="content" >

        <!-- new amino acid - form -->
        <!--
                <div style="padding:10px 10px 10px 10px">
                    <p:panel header="New User" toggleable="true" >
        
                        <h:form id="userNewForm">
        
                            <h:panelGrid columns="2" id="userPanelGrid" styleClass="standard" columnClasses="lblL,data" >
        
                                <h:outputLabel value="Name" />
                                <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box;">
                                    <p:inputText id="userName"
                                                 style="box-sizing:border-box; width:100%;"
                                                 styleClass="rqd"
                                                 size="100" 
                                                 maxlength="255"
                                                 value="#{userList.newUser.name}"
                                                 required="true"
                                                 requiredMessage="Name cannot be blank">
                                    </p:inputText>
                                    <br/>
                                    <p:message for="userName" id="nameMsg" />
                                </h:panelGroup>
        
        
                                <h:outputLabel value="Abbrev (3)" />
                                <h:panelGroup>
                                    <p:inputText id="userAbbrev3"
                                                 styleClass="rqd"
                                                 size="20" 
                                                 maxlength="3"
                                                 value="#{userList.newUser.abbrev}"
                                                 required="true"
                                                 requiredMessage="Abbrev (3) cannot be blank">
                                    </p:inputText>
                                    <br/>
                                    <p:message for="userAbbrev3" id="abbrev3Msg" />
                                </h:panelGroup>
        
        
                                <h:outputLabel value="Abbrev (1)" />
                                <h:panelGroup>
                                    <p:inputText id="userAbbrev1"
                                                 styleClass="rqd"
                                                 size="10" 
                                                 maxlength="1"
                                                 value="#{userList.newUser.oneLetter}"
                                                 required="true"
                                                 requiredMessage="Abbrev (1) cannot be blank">
                                    </p:inputText>
                                    <br/>
                                    <p:message for="userAbbrev1" id="abbrev1Msg" />
                                </h:panelGroup>
        
        
        
                                <h:outputLabel value="Standard" />
                                <p:selectBooleanCheckbox value="#{userList.newUser.standard}" />
        
        
        
                                <h:outputLabel value="Atoms" />
                                <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box;">
                                    <p:inputText id="userAtoms"
                                                 style="box-sizing:border-box; width:100%;"
                                                 styleClass="rqd"
                                                 size="10" 
                                                 maxlength="1"
                                                 value="#{userList.newUser.atoms}"
                                                 required="true"
                                                 requiredMessage="Atoms cannot be blank">
                                    </p:inputText>
                                    <br/>
                                    <p:message for="userAtoms" id="atomsMsg" />
                                </h:panelGroup>
        
        
        
                                <f:facet name="footer">
                                    <p:commandButton action="#{userList.save}"
                                                     value="Add"
                                                     icon="ui-icon-plus"
                                                     style="margin:8px 20px 8px 20px"
                                                     update="userPanelGrid"/>
                                </f:facet>
        
                            </h:panelGrid>
        
                        </h:form>
                    </p:panel>
                </div> -->



        <!-- User list - form -->

        <h:form id="userListForm" style="padding:10px 10px 50px 10px">

            <p:growl id="userListGrowl" showDetail="true"/>

            <p:dataTable id="userTable" value="#{rolesBean.users}" var="u" 
                         sortMode="multiple" resizableColumns="true">

                <f:facet name="header">  
                    <h:outputText value="User list"/>
                </f:facet> 

                <!--
                <p:ajax event="rowEdit" listener="#{userList.onRowEdit}" update=":userListForm:msgs" />
                <p:ajax event="rowEditCancel" listener="#{userList.onRowCancel}" update=":userListForm:msgs" />
                -->


                <p:column headerText="UID" sortBy="#{u.uid}" width="20%">
                    <h:outputText value="#{u.uid}" />
                </p:column>

                <p:column headerText="Name" sortBy="#{u.name}" width="30%">
                    <a href="mailto:#{u.email}" target="_blank">
                        <h:outputText class="ui-icon ui-icon-mail-closed" style="float:left; margin-top:-3px" title="#{u.email}"/>
                    </a>
                    <h:outputText value="#{u.name}" />
                </p:column>

                
                
                
                <p:column headerText="Status" sortBy="#{u.status}" width="20%">
                    
                    <p:commandLink update="@form" ajax="true" 
                                   actionListener="#{rolesBean.toggleStatus}">
                        <f:attribute name="userId" value="#{u.userId}"/>
                        <h:outputText class="ui-icon ui-icon-seek-end" 
                                      style="float:left; margin-top:-2px; margin-right: 5px" 
                                      rendered="#{u.uid ne 'JSTRUCT_SYSTEM' and u.uid ne 'JSTRUCT_GUEST'}"
                                      title="toggle user status for #{u.name}"/>
                    </p:commandLink>
                    
                    <h:outputText value="#{u.status}" style="color:#{u.status eq 'ACTIVE' ? '' : '#ff0000'};"/>
                </p:column>

                
                
                
                <p:column headerText="Contributor?" sortBy="#{u.isRoleContributor}" width="10%">
                    
                    <p:commandLink update="@form" ajax="true" 
                                   actionListener="#{rolesBean.toggleContributor}">
                        <f:attribute name="userId" value="#{u.userId}"/>
                        <h:outputText class="#{u.isRoleContributor ? 'ui-icon ui-icon-radio-off' : 'ui-icon ui-icon-radio-on'}" 
                                      style="float:left; margin-top:-2px;" 
                                      rendered="#{u.uid ne 'JSTRUCT_SYSTEM' and u.uid ne 'JSTRUCT_GUEST'}"
                                      title="toggle Contributor role for #{u.name}"/>
                    </p:commandLink>
                    
                    <h:outputText value="Yes" rendered="#{u.isRoleContributor}"/>
                    <h:outputText value="No" rendered="#{!u.isRoleContributor}" style="color:#cccccc" />
                </p:column>

                
                
                
                <p:column headerText="Admin?" sortBy="#{u.isRoleAdmin}" width="10%">
                    
                    <p:commandLink update="@form" ajax="true" 
                                   actionListener="#{rolesBean.toggleAdmin}">
                        <f:attribute name="userId" value="#{u.userId}"/>
                        <h:outputText class="#{u.isRoleAdmin ? 'ui-icon ui-icon-radio-off' : 'ui-icon ui-icon-radio-on'}" 
                                      style="float:left; margin-top:-2px" 
                                      rendered="#{u.uid ne 'JSTRUCT_SYSTEM' and u.uid ne 'JSTRUCT_GUEST'}"
                                      title="toggle Admin role for #{u.name}"/>
                    </p:commandLink>
                    
                    <h:outputText value="Yes" rendered="#{u.isRoleAdmin}"/>
                    <h:outputText value="No" rendered="#{!u.isRoleAdmin}" style="color:#cccccc" />
                </p:column>
                
                
                

                <p:column headerText="Devloper?" sortBy="#{u.isRoleDeveloper}" width="10%" rendered="#{rolesBean.sessionBean.user.isRoleDeveloper}">
                    
                    <p:commandLink update="@form" ajax="true" 
                                   actionListener="#{rolesBean.toggleDeveloper}">
                        <f:attribute name="userId" value="#{u.userId}"/>
                        <h:outputText class="#{u.isRoleDeveloper ? 'ui-icon ui-icon-radio-off' : 'ui-icon ui-icon-radio-on'}" 
                                      style="float:left; margin-top:-2px" 
                                      rendered="#{u.uid ne 'JSTRUCT_SYSTEM' and u.uid ne 'JSTRUCT_GUEST'}"
                                      title="toggle Developer role for #{u.name}"/>
                    </p:commandLink>
                    
                    <h:outputText value="Yes" rendered="#{u.isRoleDeveloper}"/>
                    <h:outputText value="No" rendered="#{!u.isRoleDeveloper}" style="color:#cccccc" />
                </p:column>



            </p:dataTable>

        </h:form>

      






    </ui:define>

</ui:composition>
