<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Schedule"/> </ui:define>

    <ui:define name="content" >



        <!-- since the buttons are not ajax, this indicator doesnt display
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage value="/images/ajax-loader.gif" />
        </p:dialog>
        -->


        <p:panelGrid columns="2" style="width: 100%;" columnClasses="scheduleColOne,scheduleColTwo" styleClass="ui-panelgrid-blank"> 

            <!-- #################################################################################################
                    LEFT COLUMN
            ################################################################################################## -->

            <h:panelGroup>

                <p:panel header="Automated Process [#{schedulingBean.controller.autoProcessIsOn ? 'ON' : 'OFF'}]" style="border: 0; backface-visibility: hidden;" >
                    <p:panelGrid columns="2" columnClasses="column30,column70" style="width:100%;" >

                        <!-- (row 1) column 1 - image -->

                        <p:panel style="border: 0; backface-visibility: hidden; text-align: center;">

                            <p:graphicImage value="/images/stoplight-red.png" title="The automated processes are OFF"
                                            rendered="#{!schedulingBean.controller.autoProcessIsOn}"
                                            style="width: 53px;"/>

                            <p:graphicImage value="/images/stoplight-green.png" title="The automated process is STARTED"
                                            rendered="#{schedulingBean.controller.autoProcessIsOn}"
                                            style="width: 53px;"/>

                            <br/>

                            <h:form id="toggleProcessForm" style="padding: 10px 0 0 0">

                                <p:growl id="toggleProcessGrowl"/>

                                <p:commandButton id="btnStartProcess" 
                                                 value="Start the process" 
                                                 immediate="true"
                                                 ajax="false"
                                                 rendered="#{!schedulingBean.controller.autoProcessIsOn}"
                                                 action="#{schedulingBean.controller.startProcess}"
                                                 style="width: 100%; margin-bottom: 10px;"/>

                                <p:commandButton id="btnStopProcess" 
                                                 value="Stop the process" 
                                                 immediate="true"
                                                 ajax="false"
                                                 rendered="#{schedulingBean.controller.autoProcessIsOn}"
                                                 action="#{schedulingBean.controller.stopProcess}"
                                                 style="width: 100%; margin-bottom: 10px;"/>
                            </h:form>
                        </p:panel>


                        <!-- ((row 1) column 2 - start/stop -->

                        <p:panel style="border: 0; backface-visibility: hidden;" >

                            <h:outputText value="RCSB Import: "/>
                            <h:outputLink value="#{schedulingBean.controller.cronUrl}" title="#{schedulingBean.controller.cronUrl}"  target="_BLANK">
                                <h:outputText value="#{schedulingBean.controller.cronExpression}"/>
                            </h:outputLink>
                            <h:outputText value=" (#{schedulingBean.controller.cronEnglish})" style="margin-left:5px;"/>

                            <br/><br/>


                            <h:outputText value="Last Successful Import: "/>
                            <h:panelGroup rendered="#{not empty schedulingBean.controller.lastSuccessfulImportDate}">
                                <h:outputText value="#{schedulingBean.controller.lastSuccessfulImportDate}" style="margin-left:5px; font-weight:bold; ">
                                    <f:convertDateTime pattern="yyyy-MM-dd HH:mm"/>
                                </h:outputText>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{empty schedulingBean.controller.lastSuccessfulImportDate}">
                                <h:outputText value="unknown" style="margin-left:5px; font-weight:bold; "/>
                            </h:panelGroup>


                            <br/><br/>


                            <h:outputText value="Next Scheduled Import: "/>
                            <h:panelGroup rendered="#{not empty schedulingBean.controller.nextScheduledImportDate}">
                                <h:outputText value="#{schedulingBean.controller.nextScheduledImportDate}" style="margin-left:5px; font-weight:bold; ">
                                    <f:convertDateTime pattern="yyyy-MM-dd HH:mm"/>
                                </h:outputText>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{empty schedulingBean.controller.nextScheduledImportDate}">
                                <h:outputText value="TBD" style="margin-left:5px; font-weight:bold; "/>
                            </h:panelGroup>


                        </p:panel>



                    </p:panelGrid>
                </p:panel>






                <!-- IMPORT JOBS TABLE --> 

                <h:form id="importJobsForm" style="padding:0 0 50px 0; ">

                    <p:dataTable id="importJobsTable" var="ij" value="#{schedulingBean.importJobs}" sortMode="multiple" 
                                 styleClass="smallish" rowStyleClass="#{schedulingBean.selectedImportJob.importJobId eq ij.importJobId ? 'selected' : ''}"
                                 paginator="true" rows="25" paginatorAlwaysVisible="false"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorPosition="top"
                                 rowsPerPageTemplate="25,50,100,500,1000">

                        <f:facet name="header">  
                            <h:outputText value="RCSB Import Jobs"/>
                        </f:facet> 

                        <p:column style="width:26px">
                            <p:commandButton  id="selectImportJobBtn" icon="ui-icon-seek-next"
                                              actionListener="#{schedulingBean.selectImportJob}"
                                              update="@form, :selectedImportJobForm, :selectedImportMsgsForm">
                                <f:attribute name="selectedImportJobId" value="#{ij.importJobId}"/>
                            </p:commandButton>
                        </p:column>

                        <p:column width="8%" headerText="Id" sortBy="#{ij.importJobId}" >
                            <h:outputText value="#{ij.importJobId}" />
                        </p:column>

                        <p:column width="15%"  headerText="Status" sortBy="#{ij.importStatus}">
                            <h:outputText value="#{ij.importStatus}" />
                        </p:column>

                        <p:column width="15%"  headerText="Job Start" sortBy="#{ij.runStart}">
                            <h:outputText value="#{ij.runStart}">
                                <f:convertDateTime pattern="yyyy-MM-dd HH:mm"/>
                            </h:outputText>
                        </p:column>

                        <p:column width="15%"  headerText="Job End" sortBy="#{ij.runEnd}">
                            <h:outputText value="#{ij.runEnd}">
                                <f:convertDateTime pattern="yyyy-MM-dd HH:mm"/>
                            </h:outputText>
                        </p:column>

                        <p:column width="10%"  headerText="Files" sortBy="#{ij.countUniqueSource}" styleClass="numb" >

                            <h:outputText value="#{ij.countUniqueSource}" >
                                <f:convertNumber pattern="###,###"/>
                            </h:outputText>

                            <h:panelGroup rendered="#{(ij.countUniqueSource - (ij.countAdded + ij.countUpdated)) ne 0}" style="color:#ff0000;">
                                <h:outputText value=" ("/>
                                <h:outputText value="#{ij.countUniqueSource - (ij.countAdded + ij.countUpdated)}">
                                    <f:convertNumber pattern="###,###"/>
                                </h:outputText>
                                <h:outputText value=")"/>
                            </h:panelGroup>
                        </p:column>

                        <p:column width="15%"  headerText="Run By" sortBy="#{ij.runByUser.name}">
                            <h:outputText value="#{ij.runByUser.name}" />
                        </p:column>

                        <p:column width="22%"  headerText="Import Type" sortBy="#{ij.importType}">
                            <h:outputText value="#{ij.importType}" />
                        </p:column>


                    </p:dataTable>
                </h:form>



            </h:panelGroup>




            <!-- #################################################################################################
                    RIGHT COLUMN
            ################################################################################################## -->


            <h:panelGroup>

                <!-- selected import job -->

                <h:form id="selectedImportJobForm" style="padding:4px 0 20px 0; ">

                    <p:panel style="border: 0; backface-visibility: hidden;" >
                        <f:facet name="header">
                            <h:outputText value="Import Data " style="margin-right: 20px"/>
                            <h:outputText value=" (Job Id: #{schedulingBean.selectedImportJob.importJobId})" style="text-align: right; font-weight: normal;"/>
                        </f:facet>

                        <h:outputText value="Status: " class="jcol-2 jlbl-right"/>
                        <h:outputText value="#{schedulingBean.selectedImportJob.importStatus}" class="jcol-4 jdta"/>
                        <h:outputText value="Run By: " class="jcol-2 jlbl-right"/>
                        <h:outputText value="#{schedulingBean.selectedImportJob.runByUser.name}" class="jcol-4 jdta"/>

                        <h:outputText value=" Job Type: " class="jcol-3 jlbl-right"/>
                        <h:outputText value="#{schedulingBean.selectedImportJob.importType}" class="jcol-9 jdta"/>

                    </p:panel>
                    <div style="clear: both;"></div>


                    <p:panel style="border: 0; backface-visibility: hidden; margin-top: 5px;" >
                        <f:facet name="header">
                            <h:outputText value="Rcsb Requests " style="margin-right: 20px"/>
                            <h:outputText value=" (RCSB Structures Found: #{schedulingBean.selectedImportJob.countUniqueSource})" style="text-align: right; font-weight: normal;"/>
                        </f:facet>

                        <h:outputText value="Description " class="jcol-6 jlbl-left"/>
                        <h:outputText value="Count " class="jcol-2 jlbl-left"/>
                        <h:outputText value="#{schedulingBean.selectedImportJob.importTypeAsString eq 'SELECTED_RCSB_FILES' ? 'PDB IDs ' : 'From '}" class="jcol-4 jlbl-left"/>

                        <ui:repeat value="#{schedulingBean.selectedImportJob.importRests}" var="ir">

                            <h:outputText value="#{ir.searchDesc} " class="jcol-6 jdta"/>
                            <h:outputText value="#{ir.responsePdbCount} " class="jcol-2 jdta"/>
                            <h:outputText value="#{ir.pdbRestCriteria} " class="jcol-4 jdta" rendered="#{schedulingBean.selectedImportJob.importTypeAsString eq 'SELECTED_RCSB_FILES'}"/>
                            <h:outputText value="#{ir.searchDateStart}" class="jcol-4 jdta" rendered="#{schedulingBean.selectedImportJob.importTypeAsString ne 'SELECTED_RCSB_FILES'}" >
                                <f:convertDateTime pattern="yyyy-MM-dd HH:mm"/>
                            </h:outputText>
                            <div style="clear: both;"></div>

                        </ui:repeat>
                        <div style="clear: both;"></div>
                    </p:panel>


                    <p:panel style="border: 0; backface-visibility: hidden; " >
                        <f:facet name="header">
                            <h:outputText value="Run Date/Time " style="margin-right: 20px"/>
                            <h:outputText value="#{schedulingBean.selectedImportJobElapsedTime}" style="text-align: right; font-weight: normal;"/>
                        </f:facet>

                        <h:outputText value="Start:" class="jcol-2 jlbl-right"/>
                        <h:outputText value="#{schedulingBean.selectedImportJob.runStart}" class="jcol-4 jdta">
                            <f:convertDateTime pattern="yyyy-MM-dd HH:mm"/>
                        </h:outputText>

                        <h:outputText value="End:" class="jcol-2 jlbl-right"/>
                        <h:outputText value="#{schedulingBean.selectedImportJob.runEnd}" class="jcol-4 jdta">
                            <f:convertDateTime pattern="yyyy-MM-dd HH:mm"/>
                        </h:outputText>

                    </p:panel>
                    <div style="clear: both;"></div>


                    <p:panel style="border: 0; backface-visibility: hidden; margin-top: 5px;" >
                        <f:facet name="header">
                            <h:outputText value="File Counts " style="margin-right: 20px"/>
                        </f:facet>

                        <h:outputText value=" Total Files Processed: " class="jcol-5 jlbl-right"/>
                        <h:outputText value="#{schedulingBean.selectedImportJob.countImported}" class="jcol-7 jdta">
                            <f:convertNumber pattern="###,###"/>
                        </h:outputText>

                        <h:outputText value=" Added / Updated: " class="jcol-6 jlbl-right"/>
                        <h:outputText value="#{schedulingBean.selectedImportJob.countAdded} / #{schedulingBean.selectedImportJob.countUpdated}" class="jcol-6 jdta"/>


                        <h:outputText value=" NOT Processed: " class="jcol-5 jlbl-right"/>
                        <h:outputText value="#{schedulingBean.selectedImportJob.countUniqueSource - schedulingBean.selectedImportJob.countImported}" class="jcol-7 jdta">
                            <f:convertNumber pattern="###,###"/>
                        </h:outputText>

                    </p:panel>

                    <div style="clear: both;"></div>


                </h:form>


                <!-- IMPORT MSGS TABLE --> 

                <h:form id="selectedImportMsgsForm" style="padding:10px 0 50px 0; ">

                    <p:dataTable id="selectedImportMsgsTable" var="im" value="#{schedulingBean.selectedImportJob.importMsgs}" 
                                 sortMode="multiple" styleClass="smallish"
                                 paginator="true" rows="50" paginatorAlwaysVisible="false"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorPosition="top"
                                 resizableColumns="true"
                                 rowsPerPageTemplate="25,50,100,500,1000">

                        <f:facet name="header">  
                            <h:outputText value="RCSB Import Messages (#{schedulingBean.selectedImportJob.importMsgs.size()})"/>
                        </f:facet> 

                        <p:column style="width:45px;" headerText="File Name" sortBy="#{im.fileInfo}" >
                            <p:commandLink title="View error message"
                                           action="#{schedulingBean.prepForErrorDlg(im.importMsgId)}"
                                           oncomplete="PF('importErrorDlg').show();" 
                                           update="importErrorDlg" >
                                <h:outputText value="#{im.fileInfo}" title="#{im.fileInfo}"/>
                            </p:commandLink>
                        </p:column>

                        <p:column  headerText="Status" sortBy="#{im.message}">
                            <h:outputText value="#{im.message}" title="#{im.stackTrace}"/>
                        </p:column>

                    </p:dataTable>
                </h:form>

            </h:panelGroup>

        </p:panelGrid>





        <!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 
                IMPORT ERROR DIALOG
             ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ -->

        <p:dialog id="importErrorDlg" 
                  widgetVar="importErrorDlg" 
                  resizable="true" 
                  dynamic="true"
                  modal="true"
                  appendTo="@(body)" 
                  width="777" 
                  minWidth="777" >

            <f:facet name="header">
                <h:outputText value="RCSB Import Error" />
            </f:facet>


            <h:form id="importErrorForm">

                <div style="display:flex;">
                    <div style="width:100px; padding:5px; text-align: right; ">
                        <h:outputText value="File Name: "/>
                    </div>
                    <div style="flex:1; padding:5px; font-weight:bold;" class="jdta">
                        <h:outputText value="#{schedulingBean.selectedImportMsg.fileInfo}"/>
                    </div>
                </div>

                <div style="display:flex; margin-top: 5px;">
                    <div style="width:100px; padding:5px; text-align: right">
                        <h:outputText value="Error Msg: "/>
                    </div>
                    <div style="flex:1; padding:5px; color:#990000; " class="jdta">
                        <h:outputText value="#{schedulingBean.selectedImportMsg.message}"/>
                    </div>
                </div>




                <div style="margin-top: 8px; padding-top:8px;">

                    <div style="height: 400px; overflow-y: auto; border: solid 1px #990000; padding: 5px; font-size: 12px;"> 
                        <pre><h:outputText value="#{schedulingBean.selectedImportMsg.stackTrace}"/></pre>
                    </div>

                </div>

            </h:form>


        </p:dialog>










    </ui:define>
</ui:composition>
