<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Script Manager"/> </ui:define>


    <ui:define name="content" >


        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            EDIT SCRIPT DIALOG
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p:dialog id="dlgEditScript" widgetVar="dlgEditScript"
                  dynamic="true" modal="true" width="600" minWidth="600" height="260" resizable="false" appendTo="@(body)" > 

            <f:facet name="header">
                <i class="fa fa-pencil-square-o" style="margin-right: 5px"></i>
                <h:outputText value="Edit Analysis Script"/>
            </f:facet>

            <h:form id="formEditScript">

                <p:panelGrid style="width: 100%;" styleClass="ui-noborder" > 

                    <!-- script name -->
                    <p:row>
                        <p:column style="width: 80px; text-align:right; vertical-align: top;">
                            <p:outputLabel value="Script Name" />
                        </p:column>
                        <p:column colspan="3">
                            <p:inputText id="scriptName"
                                         value="#{scriptMgrBean.editScript.scriptName}"
                                         styleClass="rqd"
                                         style="width: 98%; "/>
                            <p:message for="scriptName"/>
                        </p:column>
                    </p:row>

                    <!-- script type -->
                    <p:row>
                        <p:column style="text-align:right; vertical-align: top;">
                            <p:outputLabel value="Script Type" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="scriptType" value="#{scriptMgrBean.editScript.scriptType}"
                                             styleClass="rqdSelect">
                                <f:selectItem itemLabel="" itemValue="" />
                                <f:selectItem itemLabel="MOE" itemValue="MOE" />
                            </p:selectOneMenu>
                        </p:column>

                        <!-- global -->
                        <p:column style="text-align:right; vertical-align: top;">
                            <p:outputLabel value="Global?" />
                        </p:column>
                        <p:column>
                            <p:selectBooleanCheckbox value="#{scriptMgrBean.editScript.global}" />
                        </p:column>
                    </p:row>

                    <!-- script description -->
                    <p:row>
                        <p:column style="text-align:right; vertical-align: top;">
                            <p:outputLabel value="Description" />
                        </p:column>
                        <p:column colspan="3">
                            <p:inputTextarea id="scriptDescription"
                                             rows="5"
                                             value="#{scriptMgrBean.editScript.description}"
                                             style="width: 100%; "/>
                        </p:column>
                    </p:row>

                    <!-- Insert Date / User -->
                    <p:row>
                        <p:column style="text-align:right; vertical-align: top;">
                            <p:outputLabel value="Upload Date" />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{scriptMgrBean.editScript.insertDate}" disabled="true">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </p:inputText>
                        </p:column>

                        <p:column style="text-align:right; vertical-align: top;">
                            <p:outputLabel value="User" />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{scriptMgrBean.editScript.insertUser.name}" disabled="true"/>
                        </p:column>
                    </p:row>

                    <!-- error msg -->
                    <p:row>
                        <p:column></p:column>
                        <p:column colspan="3">
                            <h:outputText value="#{scriptMgrBean.editScriptSubmitErrorMsg}" styleClass="redError"/>
                        </p:column>
                    </p:row>

                    <!-- buttons -->
                    <p:row>
                        <p:column></p:column>

                        <p:column>
                            <p:commandButton value="Delete"
                                             actionListener="#{scriptMgrBean.markScriptAsDeleted}" 
                                             update=":scriptListForm"
                                             icon="ui-icon-trash">
                                <p:confirm header="Delete Analysis Script" message="Click 'Yes' to remove this script (and all versions) from JStruct..." icon="ui-icon-alert" />
                            </p:commandButton>
                        </p:column>

                        <p:column colspan="2" style="text-align: right">
                            <p:commandButton id="btnSubmitEditScript"  
                                             value="Update" 
                                             icon="ui-icon-disk"
                                             ajax="true" 
                                             update="@form, :scriptListForm"
                                             actionListener="#{scriptMgrBean.editAnalysisScriptSave}"/>
                        </p:column>
                    </p:row>

                </p:panelGrid>


                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>


            </h:form>
        </p:dialog>






        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            EDIT SCRIPT VER DIALOG
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p:dialog id="dlgEditScriptVer" widgetVar="dlgEditScriptVer"
                  dynamic="true" modal="true" width="600" minWidth="600" height="270" resizable="false" appendTo="@(body)" > 

            <f:facet name="header">
                <i class="fa fa-pencil-square-o" style="margin-right: 5px"></i>
                <h:outputText value="Edit Analysis Script Version"/>
            </f:facet>

            <h:form id="formEditScriptVer">

                <p:panelGrid style="width: 100%;" styleClass="ui-noborder" > 
                    <!-- default command -->
                    <p:row>
                        <p:column style="width: 100px; text-align:right; vertical-align: top;">
                            <p:outputLabel value="Default Command" />
                        </p:column>
                        <p:column colspan="3">
                            <p:inputText id="defaultCommand"
                                         value="#{scriptMgrBean.editScriptVer.defaultCommand}"
                                         styleClass="rqd"
                                         style="width: 99%; "/>
                            <p:message for="defaultCommand"/>
                        </p:column>
                    </p:row>

                    <!-- default command -->
                    <p:row>
                        <p:column></p:column>
                        <p:column colspan="3">
                            <i class="fa fa-hand-o-up" style="margin-right:5px; color:#888888"></i>
                            <h:outputText value="Please substitute " style="color:#888888"/>
                            <h:outputText value="#{scriptMgrBean.jstructIdSubstitute}" style="color:#888888; font-weight: bold;"/>
                            <h:outputText value=" in the command where necessary" style="color:#888888"/>
                        </p:column>
                    </p:row>

                    <!-- version comments -->
                    <p:row>
                        <p:column style="text-align:right; vertical-align: top;">
                            <p:outputLabel value="v.#{scriptMgrBean.editScriptVer.version} Comments" />
                        </p:column>
                        <p:column colspan="3">
                            <p:inputTextarea id="comments"
                                             rows="4"
                                             value="#{scriptMgrBean.editScriptVer.comments}"
                                             style="width: 100%; "/>
                        </p:column>
                    </p:row>

                    <!-- v1 status -->
                    <p:row>
                        <p:column style="text-align:right; vertical-align: top;">
                            <p:outputLabel value="Status" />
                        </p:column>
                        <p:column>

                            <p:inputText id="status"
                                         value="#{scriptMgrBean.editScriptVer.status}"
                                         style="width: 100%; "
                                         disabled="true"
                                         rendered="#{scriptMgrBean.editScriptVer.status eq 'Current'}"/>

                            <p:selectOneMenu id="statusSelect" value="#{scriptMgrBean.editScriptVer.status}"
                                             styleClass="rqdSelect"
                                             rendered="#{scriptMgrBean.editScriptVer.status ne 'Current'}">
                                <f:selectItems value="#{scriptMgrBean.scriptVersionStatuss}" var="status" itemLabel="#{status}" itemValue="#{status}"/>
                            </p:selectOneMenu>

                        </p:column>

                        <p:column style="text-align:right; vertical-align: top;">
                            <p:outputLabel value="Version" />
                        </p:column>
                        <p:column>
                            <p:inputText id="version"
                                         value="#{scriptMgrBean.editScriptVer.version}"
                                         style="width: 30px; margin-right: 10px"
                                         disabled="true"/>
                        </p:column>
                    </p:row>

                    <!-- Insert Date / User -->
                    <p:row>
                        <p:column style="text-align:right; vertical-align: top;">
                            <p:outputLabel value="Upload Date" />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{scriptMgrBean.editScriptVer.insertDate}" disabled="true">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </p:inputText>
                        </p:column>

                        <p:column style="text-align:right; vertical-align: top;">
                            <p:outputLabel value="User" />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{scriptMgrBean.editScriptVer.insertUser.name}" disabled="true"/>
                        </p:column>
                    </p:row>

                </p:panelGrid>

                <div class="ui-g">


                    <!-- error messages, buttons -->

                    <div class="ui-g-8">
                        <h:outputText value="#{scriptMgrBean.editScriptVerSubmitErrorMsg}" styleClass="redError"/>
                    </div>

                    <div class="ui-g-4" style="text-align: right;">
                        <p:commandButton id="btnSubmitEditScriptVer" 
                                         style="margin-top:15px;"
                                         value="Update" 
                                         ajax="true" 
                                         update="@form, :scriptListForm"
                                         actionListener="#{scriptMgrBean.editAnalysisScriptVerSave}"/>
                    </div>

                </div>

            </h:form>
        </p:dialog>










        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           NEW VERSION DIALOG
       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p:dialog id="dlgNewVersion" widgetVar="dlgNewVersion"
                  dynamic="true" modal="true" width="900" minWidth="900" height="525" resizable="false" appendTo="@(body)" > 

            <f:facet name="header">
                <i class="fa fa-plus" style="margin-right: 5px"></i>
                <h:outputText value="New Script Version"/>
            </f:facet>

            <just:analysisScriptUploadForm isVersionOne="false"
                                           submitErrorMsg="#{scriptMgrBean.versionxScriptSubmitErrorMsg}"
                                           analysisScript="#{scriptMgrBean.selectedAnalysisScript}"
                                           analysisScriptVer="#{scriptMgrBean.versionxScriptVer}"
                                           analysisFiles="#{scriptMgrBean.newAnalysisFiles}"
                                           jstructIdSubstitute="#{scriptMgrBean.jstructIdSubstitute}"
                                           action_uploadFileEvent="#{scriptMgrBean.uploadFileEvent}"
                                           action_removeFiles="#{scriptMgrBean.removeFiles}"
                                           action_resetForm="#{scriptMgrBean.resetNewVersionX}"
                                           action_submitForm="#{scriptMgrBean.submitNewVersionX}"
                                           idsToUpdateOnSubmit=":scriptListForm"/>

        </p:dialog>











        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            ajax loading image
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


        <div style="position: fixed;  width: 90%; text-align: center">
            <p:ajaxStatus>
                <f:facet name="default"></f:facet>
                <f:facet name="start"><i class="fa fa-cog fa-spin" style="font-size: 82px; color:#ff5300;"></i></f:facet>
                <f:facet name="complete"></f:facet>
            </p:ajaxStatus>
        </div>




        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            new script
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p:panel style="margin:10px" toggleable="true" collapsed="true">

            <f:facet name="header">
                <h:outputText value="Upload New Script"/>
            </f:facet>

            <just:analysisScriptUploadForm isVersionOne="true"
                                           submitErrorMsg="#{scriptMgrBean.newScriptSubmitErrorMsg}"
                                           analysisScript="#{scriptMgrBean.newScript}"
                                           analysisScriptVer="#{scriptMgrBean.newScriptVer}"
                                           analysisFiles="#{scriptMgrBean.newAnalysisFiles}"
                                           jstructIdSubstitute="#{scriptMgrBean.jstructIdSubstitute}"
                                           action_uploadFileEvent="#{scriptMgrBean.uploadFileEvent}"
                                           action_removeFiles="#{scriptMgrBean.removeFiles}"
                                           action_resetForm="#{scriptMgrBean.resetNewVerson1}"
                                           action_submitForm="#{scriptMgrBean.submitNewVersion1}"
                                           idsToUpdateOnSubmit=":scriptListForm"/>
        </p:panel>











        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            existing scripts
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->



        <p:panel style="margin:10px" toggleable="true" collapsed="false">
            <f:facet name="header">
                <h:outputText value="Existing Scripts"/>
            </f:facet>

            <h:form id="scriptListForm">

                <p:growl id="growl" showDetail="true" autoUpdate="true"/>

                <div class="ui-g">

                    <div class="ui-g-12">

                        <!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ User Analysis Scripts  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ -->

                        <p:dataTable value="#{scriptMgrBean.userAnalysisScripts}" var="s"
                                     emptyMessage="No user uploaded Analysis Scripts.">

                            <f:facet name="header">
                                <h:outputText value="User Analysis Scripts"/>
                            </f:facet>

                            <p:column width="14" styleClass="#{s.analysisScriptId eq scriptMgrBean.selectedAnalysisScript.analysisScriptId ? 'selectedRow' : ''}">
                                <p:commandLink action="#{scriptMgrBean.editAnalysisScript(s.analysisScriptId)}"
                                               title="Edit Analysis Script information"
                                               oncomplete="PF('dlgEditScript').show();" update="dlgEditScript" >
                                    <i class="fa fa-pencil-square-o" style="font-size: 16px"></i>
                                </p:commandLink>
                            </p:column>

                            <p:column headerText="Name" sortBy="#{s.scriptName}" width="175" styleClass="#{s.analysisScriptId eq scriptMgrBean.selectedAnalysisScript.analysisScriptId ? 'selectedRow' : ''}">
                                <h:outputText value="#{s.scriptName}"/>
                            </p:column>

                            <p:column headerText="Global" sortBy="#{s.global}" width="60" styleClass="#{s.analysisScriptId eq scriptMgrBean.selectedAnalysisScript.analysisScriptId ? 'selectedRow' : ''}">
                                <h:outputText value="#{s.global ? 'Yes' : 'No'}" style="#{s.global ? '' : 'color:#888888;'}"/>
                            </p:column>

                            <p:column headerText="Type" sortBy="#{s.scriptType}" width="50" styleClass="#{s.analysisScriptId eq scriptMgrBean.selectedAnalysisScript.analysisScriptId ? 'selectedRow' : ''}">
                                <h:outputText value="#{s.scriptType}"/>
                            </p:column>

                            <p:column headerText="Description" sortBy="#{s.description}" styleClass="#{s.analysisScriptId eq scriptMgrBean.selectedAnalysisScript.analysisScriptId ? 'selectedRow' : ''}">
                                <h:outputText value="#{s.description}"
                                              title="#{s.description}"/>
                            </p:column>

                            <p:column width="14" styleClass="#{s.analysisScriptId eq scriptMgrBean.selectedAnalysisScript.analysisScriptId ? 'selectedRow' : ''}">
                                <p:commandLink action="#{scriptMgrBean.selectAnalysisScript(s.analysisScriptId)}"
                                               update="@form">
                                    <i class="fa fa-chevron-circle-right" style="font-size: 16px"></i>
                                </p:commandLink>
                            </p:column>

                        </p:dataTable>
                    </div>


                    <div class="ui-g-12">

                        <!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Analysis Script Versions  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ -->

                        <p:dataTable value="#{scriptMgrBean.selectedAnalysisScript.allScriptVers}" var="sv"
                                     rendered="#{not empty scriptMgrBean.selectedAnalysisScript.allScriptVers}"
                                     emptyMessage="...">

                            <f:facet name="header">
                                <h:outputText value="Script Versions"/>
                            </f:facet>

                            <p:column width="14" styleClass="#{sv.analysisScriptVerId eq scriptMgrBean.selectedAnalysisScriptVer.analysisScriptVerId ? 'selectedRow' : ''}">
                                <p:commandLink action="#{scriptMgrBean.editAnalysisScriptVer(sv.analysisScriptVerId)}"
                                               title="Edit Analysis Script Version information"
                                               oncomplete="PF('dlgEditScriptVer').show();" update="dlgEditScriptVer" >
                                    <i class="fa fa-pencil-square-o" style="font-size: 16px"></i>
                                </p:commandLink>
                            </p:column>

                            <p:column headerText="Ver." sortBy="#{sv.version}" width="45" styleClass="#{sv.analysisScriptVerId eq scriptMgrBean.selectedAnalysisScriptVer.analysisScriptVerId ? 'selectedRow' : ''}">
                                <h:outputText value="#{sv.version}"/>
                            </p:column>

                            <p:column headerText="Command" sortBy="#{sv.defaultCommand}" styleClass="#{sv.analysisScriptVerId eq scriptMgrBean.selectedAnalysisScriptVer.analysisScriptVerId ? 'selectedRow' : ''}">
                                <h:outputText value="#{sv.defaultCommand}"/>
                            </p:column>

                            <p:column headerText="Comments" sortBy="#{sv.comments}" styleClass="#{sv.analysisScriptVerId eq scriptMgrBean.selectedAnalysisScriptVer.analysisScriptVerId ? 'selectedRow' : ''}">
                                <h:outputText value="#{sv.comments}"/>
                            </p:column>

                            <p:column headerText="Status" sortBy="#{sv.status}" width="55" styleClass="#{sv.analysisScriptVerId eq scriptMgrBean.selectedAnalysisScriptVer.analysisScriptVerId ? 'selectedRow' : ''}">
                                <h:outputText value="#{sv.status}"/>
                            </p:column>

                            <p:column width="14" styleClass="#{sv.analysisScriptVerId eq scriptMgrBean.selectedAnalysisScriptVer.analysisScriptVerId ? 'selectedRow' : ''}">
                                <p:commandLink action="#{scriptMgrBean.selectAnalysisScriptVer(sv.analysisScriptVerId)}"
                                               update="@form">
                                    <i class="fa fa-chevron-circle-right" style="font-size: 16px"></i>
                                </p:commandLink>
                            </p:column>

                        </p:dataTable>

                        <!-- new script version button -->
                        <h:panelGroup layout="block" style="width: 100%; text-align: right; padding-top: 5px" rendered="#{not empty scriptMgrBean.selectedAnalysisScript}">
                            <p:commandButton action="#{scriptMgrBean.initiateNewScriptVersionX}"
                                             value="New Version"
                                             icon="fa fa-plus"
                                             title="Create a new version of this Analysis Sctipt"
                                             oncomplete="PF('dlgNewVersion').show();" update="dlgNewVersion" >
                            </p:commandButton>
                        </h:panelGroup>


                    </div>


                    <h:panelGroup rendered="#{not empty scriptMgrBean.selectedAnalysisScriptVer}">
                        

                        <div class="ui-g-3">

                            <!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Uploaded Script Files  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ -->

                            <p:dataTable value="#{scriptMgrBean.selectedAnalysisScriptVer.analysisFiles}" var="sf"
                                         emptyMessage="...">

                                <f:facet name="header">
                                    <h:outputText value="Uploaded Script Files"/>
                                </f:facet>

                                <p:column headerText="File Name" sortBy="#{sf.fileName}">
                                    <h:outputText value="#{sf.fileName}"/>
                                </p:column>

                            </p:dataTable>
                        </div>



                        <div class="ui-g-9">

                            <!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Previous Runs  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ -->

                            <p:dataTable value="#{scriptMgrBean.selectedAnalysisScriptVer.analysisRuns}" var="r"
                                         rendered="#{not empty scriptMgrBean.selectedAnalysisScriptVer}"
                                         emptyMessage="No Analysis Runs for the selected Script version"
                                         style="margin-bottom:10px">

                                <f:facet name="header">
                                    <h:outputText value="Runs"/>
                                </f:facet>

                                <p:column headerText="Status" sortBy="#{r.status}" width="65" styleClass="#{r.analysisRunId eq scriptMgrBean.selectedAnalysisRun.analysisRunId ? 'selectedRow' : ''}">
                                    <h:outputText value="#{r.status}"/>
                                </p:column>

                                <p:column headerText="Command" sortBy="#{r.commandPattern}" styleClass="#{r.analysisRunId eq scriptMgrBean.selectedAnalysisRun.analysisRunId ? 'selectedRow' : ''}">
                                    <h:outputText value="#{r.commandPattern}"/>
                                </p:column>

                                <p:column headerText="Description" sortBy="#{r.description}" styleClass="#{r.analysisRunId eq scriptMgrBean.selectedAnalysisRun.analysisRunId ? 'selectedRow' : ''}">
                                    <h:outputText value="#{r.description}"/>
                                </p:column>

                                <p:column headerText="Counts*" sortBy="#{r.totalTaskCount}" width="85" styleClass="#{r.analysisRunId eq scriptMgrBean.selectedAnalysisRun.analysisRunId ? 'selectedRow' : ''}">
                                    <h:outputText value="[ " style="color:#888888"/>
                                    <h:outputText value="#{r.totalTaskCount}" style="color:#000000"/>
                                    <h:outputText value=" | " style="color:#888888"/>
                                    <h:outputText value="#{r.successfulTaskCount}" style="color:#009900"/>
                                    <h:outputText value=" | " style="color:#888888"/>
                                    <h:outputText value="#{r.failedTaskCount}" style="color:#990000"/>
                                    <h:outputText value=" ]" style="color:#888888"/>
                                </p:column>

                                <p:column width="14" styleClass="#{r.analysisRunId eq scriptMgrBean.selectedAnalysisRun.analysisRunId ? 'selectedRow' : ''}">
                                    <p:commandLink action="#{scriptMgrBean.selectAnalysisRun(r.analysisRunId)}"
                                                   update="@form">
                                        <i class="fa fa-chevron-circle-right" style="font-size: 16px"></i>
                                    </p:commandLink>
                                </p:column>

                            </p:dataTable>

                            <div style="width: 100%; text-align: right">
                                <h:outputText value="*[ " style="color:#888888"/>
                                <h:outputText value="total" style="color:#000000"/>
                                <h:outputText value=" | " style="color:#888888"/>
                                <h:outputText value="success" style="color:#009900"/>
                                <h:outputText value=" | " style="color:#888888"/>
                                <h:outputText value="failed" style="color:#990000"/>
                                <h:outputText value=" ]" style="color:#888888"/>
                            </div>

                        </div>




                    </h:panelGroup>







                    <div class="ui-g-12">

                        <!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ User Analysis Tasks  ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ -->

                        <p:dataTable value="#{scriptMgrBean.selectedAnalysisRun.analysisTasks}" var="t"
                                     emptyMessage="No Tasks for the selected Analysis Run."
                                     rendered="#{not empty scriptMgrBean.selectedAnalysisRun}">

                            <f:facet name="header">
                                <h:outputText value="Tasks"/>
                            </f:facet>

                            <p:column headerText="Structure" sortBy="#{t.structVerId}" width="100">
                                <h:outputText value="#{t.structVerId}"/>
                            </p:column>

                            <p:column headerText="Command" sortBy="#{t.command}">
                                <h:outputText value="#{t.command}"/>
                            </p:column>
                            
                            <p:column headerText="Start" sortBy="#{t.startDate}" width="80">
                                <h:outputText value="#{t.startDate}">
                                    <f:convertDateTime pattern="yyyy-MM-dd mm:ss" />
                                </h:outputText>
                            </p:column>
                            
                            <p:column headerText="End" sortBy="#{t.endDate}" width="80">
                                <h:outputText value="#{t.endDate}">
                                    <f:convertDateTime pattern="yyyy-MM-dd mm:ss" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Status" sortBy="#{t.status}" width="65">
                                <h:outputText value="#{t.status}" rendered="#{empty t.error}"/>
                                <h:outputText value="#{t.status}" rendered="#{not empty t.error}" style="color:#ff00ff; "/>
                            </p:column>


                        </p:dataTable>
                    </div>




                </div>

            </h:form>
        </p:panel>








    </ui:define>

</ui:composition>
