<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Searches"/> </ui:define>

    <ui:define name="content" >






        <h:form id="searchesForm" style="padding:1px 10px 15px 10px">

            <p:growl id="msgs" showDetail="true"/>


            <p:dataTable id="searchesListTable" value="#{searchListBean.userSearches}" var="userSearch" 
                         editable="true"  resizableColumns="true" style="margin-top:20px"
                         emptyMessage="You have no saved Searches">

                <f:facet name="header">  
                    <h:outputText value="My saved Searches"/>
                </f:facet> 

                <p:ajax event="rowToggle" listener="#{searchListBean.addFullQueryInput(userSearch.userSearchId)}"/>

                <!-- perform the search 
                <p:column style="width:16px">
                    <p:commandLink action="#{searchListBean.doSelectedSearch(userSearch.userSearchId)}">
                        <h:outputText class="ui-icon ui-icon-search" title="Perform this search"/>
                    </p:commandLink>
                </p:column>  -->

                <!-- expand to show properties -->
                <p:column style="width:16px;">
                    <p:rowToggler  />
                </p:column>

                <p:rowExpansion styleClass="structureResultsRowExpansion"  >
                    <just:subqueryListDisplay fullQueryInput="#{userSearch.fullQueryInput}"/>
                </p:rowExpansion>


                <!-- edit name -->
                <p:column style="width:35px">
                    <p:rowEditor />
                </p:column>

                <p:ajax event="rowEdit" listener="#{searchListBean.onEditRow}" update=":searchesForm:msgs" />
                <p:ajax event="rowEditCancel" listener="#{searchListBean.onCancelRow}" update=":searchesForm:msgs" />


                <!-- search name -->
                <p:column headerText="Search Name"  width="55%" style="font-weight:bold; ">
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:commandLink action="#{searchListBean.doSelectedSearch(userSearch.userSearchId)}" process="@this">
                                <h:outputText value="#{userSearch.searchName}"/>
                            </p:commandLink>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="searchNameInput" value="#{userSearch.searchName}" style="width:95%" label="Search Name" 
                                         styleClass="rqd" required="true" requiredMessage="Search Name is required"/>
                            <p:message for="searchNameInput"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>


                <!-- fileStatuses: RCSB status -->
                <!-- todo allow fileStatuses and querymode to be changed here -->
                <p:column headerText="RCSB status"  width="20%">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{userSearch.fileStatusRcsb.displayName}" />
                        </f:facet>
                        <f:facet name="input">
                            <just:fileStatusSelect elementId="rcsbStatus" selectValue="#{userSearch.fileStatusRcsb}" labelText=""/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>


                <!-- fileStatuses: Manual status -->
                <p:column headerText="Manual status"  width="20%">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{userSearch.fileStatusManual.displayName}" />
                        </f:facet>
                        <f:facet name="input">
                            <just:fileStatusSelect elementId="manalStatus" selectValue="#{userSearch.fileStatusManual}" labelText=""/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>


                <!-- combine with (aka query mode) -->
                <p:column headerText="Combine with"  width="15%">

                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{userSearch.queryMode.displayName}" />
                        </f:facet>
                        <f:facet name="input">
                            <just:queryModeSelect elementId="manalStatus" selectValue="#{userSearch.queryMode}" labelText=""/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>




                <!-- delete search -->
                <p:column style="width:35px">
                    <p:commandLink update="@form" ajax="true"
                                   actionListener="#{searchListBean.deleteSearch}" >
                        <p:confirm header="Confirm Delete" message="Are you sure you want to delete this Saved Search?" icon="ui-icon-alert"/>
                        <f:attribute name="doomedUserSearchId" value="#{userSearch.userSearchId}"/>
                        <h:outputText class="ui-icon ui-icon-trash" title="Delete this Saved Search"/>
                    </p:commandLink>
                </p:column>


            </p:dataTable>

            <p:confirmDialog global="true">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>


        </h:form>

















        <h:form id="preparedSearchesForm" style="padding:1px 10px 50px 10px">


            <p:dataTable id="preparedSearchesListTable" value="#{searchListBean.preparedSearches}" var="userSearch" 
                         resizableColumns="true" style="margin-top:20px">

                <f:facet name="header">  
                    <h:outputText value="Prepared Searches"/>
                </f:facet> 

                <p:ajax event="rowToggle" listener="#{searchListBean.createFullQueryInput(userSearch.userSearchId)}"/>

                <!-- expand to show properties -->
                <p:column style="width:16px;">
                    <p:rowToggler  />
                </p:column>

                <p:rowExpansion styleClass="structureResultsRowExpansion"  >
                    <just:subqueryListDisplay fullQueryInput="#{userSearch.fullQueryInput}"/>
                </p:rowExpansion>

                
                <p:column headerText="Description"  width="55%">
                    <p:commandLink action="#{searchListBean.doSelectedPreparedSearch(userSearch.userSearchId)}" process="@this">
                        <h:outputText value="#{userSearch.searchName}"/>
                    </p:commandLink>
                </p:column>

                <p:column headerText="RCSB status"  width="15%">
                    <h:outputText value="#{userSearch.fileStatusRcsb.displayName}" />
                </p:column>

                <p:column headerText="Manual status"  width="15%">
                    <h:outputText value="#{userSearch.fileStatusManual.displayName}" />
                </p:column>

                <p:column headerText="Combine with"  width="15%">
                    <h:outputText value="#{userSearch.queryMode.displayName}" />
                </p:column>


            </p:dataTable>



        </h:form>






    </ui:define>

</ui:composition>
