<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
                template="/layout/template.xhtml">

    <ui:define name="title"> <h:outputText value="Search"/> </ui:define>

    <ui:define name="content" >



        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
                    DIALOG FOR BULK LABELS 
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  -->

        <p:dialog id="dlgScriptAction" widgetVar="dlgScriptAction"
                  dynamic="true" modal="true" width="800" minWidth="800" height="550" minHeight="550" resizable="false" appendTo="@(body)" 
                  onShow="dlgScriptActionShow()"> 

            <f:facet name="header">
                <h:outputText class="ui-icon ui-icon-script" style="display:inline-block; vertical-align: bottom; margin-left:-4px; margin-right:7px; "/>
                <h:outputText value="Run Analysis Script(s)"/>
            </f:facet>

            <just:analysisScriptActionForm id="analysisScriptActionFormComponent" />

        </p:dialog>







        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
                    DIALOG FOR BULK PERMISSIONS 
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  -->

        <p:dialog id="dlgBulkPermissions" widgetVar="dlgBulkPermissions"
                  dynamic="true" modal="true" width="600" minWidth="600" height="400" minHeight="400" resizable="false" appendTo="@(body)" > 

            <f:facet name="header">
                <h:outputText class="ui-icon ui-icon-key" style="display:inline-block; vertical-align: bottom; margin-left:-4px; margin-right:7px; "/>
                <h:outputText style="color:#FF5300; text-shadow: 0 0 3px #FFFFFF;" value="Bulk Permission Update"/>
            </f:facet>

            <h:form id="permissionsForm">

                <p:growl id="bulkPermissionsGrowl" showDetail="true"/>

                <p:tabView id="permissionsTabView" activeIndex="#{searchBean.activePermissionTabIndex}">


                    <!-- STRUCTURE TAB -->

                    <p:tab id="permissionsTabStructures" title="Structures">
                        <div class="instructions">
                            A list of all Structures currently selected; you must be the <b>Owner,</b> or be assigned <b>Grant</b> to update permissions on each Structure.
                        </div>

                        <div style="height: 280px; overflow: auto; margin-top: 10px; border: solid 0px #d9d9d9;" >     
                            <just:structureMiniTableGrantable fullStructureList="#{searchBean.bulkPermissionAllStructures}"/>
                        </div>
                    </p:tab>


                    <!--
                    <p:tab title="**multiple users**">
                        todo... maybe.
                    </p:tab>
                    -->

                    <!-- UPDATE USER TAB -->

                    <p:tab id="permissionsUserTab" title="Update User Permissions" >
                        <div class="instructions">
                            Modify permissions on the selected Structures for a single user. 
                            This updates the users current permissions, without modifying any other user permissions on the selected Structures.
                            <ul>
                                <li><b>Overwrite: </b> Update permissions on the selected Structures to exactly what is entered; this will remove and replace all current permissions.</li>
                                <li><b>Cumulative: </b> For the selected Structures combine current permissions and the entered permissions to become the sum of all.</li>
                            </ul>
                        </div>

                        <table class="simple" style="margin-top:30px; width:100%">
                            <tr>
                                <th></th>
                                <th style="width:75px">Read</th>
                                <th style="width:75px">Write</th>
                                <th style="width:75px">Grant</th>
                            </tr>
                            <tr style="text-align: center">
                                <td style="text-align: left">

                            <just:userLookup id="justUserLookup" autoCompleteId="permissionUserAutoComplete"
                                             user="#{searchBean.bulkPermissionUpdateUser}" 
                                             size="45" required="true" requiredMessage="User is required"
                                             ajaxChangeUpdate="@(form :input:not(button) :input:not(select))"/>

                            </td>
                            <td>
                            <p:selectBooleanCheckbox value="#{searchBean.userCanRead}" >
                                <p:ajax listener="#{searchBean.updateUserRoleSelections('read', searchBean.userCanRead)}" update="@form"/>
                            </p:selectBooleanCheckbox>
                            </td>
                            <td>
                            <p:selectBooleanCheckbox value="#{searchBean.userCanWrite}"  >
                                <p:ajax listener="#{searchBean.updateUserRoleSelections('write', searchBean.userCanWrite)}" update="@form"/>
                            </p:selectBooleanCheckbox>
                            </td>
                            <td>
                            <p:selectBooleanCheckbox value="#{searchBean.userCanGrant}" >
                                <p:ajax listener="#{searchBean.updateUserRoleSelections('grant', searchBean.userCanGrant)}" update="@form"/>
                            </p:selectBooleanCheckbox>
                            </td>
                            </tr>
                        </table>

                        <h:outputText value="* leave all boxes unselected to completly remove permissions for this user (Overwrite only)"                                         
                                      styleClass="greay" style="font-size: 11px"/>

                        <div style="width:100%; text-align: center; margin-top:30px; margin-bottom: 45px; ">

                            <p:commandButton id="btnUpdateUserPermissionsOverwrite" 
                                             value="Overwrite" 
                                             ajax="true" 
                                             update="@form"
                                             actionListener="#{searchBean.updateUserPermissionsOverwrite}"
                                             style="width:150px; margin-right:25px;"
                                             icon="ui-icon-key"
                                             disabled="#{empty searchBean.bulkPermissionGrantableStructures}"/>

                            <p:commandButton id="btnUpdateUserPermissionsCumulative" 
                                             value="Cumulative" 
                                             ajax="true" 
                                             update="@form"
                                             actionListener="#{searchBean.updateUserPermissionsCumulative}"
                                             style="width:150px"
                                             icon="ui-icon-key"
                                             disabled="#{empty searchBean.bulkPermissionGrantableStructures}"/>

                            <div style="position: absolute; float: left; margin-top:30px; ">
                                <h:outputText value="No Structures selected" rendered="#{empty searchBean.bulkPermissionAllStructures}" class="redError"/>
                                <h:outputText value="You are not the owner nor have Grant permissions on any of the selected Structures " class="redError" 
                                              rendered="#{not empty searchBean.bulkPermissionAllStructures and empty searchBean.bulkPermissionGrantableStructures}"/>
                            </div>

                        </div>

                    </p:tab>






                    <!-- UPDATE GENERAL PERMISSION TAB -->

                    <p:tab id="permissionsAllTab"  title="Update General Permissions" >
                        <div class="instructions">
                            Modify general permissions for all active users. 
                            <ul>
                                <li><b>Overwrite: </b> Update permissions on the selected Structures to exactly what is entered; this will remove and replace all current permissions.</li>
                                <li><b>Cumulative: </b> For the selected Structures combine current permissions and the entered permissions to become the sum of all.</li>
                            </ul>
                        </div>

                        <table class="simple" style="margin-top:30px; width:100%">
                            <tr>
                                <th></th>
                                <th style="width:75px">Read</th>
                                <th style="width:75px">Write</th>
                                <th style="width:75px; color:#cccccc;">Grant</th>
                            </tr>
                            <tr style="text-align: center">
                                <td style="text-align: left">
                                    General permissions for all users
                                </td>
                                <td>
                            <p:selectBooleanCheckbox value="#{searchBean.allCanRead}" >
                                <p:ajax listener="#{searchBean.updateAllRoleSelections('read', searchBean.allCanRead)}" update="@form"/>
                            </p:selectBooleanCheckbox>
                            </td>
                            <td>
                            <p:selectBooleanCheckbox value="#{searchBean.allCanWrite}"  >
                                <p:ajax listener="#{searchBean.updateAllRoleSelections('write', searchBean.allCanWrite)}" update="@form"/>
                            </p:selectBooleanCheckbox>
                            </td>
                            <td>
                            <p:selectBooleanCheckbox disabled="true" >
                            </p:selectBooleanCheckbox>
                            </td>
                            </tr>
                        </table>

                        <h:outputText value="* leave all boxes unselected to remove all general permissions (Overwrite only)"                                         
                                      styleClass="greay" style="font-size: 11px"/>

                        <div style="width:100%; text-align: center; margin-top:30px; margin-bottom: 45px; ">

                            <p:commandButton id="btnUpdateAllPermissionsOverwrite" 
                                             immediate="true"
                                             value="Overwrite" 
                                             ajax="true" 
                                             update="@form"
                                             actionListener="#{searchBean.updateAllPermissionsOverwrite}"
                                             style="width:150px; margin-right:25px;"
                                             icon="ui-icon-key"
                                             disabled="#{empty searchBean.bulkPermissionGrantableStructures}"/>

                            <p:commandButton id="btnUpdateAllPermissionsCumulative" 
                                             immediate="true"
                                             value="Cumulative" 
                                             ajax="true" 
                                             update="@form"
                                             actionListener="#{searchBean.updateAllPermissionsCumulative}"
                                             style="width:150px"
                                             icon="ui-icon-key"
                                             disabled="#{empty searchBean.bulkPermissionGrantableStructures}"/>

                            <div style="position: absolute; float: left; margin-top:30px; ">
                                <h:outputText value="No Structures selected" rendered="#{empty searchBean.bulkPermissionAllStructures}" class="redError"/>
                                <h:outputText value="You are not the owner nor have Grant permissions on any of the selected Structures " class="redError" 
                                              rendered="#{not empty searchBean.bulkPermissionAllStructures and empty searchBean.bulkPermissionGrantableStructures}"/>
                            </div>

                        </div>

                    </p:tab>


                </p:tabView>

            </h:form>
        </p:dialog>







        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
                    DIALOG FOR BULK LABELS 
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  -->

        <p:dialog id="dlgBulkLabels" widgetVar="dlgBulkLabels"
                  dynamic="true" modal="true" width="600" minWidth="600" height="450" minHeight="450" resizable="false" appendTo="@(body)" > 

            <f:facet name="header">
                <h:outputText class="ui-icon ui-icon-tag" style="display:inline-block; vertical-align: bottom; margin-left:-4px; margin-right:7px; "/>
                <h:outputText value="Bulk Label Update"/>
            </f:facet>

            <h:form id="labelsForm">

                <p:growl id="bulkLabelsGrowl" showDetail="true"/>

                <p:tabView id="labelsTabView" activeIndex="#{searchBean.activeLabelTabIndex}">


                    <!-- STRUCTURE TAB -->

                    <p:tab id="labelsTabStructures" title="Structures">
                        <div class="instructions">
                            A list of all Structures currently selected; you must have at least read permissions on each Structure to update your Labels.
                        </div>

                        <div style="height: 330px; overflow: auto; margin-top: 10px; border: solid 0px #d9d9d9;" >     
                            <just:structureMiniTableReadable fullStructureList="#{searchBean.bulkLabelAllStructures}"/>
                        </div> 
                    </p:tab>


                    <!--
                    <p:tab title="**multiple users**">
                        todo... maybe.
                    </p:tab>
                    -->

                    <!-- UPDATE LABELS TAB -->

                    <p:tab id="labelsUpdateTab" title="Update Labels" >
                        <div class="instructions">
                            Modify Labels for selected Structures. 
                            <ul>
                                <li><b>Overwrite: </b> Update Labels to exactly what is selected; this will remove and replace any current Labels.</li>
                                <li><b>Cumulative: </b> For the selected Structures combine current Labels and the selected Labels to become the sum of all.</li>
                            </ul>
                        </div>

                        <div style="max-height:210px; overflow-x:auto; border:solid 0px #ff00ff; margin-top:10px; ">
                            <p:dataTable value="#{searchBean.allUsersLabels}" var="lbl" selection="#{searchBean.selectedUserLabels}" rowKey="#{lbl.userLabelId}"
                                         emptyMessage="No Labels have been created">

                                <p:column selectionMode="multiple" style="width:20px; text-align: center; "/>

                                <p:column headerText="Labels" sortBy="#{lbl.labelName}" style="padding-top:6px;">
                                    <just:structureUserLabel userLabel="#{lbl}"/> 
                                </p:column>

                            </p:dataTable>
                        </div>

                        <h:outputText value="* leave all checkboxes unselected to remove labels from all selected Structures (Overwrite only)"                                         
                                      styleClass="greay" style="font-size: 11px; "/>


                        <div style="width:100%; text-align: center; margin-top:10px; margin-bottom: 5px; ">

                            <p:commandButton id="btnUpdateAllLabelsOverwrite" 
                                             value="Overwrite" 
                                             ajax="true" 
                                             update="@form"
                                             actionListener="#{searchBean.updateBulkLabelsOverwrite}"
                                             style="width:150px; margin-right:25px;"
                                             icon="ui-icon-tag"
                                             disabled="#{empty searchBean.bulkLabelReadableStructures}"/>

                            <p:commandButton id="btnUpdateAllLabelsCumulative" 
                                             value="Cumulative" 
                                             ajax="true" 
                                             update="@form"
                                             actionListener="#{searchBean.updateBulkLabelsCumulative}"
                                             style="width:150px"
                                             icon="ui-icon-tag"
                                             disabled="#{empty searchBean.bulkLabelReadableStructures}"/>

                            <div style="position: absolute; float: left; margin-top:5px; ">
                                <h:outputText value="No Structures selected" rendered="#{empty searchBean.bulkLabelAllStructures}" class="redError"/>
                                <h:outputText value="You do not have Readable permissions on any of the selected Structures " class="redError" 
                                              rendered="#{not empty searchBean.bulkLabelAllStructures and empty searchBean.bulkLabelReadableStructures}"/>
                            </div>

                        </div>

                    </p:tab>



                    <!-- CREATE LABELS TAB -->

                    <p:tab id="labelsAddTab" title="Create New Label" >
                        <div class="instructions">
                            Creating a new label will add it to our personal Label list; 
                            you can then tab back to 'Update Labels' to add it to this list of selected Structures.
                        </div>

                        <div style="margin-top:20px">

                            <p:commandButton value="Create Label" icon="ui-icon-tag" style="float:right;"
                                             ajax="true" 
                                             update="@form"
                                             actionListener="#{searchBean.createNewLabel}"/>

                            <p:colorPicker value="#{searchBean.newLabel.backgroundColor}" style="float: left;" />

                            <span style="overflow:hidden; display:block; padding-right: 30px">
                                <p:inputText value="#{searchBean.newLabel.labelName}" 
                                             styleClass="rqd"
                                             placeholder="Label Name"
                                             style="width:100%; margin:0 10px"/>
                            </span>

                        </div>
                        <p:inputTextarea value="#{searchBean.newLabel.description}" 
                                         placeholder="Label Description"
                                         style="width: 98%; margin-top: 5px; margin-right:10px" 
                                         rows="2"/>

                    </p:tab>


                </p:tabView>

            </h:form>

        </p:dialog>



        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
                    DIALOG FOR FASTA LINKS 
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  -->

        <p:dialog id="dlgFastaLinks" widgetVar="dlgFastaLinks" 
                  dynamic="true" modal="true" width="620" minWidth="620" resizable="true" appendTo="@(body)" > 

            <f:facet name="header">
                <h:outputText class="fa fa-file" style="display:inline-block; vertical-align: bottom; margin-left:-4px; margin-right:7px; "/>
                <h:outputText value="FASTA Files/URLs"/>
            </f:facet>


            <p:tabView id="fastaFilesTabView" style="overflow-y: auto; max-height: 600px;">


                <!-- ALL RESULTS tab -->

                <p:tab title="All Search Results">
                    <p:panelGrid columns="2" columnClasses="fastaLinkGridCol1,fastaLinkGridCol2" style="width:560px; margin-bottom:15px">

                        <f:facet name="header" ><span style="font-size:16px; font-weight: bold;">Protein</span></f:facet>

                        <h:panelGroup>
                            <h:outputText value="Atomic Coordinates"/>
                            <div style="clear: both; height: 10px"/>

                            <p:link href="#{searchBean.proteinAtomFastaUrl}" title="Download FASTA file">
                                <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right: 20px;" />
                            </p:link>

                            <div onclick="copyToClipboard('#{searchBean.proteinAtomFastaUrl}');" style="float: left" class="addPointer" title="copy URL to clipboard">
                                <h:panelGroup styleClass="fa fa-clipboard"/>
                            </div>

                            <div style="clear: both;"/>
                        </h:panelGroup>

                        <h:outputText value="#{searchBean.proteinAtomFastaUrl}"/>


                        <h:panelGroup>
                            <h:outputText value="SEQRES"/>
                            <div style="clear: both; height: 10px"/>

                            <p:link href="#{searchBean.proteinSeqresFastaUrl}" title="Download FASTA file">
                                <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right: 20px;" />
                            </p:link>

                            <div onclick="copyToClipboard('#{searchBean.proteinSeqresFastaUrl}');" style="float: left" class="addPointer" title="copy URL to clipboard">
                                <h:panelGroup styleClass="fa fa-clipboard"/>
                            </div>

                            <div style="clear: both;"/>
                        </h:panelGroup>

                        <h:outputText value="#{searchBean.proteinSeqresFastaUrl}"/>

                    </p:panelGrid>


                    <p:panelGrid columns="2" columnClasses="fastaLinkGridCol1,fastaLinkGridCol2" style="width:560px; margin-bottom:15px">

                        <f:facet name="header" ><span style="font-size:16px; font-weight: bold;">Nucleic Acid</span></f:facet>

                        <h:panelGroup>
                            <h:outputText value="Atomic Coordinates"/>
                            <div style="clear: both; height: 10px"/>

                            <p:link href="#{searchBean.nucleicAtomFastaUrl}" title="Download FASTA file">
                                <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right: 20px;"/>
                            </p:link>

                            <div onclick="copyToClipboard('#{searchBean.nucleicAtomFastaUrl}');" style="float: left" class="addPointer" title="copy URL to clipboard">
                                <h:panelGroup styleClass="fa fa-clipboard"/>
                            </div>

                            <div style="clear: both;"/>
                        </h:panelGroup>

                        <h:outputText value="#{searchBean.nucleicAtomFastaUrl}"/>

                        <h:panelGroup>
                            <h:outputText value="SEQRES"/>
                            <div style="clear: both; height: 10px"/>

                            <p:link href="#{searchBean.nucleicSeqresFastaUrl}" title="Download FASTA file">
                                <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right: 20px;" />
                            </p:link>

                            <div onclick="copyToClipboard('#{searchBean.nucleicSeqresFastaUrl}');" style="float: left" class="addPointer" title="copy URL to clipboard">
                                <h:panelGroup styleClass="fa fa-clipboard"/>
                            </div>

                            <div style="clear: both;"/>
                        </h:panelGroup>

                        <h:outputText value="#{searchBean.nucleicSeqresFastaUrl}"/>

                    </p:panelGrid>


                    <p:panelGrid columns="2" columnClasses="fastaLinkGridCol1,fastaLinkGridCol2" style="width:560px; margin-bottom:20px">

                        <f:facet name="header" ><span style="font-size:16px; font-weight: bold;">All</span></f:facet>

                        <h:panelGroup>
                            <h:outputText value="Atomic Coordinates"/>
                            <div style="clear: both; height: 10px"/>

                            <p:link href="#{searchBean.allAtomFastaUrl}" title="Download FASTA file">
                                <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right: 20px;" />
                            </p:link>

                            <div onclick="copyToClipboard('#{searchBean.allAtomFastaUrl}');" style="float: left" class="addPointer" title="copy URL to clipboard">
                                <h:panelGroup styleClass="fa fa-clipboard"/>
                            </div>

                            <div style="clear: both;"/>
                        </h:panelGroup>

                        <h:outputText value="#{searchBean.allAtomFastaUrl}"/>

                        <h:panelGroup>
                            <h:outputText value="SEQRES"/>
                            <div style="clear: both; height: 10px"/>

                            <p:link href="#{searchBean.allSeqresFastaUrl}" title="Download FASTA file">
                                <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right: 20px;" />
                            </p:link>

                            <div onclick="copyToClipboard('#{searchBean.allSeqresFastaUrl}');" style="float: left" class="addPointer" title="copy URL to clipboard">
                                <h:panelGroup styleClass="fa fa-clipboard"/>
                            </div>

                            <div style="clear: both;"/>
                        </h:panelGroup>

                        <h:outputText value="#{searchBean.allSeqresFastaUrl}"/>

                    </p:panelGrid>
                </p:tab>


                <!-- ONLY SELECTED RESULTS tab -->

                <p:tab title="Only Selected Results" disabled="#{empty searchBean.structureSelection}">

                    <div style="font-size: 14px; font-weight: bold; margin: 5px 0 5px 0;">
                        <h:outputText value="Protein" />
                    </div>

                    <div style="padding-left:30px">
                        <p:commandLink  action="#{searchBean.createFastaUrlForSelectedProteinAtom}" disabled="#{empty searchBean.structureSelection}" title="Download FASTA file">
                            <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right:10px;" />
                            <h:outputText value="Atomic Coordinates" style="float: left" />
                        </p:commandLink>
                    </div>
                    <div style="clear: both; height: 5px;"/>
                    <div style="padding-left:30px">
                        <p:commandLink  action="#{searchBean.createFastaUrlForSelectedProteinSeqres}" disabled="#{empty searchBean.structureSelection}" title="Download FASTA file">
                            <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right:10px;" />
                            <h:outputText value="SEQRES" style="float: left" />
                        </p:commandLink>
                    </div>
                    <div style="clear: both;"/>


                    <div style="font-size: 14px; font-weight: bold; margin: 20px 0 5px 0;">
                        <h:outputText value="Nucleic Acid"/>
                    </div>

                    <div style="padding-left:30px">
                        <p:commandLink  action="#{searchBean.createFastaUrlForSelectedNucleicAtom}" disabled="#{empty searchBean.structureSelection}" title="Download FASTA file">
                            <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right:10px;" />
                            <h:outputText value="Atomic Coordinates" style="float: left" />
                        </p:commandLink>
                    </div>
                    <div style="clear: both; height: 5px;"/>
                    <div style="padding-left:30px">
                        <p:commandLink  action="#{searchBean.createFastaUrlForSelectedNucleicSeqres}" disabled="#{empty searchBean.structureSelection}" title="Download FASTA file">
                            <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right:10px;" />
                            <h:outputText value="SEQRES" style="float: left" />
                        </p:commandLink>
                    </div>
                    <div style="clear: both;"/>


                    <div style="font-size: 14px; font-weight: bold; margin: 20px 0 5px 0;">
                        <h:outputText value="All"/>
                    </div>

                    <div style="padding-left:30px">
                        <p:commandLink  action="#{searchBean.createFastaUrlForSelectedAllAtom}" disabled="#{empty searchBean.structureSelection}" title="Download FASTA file">
                            <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right:10px;" />
                            <h:outputText value="Atomic Coordinates" style="float: left" />
                        </p:commandLink>
                    </div>
                    <div style="clear: both; height: 5px;"/>
                    <div style="padding-left:30px">
                        <p:commandLink  action="#{searchBean.createFastaUrlForSelectedAllSeqres}" disabled="#{empty searchBean.structureSelection}" title="Download FASTA file">
                            <h:panelGroup styleClass="fa fa-download" style="float: left; margin-right:10px;" />
                            <h:outputText value="SEQRES" style="float: left" />
                        </p:commandLink>
                    </div>
                    <div style="clear: both;"/>



                </p:tab>

            </p:tabView>


        </p:dialog>



        <!-- #####################################################################################################
                CRITERIA
        ###################################################################################################### -->


        <h:form id="criteria_form" >
            <p:defaultCommand target="btnSearchSubmit"/>

            <!-- HEADER CRITERIA-->

            <h:panelGroup id="criteria_header" rendered="#{searchBean.renderThe eq 'criteria'}">
                <div class="structureQueryHeader">
                    <h:panelGrid columns="3" style="width: 100%;" columnClasses="searchCriteriaHeaderColOne, searchCriteriaHeaderColTwo, searchCriteriaHeaderColThree">

                        <!-- column ONE - status dropdowns -->

                        <h:panelGroup >

                            <just:fileStatusSelect elementId="search_file_status_rcsb" 
                                                   selectValue="#{searchBean.fullQueryInput.fileStatusRcsb}"
                                                   labelText="RCSB:" 
                                                   paddingRight="10"/>

                            <just:fileStatusSelect elementId="search_file_status_manual" 
                                                   selectValue="#{searchBean.fullQueryInput.fileStatusManual}"
                                                   labelText="Manual:" 
                                                   paddingRight="10"/>
                        </h:panelGroup>


                        <!-- column TWO - loader gif -->

                        <h:panelGroup>
                            <p:ajaxStatus style="padding:2px;">
                                <f:facet name="default"></f:facet>
                                <f:facet name="start">
                                    <p:graphicImage value="/images/ajax-loader.gif"/>
                                </f:facet>
                                <f:facet name="complete"></f:facet>
                            </p:ajaxStatus>
                        </h:panelGroup>


                        <!-- column THREE - reset button -->

                        <h:panelGroup >

                            <p:commandButton id="btnResetForm" 
                                             value="Reset Form" 
                                             immediate="true"
                                             ajax="true" 
                                             update="criteria_form"
                                             action="#{searchBean.resetForm}"/>
                        </h:panelGroup>

                    </h:panelGrid>
                </div>
            </h:panelGroup>






            <!-- MIDDLE - CRITERIA -->

            <h:panelGroup id="criteria_middle" rendered="#{searchBean.renderThe eq 'criteria'}"> 

                <c:forEach items="#{searchBean.fullQueryInput.subQueryInputs}" var="subQueryInput"> 
                    <c:set var="i" value="#{subQueryInput.rowIndex}"/>


                    <div id="counts_#{i}" class="structureQueryRow" style="min-height:30px; width:50px; float:right;">
                        <div class="dynamicData" style="text-align:center; padding-top:5px">

                            <h:outputText value="..." rendered="#{empty subQueryInput.resultCount}" 
                                          title="Click 'Show Counts' to display counts for each subquery, and a total at the bottom of the form."/>

                            <h:outputText value="#{subQueryInput.resultCount}" 
                                          style="font-size:14px; font-weight: bold"
                                          rendered="#{not empty subQueryInput.resultCount}">
                                <f:convertNumber/>
                            </h:outputText>

                        </div>
                    </div>


                    <div id="criteria_#{i}" class="structureQueryRow" style="overflow: hidden; ">


                        <h:panelGroup id="criteria_delete_#{i}"
                                      style="width:20px; float:right; text-align: right; margin-top:7px; margin-right: 30px" 
                                      rendered="#{searchBean.fullQueryInput.subQueryInputs.size() > 1}">
                            <p:commandButton id="btnDeleteSubQuery_#{i}" 
                                             style="margin-left:20px"
                                             ajax="true" 
                                             immediate="false"
                                             update="criteria_form"
                                             action="#{searchBean.deleteSubquery(i)}"
                                             icon="ui-icon-circle-close">
                            </p:commandButton>

                        </h:panelGroup>

                        <!-- use this div to add icons to left of dropdown
                        <div style="width:20px; float:left; text-align: left; margin-top:8px;">
                            icon buttons go here
                        </div>
                        -->

                        <div id="criteria_select_type_#{i}" style="overflow: hidden;">

                            <p:selectOneMenu id="selectedSubquery_#{i}"
                                             value="#{subQueryInput.selectedSubqueryType}" 
                                             style="margin-top:8px; vertical-align: middle; box-sizing:border-box; width:100%;">

                                <f:selectItems value="#{subqueryTypeSelect.subqueryTypes}" var="sqt" 
                                               itemValue="#{sqt}"
                                               itemLabel="#{sqt.label}"
                                               itemDescription="#{sqt.description}"/>

                                <!-- this updates the subquery that is displayed to the proper one when the subquery dropdown is changed -->
                                <p:ajax listener="#{searchBean.changeSubQueryType}" update="subqueries_#{i}"/>

                                <!-- this passes the row index to the backing bean when the subquery dropdown is changed 
                                      so that we can remove the error message from this subquery if it has one -->
                                <f:param name="rowIndex" value="#{i}"/>   

                            </p:selectOneMenu>

                        </div>




                        <div id="criteria_subquery_#{i}" style="padding-top:5px">
                            <h:panelGroup id="subqueries_#{i}" >
                                <just:subqueryInput rowIndex="#{i}"
                                                    subQueryInput="#{subQueryInput}"
                                                    selectedSubQueryType="#{subQueryInput.selectedSubqueryType}"/>
                            </h:panelGroup>
                        </div>
                    </div>




                </c:forEach> 

            </h:panelGroup>



            <!-- FOOTER CRITERIA -->

            <h:panelGroup id="criteria_footer" rendered="#{searchBean.renderThe eq 'criteria'}">
                <div class="structureQueryHeader">

                    <h:panelGrid columns="2" style="width: 100%;" columnClasses="searchCriteriaFooterColOne, searchCriteriaFooterColTwo">



                        <h:panelGroup >
                            <p:commandButton id="btnAddCriteria"  
                                             style="margin-right:20px"
                                             value="Add Criteria" 
                                             ajax="true" 
                                             immediate="true"
                                             update="criteria_form"
                                             actionListener="#{searchBean.addCriteria}"
                                             icon="ui-icon-circle-plus"/>

                            <just:queryModeSelect elementId ="query_mode_select"
                                                  selectValue="#{searchBean.fullQueryInput.queryMode}"
                                                  labelText="Combine criteria with:" />
                        </h:panelGroup>


                        <h:panelGroup style="text-align:right;">

                            <p:commandButton id="btnShowCounts" 
                                             style="margin-right: 10px"
                                             value="Show Counts" 
                                             ajax="true" 
                                             update="criteria_form"
                                             actionListener="#{searchBean.showCounts}"/>

                            <p:commandButton id="btnSearchSubmit" 
                                             value="Search" 
                                             ajax="true" 
                                             update="criteria_form,results_form"
                                             actionListener="#{searchBean.searchSubmit}"
                                             icon="ui-icon-search"/>
                        </h:panelGroup>


                    </h:panelGrid>

                </div>


                <!-- total count -->

                <h:panelGroup class="structureQueryRow" 
                              style="min-height:50px; float:right;"
                              rendered="#{not empty searchBean.overallCountAnd or not empty searchBean.overallCountOr}">

                    <table class="dynamicData" style="width:100%">
                        <tr>
                            <td colspan="2">
                        <p:outputLabel value="Total of all queries combine with:"/>
                        </td>
                        </tr>
                        <tr style="#{searchBean.fullQueryInput.queryMode eq 'AND' ? 'font-weight: bold;' : ''}">
                            <td style="text-align:right; padding:0 10px 0 50px; font-size:14px">
                        <p:outputLabel value="AND:"/>
                        </td>
                        <td style="text-align:right; padding:0 70px 0 0; font-size:14px">
                        <h:outputText value="#{searchBean.overallCountAnd}">
                            <f:convertNumber/>
                        </h:outputText>
                        </td>
                        </tr>
                        <tr style="#{searchBean.fullQueryInput.queryMode eq 'OR' ? 'font-weight: bold;' : ''}">
                            <td style="text-align:right; padding:0 10px 0 50px; font-size:14px">
                        <h:outputText value="OR:"/>
                        </td>
                        <td style="text-align:right; padding:0 70px 0 0; font-size:14px">
                        <h:outputText value="#{searchBean.overallCountOr}">
                            <f:convertNumber/>
                        </h:outputText>
                        </td>
                        </tr>
                    </table>

                </h:panelGroup>

            </h:panelGroup>



        </h:form>






        <!-- #####################################################################################################
                RESULTS
        ###################################################################################################### -->


        <h:form id="results_form">


            <!-- HEADER RESULTS -->


            <h:panelGroup id="results_header" rendered="#{searchBean.renderThe eq 'results'}" >

                <h:panelGrid columns="2" style="width: 100%; margin-bottom:10px" columnClasses="searchResultsFooterColOne,searchResultsFooterColTwo">
                    <p:column >

                        <div style="max-height: 140px; min-height:50px; overflow-y: auto">
                            <!-- display the subquery criteria for this search -->
                            <just:subqueryListDisplay fullQueryInput="#{searchBean.fullQueryInput}"/>
                        </div>

                    </p:column>

                    <p:column>
                        <!-- toggle back to the criteria section of this page -->
                        <p:commandButton id="btnSearchRefine" 
                                         value="Refine Search" 
                                         ajax="true" 
                                         update="criteria_form,results_form"
                                         actionListener="#{searchBean.refineSearch}"
                                         style="width:100%; margin-bottom: 3px; font-size:11px; "
                                         icon="ui-icon-pencil"/>

                        <!-- open the save search dialog (defined at the bottom of this page) -->  
                        <p:commandButton id="btnOpenSaveSearch" 
                                         value="Save Search" 
                                         action="#{searchBean.openSaveSearchForm}"
                                         oncomplete="PF('saveSearchDialog').show();"
                                         update="saveSearchDialog"
                                         style="width:100%; margin-bottom: 3px; font-size:11px; "
                                         icon="ui-icon-disk">
                            <p:ajax global="false"/>
                        </p:commandButton>  

                        <!-- toggle back to the criteria section of this page -->
                        <p:commandButton id="btnNewSearch" 
                                         value="Start New Search" 
                                         ajax="true" 
                                         update="criteria_form,results_form"
                                         actionListener="#{searchBean.startNewSearch}"
                                         style="width:100%; margin-bottom: 2px; font-size:11px; "
                                         icon="ui-icon-search"/>

                    </p:column>
                </h:panelGrid>

            </h:panelGroup>




            <!-- MIDDLE,  RESULTS -->

            <h:panelGroup id="criteria_results" rendered="#{searchBean.renderThe eq 'results'}" >

                <p:dataTable value="#{searchBean.fullStructures}" var="fs" 
                             selection="#{searchBean.structureSelection}" rowKey="#{fs.structVerId}"
                             widgetVar="structureTable"
                             resizableColumns="true" sortMode="multiple" 
                             paginator="true" rows="50" paginatorAlwaysVisible="false"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             paginatorPosition="top"
                             emptyMessage="No matching structures found"
                             rowsPerPageTemplate="25,50,100,500,1000"
                             >
                    <p:ajax event="rowSelect" update="menuGroup,dlgFastaLinks"/>
                    <p:ajax event="rowSelectCheckbox" update="menuGroup,dlgFastaLinks"/>
                    <p:ajax event="rowUnselectCheckbox" update="menuGroup,dlgFastaLinks"/>
                    <p:ajax event="toggleSelect" update="menuGroup,dlgFastaLinks"/>

                    <f:facet name="header">

                        <h:panelGrid columns="3" class="column10" columnClasses="datatableHeaderLeft,datatableHeaderCenter,datatableHeaderRight" >

                            <h:panelGroup id="menuGroup">

                                <!-- menu -->
                                <!--<p:commandButton id="manuBtn" value="Menu" type="button" icon="ui-icon-arrowthickstop-1-s" style="font-size: 10px; padding:0; margin:0;"/>-->
                                <p:commandButton id="manuBtn" value="Menu" type="button" icon="fa fa-bars" style="font-size: 12px; padding:0; margin:0 0 0 12px;"/>

                                <p:tieredMenu overlay="true" trigger="manuBtn" my="left top" at="left bottom" style="width:200px;"  >

                                    <p:menuitem value="Open selected Structures" action="#{searchBean.openSelectedInNewWindows}" 
                                                title="Open selected structures - each one in a new window"
                                                icon="ui-icon-newwin" style="width:180px;"
                                                disabled="#{empty searchBean.structureSelection}"/>

                                    <p:menuitem value="Download selected Structures" action="#{searchBean.downloadSelected}" 
                                                title="Download the selected structures to your local computer"
                                                icon="ui-icon-arrowthickstop-1-s" style="width:180px;"
                                                disabled="#{empty searchBean.structureSelection}"/>

                                    <p:menuitem value="Filter only selected Structures" action="#{searchBean.selectedAsSearchCriteria}" 
                                                title="Re-filter this search listing only the selected structures"
                                                icon="ui-icon-search" style="width:180px;"
                                                disabled="#{empty searchBean.structureSelection}"/>

                                    <p:separator />

                                    <p:menuitem value="Run Analysis Script(s)"  
                                                icon="ui-icon-script" style="width:180px;"
                                                title="Select/Upload and run an Analysis/Calculations script on the selected structures"
                                                oncomplete="PF('dlgScriptAction').show();" 
                                                update="dlgScriptAction" 
                                                disabled="#{empty searchBean.structureSelection or sessionBean.user.name ne 'Russell Williams'}"/>

                                    <p:separator />


                                    <p:menuitem value="Bulk Permission Update" actionListener="#{searchBean.updateBulkPermissionStructures}" 
                                                icon="ui-icon-key" style="width:180px;" 
                                                title="Open dialog box which allows bulk update of user or general permissions on selected Structures"
                                                oncomplete="PF('dlgBulkPermissions').show();" 
                                                update="dlgBulkPermissions" 
                                                disabled="#{empty searchBean.structureSelection}"/>

                                    <p:menuitem value="Bulk Label Update" actionListener="#{searchBean.updateBulkLabelStructures}" 
                                                icon="ui-icon-tag" style="width:180px;" 
                                                title="Open dialog box which allows bulk update of Labels on selected Structures"
                                                oncomplete="PF('dlgBulkLabels').show();" 
                                                update="dlgBulkLabels" 
                                                disabled="#{empty searchBean.structureSelection}"/>

                                    <p:separator />

                                    <p:menuitem value="FASTA Files/URLs" icon="ui-icon-document" 
                                                style="width:180px"
                                                title="Open dialog allowing download of these results as FASTA files, and download links to use elsewhere."
                                                oncomplete="PF('dlgFastaLinks').show();" 
                                                update="dlgBulkLabels"/>


                                </p:tieredMenu>

                            </h:panelGroup>


                            <h:panelGroup>
                                <!-- table title -->
                                <h:outputText value="Structure Search Results" style="font-size: 14px;"/>
                            </h:panelGroup>

                            <h:panelGroup>
                                <!-- placeholder -->
                            </h:panelGroup>

                        </h:panelGrid>

                        <!--
                        <p:outputPanel>
                            <h:outputText value="Search all fields:" />
                            <p:inputText id="globalFilter" onkeyup="PF('structureTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                        </p:outputPanel>
                        -->

                    </f:facet>

                    <!-- selection checkbox -->
                    <p:column selectionMode="multiple" style="width:17px; text-align: center; "/>


                    <p:column style="width:16px;">
                        <p:rowToggler rendered="#{fs.currentUserCanRead}" />
                    </p:column>

                    <p:rowExpansion styleClass="structureResultsRowExpansion" >

                        <p:panelGrid  columns="1">
                            <f:facet name="header">
                                <h:outputText value="#{fs.jstructDisplayId}" />
                            </f:facet>
                        </p:panelGrid>

                        <p:panelGrid columns="2" styleClass="simple" columnClasses="structureResultsRowExpansionLeft,structureResultsRowExpansionRight"> 

                            <h:outputText value="Title" />
                            <h:panelGroup>
                                <h:outputText value="#{fs.pdbTitle}" />
                                <h:outputText value=" (Obsolete)" style="color:#990000;" rendered="#{fs.obsolete}"/>
                                <h:outputText value=" (obsolete date: " style="color:#999999;" rendered="#{fs.obsolete}"/>
                                <h:outputText value="#{fs.obsoleteDate}" style="color:#999999;" rendered="#{fs.obsolete}">
                                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                                </h:outputText>
                                <h:outputText value=")" style="color:#999999;" rendered="#{fs.obsolete}"/>
                            </h:panelGroup>

                            <h:outputText value="Source" />
                            <h:outputText value="#{fs.sourceName}" />

                            <h:outputText value="Owner Name" />
                            <h:outputText value="#{fs.ownerName}" />

                            <h:outputText value="File Name" />
                            <h:panelGroup>
                                <h:outputText value="#{fs.actualFileName}" style="margin-right:8px;"/>
                                <h:outputText value="(original name: #{fs.uploadFileName})" rendered="#{fs.actualFileName ne fs.uploadFileName}" style="color:#777777;"/>
                            </h:panelGroup>

                            <h:outputText value="Deposition Date" />
                            <h:outputText value="#{fs.pdbDepositionDate}" >
                                <f:convertDateTime pattern="yyyy-MM-dd"/>
                            </h:outputText>

                            <h:outputText value="Classification" />
                            <h:outputText value="#{fs.pdbClassification}" />

                            <h:outputText value="Permalink" />
                            <h:panelGroup>
                                <just:linkStructurePermalink fullStructure="#{fs}" target="_blank" displayAs="url" showCopyIcon="true"/> 
                                <just:linkStructurePermalink fullStructure="#{fs}" target="_blank" displayAs="url" showCopyIcon="true" current="true"/>
                            </h:panelGroup>

                        </p:panelGrid>


                        <!-- specific to RCSB files - - >
                        <p:panelGrid columns="1" styleClass="simple" columnClasses="structureResultsRowExpansionSingle" rendered="#{fs.fromRcsb}">
                            <h:outputText value="From RCSB" /> 
                        </p:panelGrid>
                        <p:panelGrid columns="2" styleClass="simple" columnClasses="structureResultsRowExpansionLeft,structureResultsRowExpansionRight" rendered="#{fs.fromRcsb}">
                            <h:outputText value="Title" />
                            <h:outputText value="#{fs.pdbTitle}" />
                        </p:panelGrid>
                        -->

                        <!-- specific to manually uploaded files 
                        <p:panelGrid columns="1" styleClass="simple" columnClasses="structureResultsRowExpansionSingle" rendered="#{!fs.fromRcsb}">
                            <h:outputText value="Manually uploaded file information" />
                        </p:panelGrid>
                        <p:panelGrid columns="4" styleClass="simple" columnClasses="structureResultsRowExpansionLeft,structureResultsRowExpansionRight,structureResultsRowExpansionLeft,structureResultsRowExpansionRight" rendered="#{!fs.fromRcsb}">
                            <h:outputText value="Client" />
                            <h:outputText value="#{fs.clientName}" />
                            <h:outputText value="Program" />
                            <h:outputText value="#{fs.programName}" />
                            
                            <h:outputText value="Method" />
                            <h:outputText value="#{fs.structMethod}" />
                            <h:outputText value="Target" />
                            <h:outputText value="#{fs.target}" />
                            
                        </p:panelGrid>
                        <p:panelGrid columns="2" styleClass="simple" columnClasses="structureResultsRowExpansionLeft,structureResultsRowExpansionRight" rendered="#{!fs.fromRcsb}">
                            <h:outputText value="Description" />
                            <h:outputText value="#{fs.description}" />
                            
                        </p:panelGrid>
                        -->



                    </p:rowExpansion>



                    <p:column headerText="Structure" sortBy="#{fs.structureId}" width="15%">
                        <just:linkStructure fullStructure="#{fs}"/>
                    </p:column>

                    <p:column headerText="Source" sortBy="#{fs.sourceName}" width="10%"
                              filterBy="#{fs.sourceName}" filterMatchMode="contains" filterStyle="width:90%;">
                        <h:outputText value="#{fs.sourceName}"/>
                    </p:column>

                    <p:column headerText="Title" sortBy="#{fs.pdbTitle}" width="35%"
                              filterBy="#{fs.pdbTitle}" filterMatchMode="contains" filterStyle="width:90%;">
                        <h:outputText value="#{fs.pdbTitle}" title="#{fs.pdbTitle}" rendered="#{fs.currentUserCanRead}"/>
                    </p:column>

                    <p:column headerText="Owner Name" sortBy="#{fs.ownerName}" width="15%"
                              filterBy="#{fs.ownerName}" filterMatchMode="contains" filterStyle="width:90%;">
                        <h:outputText value="#{fs.ownerName}"/>
                    </p:column>

                    <p:column headerText="File Name" sortBy="#{fs.actualFileName}" width="10%"
                              filterBy="#{fs.actualFileName}" filterMatchMode="contains" filterStyle="width:90%;">
                        <h:outputText value="#{fs.actualFileName}" rendered="#{fs.currentUserCanRead}"/>
                    </p:column>


                    <p:column headerText="Deposition Date" sortBy="#{fs.pdbDepositionDate}" width="15%">
                        <h:outputText value="#{fs.pdbDepositionDate}">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Status" sortBy="#{fs.obsolete}" width="10%">
                        <h:outputText value="Obsolete" title="Obsolete date: #{fs.obsoleteDate}" style="color:#990000;" rendered="#{fs.obsolete}"/>
                        <h:outputText value="Active" style="color:#999999;" rendered="#{!fs.obsolete}"/>
                    </p:column>


                    <f:facet name="footer">
                        <h:outputText value="Count of Structures: #{fn:length(searchBean.fullStructures)} "/>
                        <h:outputText value=" (unfiltered count)" style="font-weight: normal"/>
                    </f:facet>

                </p:dataTable>


            </h:panelGroup>
        </h:form>







        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
            DIALOG FOR SAVING SEARCHES 
        * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  -->

        <p:dialog id="saveSearchDialog" widgetVar="saveSearchDialog" header="Save this Search" dynamic="true" modal="true" width="600"  minHeight="300" height="300" appendTo="@(body)" > 
            <h:form id="saveSearchForm">

                <p:growl id="saveSearchGrowl" showDetail="true"/>

                <div style="max-height: 250px; min-height:50px; overflow-y: auto; margin-bottom: 20px">
                    <!-- display the subquery criteria for this search -->
                    <just:subqueryListDisplay fullQueryInput="#{searchBean.fullQueryInput}"/> 
                </div>

                <h:panelGroup style="display:block; overflow:hidden; box-sizing:border-box;">  
                    <p:inputText id="newSearchName"
                                 style="box-sizing:border-box; width:100%;"
                                 maxlength="2000"
                                 placeholder="Search Name"
                                 value="#{searchBean.newSearchName}"
                                 styleClass="rqd"
                                 required="true"
                                 requiredMessage="Search Name cannot be blank">
                    </p:inputText>

                </h:panelGroup>
                <p:message for="newSearchName" id="newSearchNameMsg" />


                <h:panelGroup style="float: right; padding-top: 10px; ">

                    <p:commandButton id="saveSearchBtn" value="Save" 
                                     actionListener="#{searchBean.saveSearch}" 
                                     update="newSearchNameMsg, saveSearchGrowl"
                                     /> 

                    <p:commandButton id="cancelSaveButn" value="Cancel" 
                                     immediate="true" 
                                     onclick="PF('saveSearchDialog').hide();"/>

                </h:panelGroup>

            </h:form>
        </p:dialog>





    </ui:define>

</ui:composition>

