<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:just="http://java.sun.com/jsf/composite/mycomponents"
                template="/layout/template.xhtml">


    <ui:define name="title"><h:outputText value="#{structureBean.jstructIdForDisplay}"/></ui:define>

    <ui:define name="content" >



        <p:growl id="growl" showDetail="true"/>



        <!-- #################################################################################################
                    HEADER
            ################################################################################################## -->


        <h:panelGroup styleClass="structureHeader">

            <h:panelGrid columns="2" style="width: 100%;" columnClasses="structureHeaderLeft,structureHeaderRight">


                <!-- title, obsolete flag, favorite star -->
                <p:column >
                    <h:form id="favoriteForm">

                        <p:outputLabel value="#{structureBean.jstructIdForDisplay}" styleClass="#{structureBean.fullStructure.obsolete ? 'title1obsolete' : 'title1'}"/>

                        <h:panelGroup rendered="#{structureBean.fullStructure.obsolete}">
                            <h:outputText value=" (Obsolete) " styleClass="title1 red" style="margin-left:10px"/>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{!structureBean.fullStructure.mostCurrent}">
                            <h:outputText value=" (Old Version) " styleClass="title1 red" style="margin-left:10px"/>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{structureBean.favorite and !structureBean.currentUser.guest}">
                            <p:commandLink actionListener="#{structureBean.toggleFav}"
                                           ajax="true" update="@form, :growl">
                                <h:panelGroup styleClass="favoriteIsOn" style="background-size:contain; margin-left:10px"/>
                            </p:commandLink>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{!structureBean.favorite and !structureBean.currentUser.guest}">
                            <p:commandLink actionListener="#{structureBean.toggleFav}"
                                           ajax="true" update="@form, :growl">
                                <h:panelGroup styleClass="favoriteIsOff" style="background-size:contain; margin-left:10px"/>
                            </p:commandLink>
                        </h:panelGroup>

                    </h:form>
                </p:column>


                <!-- buttons -->
                <p:column >

                    <h:form id="structureButtonsForm" rendered="#{!structureBean.currentUser.guest}" style="white-space: nowrap">

                        <p:commandButton value="Update Sequences" 
                                         ajax="true" 
                                         title="update all sequence/chain data from the file (this is typically used when a change in code demands some updates to the sequence/chain info stored in the database) - admin functionality only"
                                         style="margin-right: 5px"
                                         update="@form, :theSequences, :growl"
                                         rendered="#{structureBean.currentUser.isRoleAdmin || structureBean.currentUser.isRoleDeveloper}"
                                         actionListener="#{structureBean.updateChainData}"/>

                        <h:panelGroup rendered="#{!structureBean.fullStructure.fromRcsb and structureBean.fullStructure.currentUserCanWrite}">

                            <p:commandButton value="Set to Obsolete" 
                                             ajax="true" 
                                             update="@form, :favoriteForm, :growl"
                                             rendered="#{!structureBean.fullStructure.obsolete}"
                                             actionListener="#{structureBean.toggleObsolete}"/>

                            <p:commandButton value="Set to Active" 
                                             ajax="true" 
                                             update="@form, :favoriteForm, :growl"
                                             rendered="#{structureBean.fullStructure.obsolete}"
                                             actionListener="#{structureBean.toggleObsolete}"/>

                        </h:panelGroup>

                    </h:form>
                </p:column>



            </h:panelGrid>


            <h:panelGrid columns="2" style="width: 100%;" columnClasses="structureHeaderLeft,structureHeaderRight">
                <p:column >
                    <p:outputLabel value="${structureBean.fullStructure.pdbTitle}" styleClass="title3"/>
                </p:column>
                <p:column>
                    <p:outputLabel value=" source: ${structureBean.fullStructure.sourceName}" styleClass="greay" style="white-space: nowrap; margin-right:7px"/>
                </p:column>
            </h:panelGrid>

        </h:panelGroup>








        <!-- #################################################################################################
                    LABELS
            ################################################################################################## -->

        <h:panelGroup class="structureLabels" rendered="#{!structureBean.currentUser.guest}">

            <div style="float:left; margin-left:5px">
                <h:form id="structureLabelsForm">
                    <ui:repeat value="#{structureBean.selectedUserLabels}" var="label">
                        <just:structureUserLabel userLabel="#{label}" isLink="true"/>
                    </ui:repeat> 
                </h:form>
            </div>

            <div style="float:left; margin-left:3px;">
                <p:commandLink value="Update Labels..." styleClass="addVerLabel" onclick="PF('labelDialog').show();"  />
            </div>



            <div style="clear: both;"></div>

            <p:dialog header="Update Structure Labels" widgetVar="labelDialog" modal="true" width="600" minHeight="300" appendTo="@(body)" >


                <h:form id="labelSelectionForm">

                    <p:panel header="Update Labels for this Structure" styleClass="structureSection" collapsed="false" style="padding-bottom:30px">

                        <div style="max-height:300px; overflow-x:auto; border:solid 0px #eeeeee;">
                            <p:dataTable value="#{structureBean.allUsersLabels}" var="lbl" selection="#{structureBean.selectedUserLabels}" rowKey="#{lbl.userLabelId}"
                                         emptyMessage="No Labels have been created">

                                <p:column selectionMode="multiple" style="width:20px; text-align: center; "/>

                                <p:column headerText="Labels" sortBy="#{lbl.labelName}" style="padding-top:6px;">
                                    <just:structureUserLabel userLabel="#{lbl}"/>
                                </p:column>

                            </p:dataTable>
                        </div>

                        <div style="float:right; margin-top: 5px">
                            <p:commandButton value="Update Labels for Structure" icon="ui-icon-disk" 
                                             style="float:right;"
                                             ajax="true" 
                                             update="@form, :structureLabelsForm, :growl"
                                             actionListener="#{structureBean.updateLabels}"/>
                        </div>
                    </p:panel>
                </h:form>



                <h:form id="newLabelForm">
                    <p:growl id="newLabelGrowl" showDetail="true"/>
                    <p:panel header="Create new Label" toggleable="true" toggleSpeed="250" styleClass="structureSection"  collapsed="true">

                        <div style="overflow: hidden;">

                            <p:commandButton value="Create Label" icon="ui-icon-tag" style="float:right;"
                                             ajax="true" 
                                             update="@form, :labelSelectionForm, :growl"
                                             actionListener="#{structureBean.createNewLabel}"/>

                            <p:colorPicker value="#{structureBean.newLabel.backgroundColor}" style="float: left;" />
                            
                            <span style="overflow:hidden; display:block; padding-right: 30px">
                                <p:inputText value="#{structureBean.newLabel.labelName}" 
                                             required="true" requiredMessage="Label name is required" 
                                             styleClass="rqd"
                                             placeholder="Label Name"
                                             style="width:100%; margin:0 10px"/>
                            </span>

                        </div>
                        <p:inputTextarea value="#{structureBean.newLabel.description}" 
                                         placeholder="Label Description"
                                         style="width: 98%; margin-top: 5px; margin-right:10px" 
                                         rows="2"/>

                    </p:panel>
                </h:form>

            </p:dialog>

        </h:panelGroup>

        <hr/>









        <p:panelGrid columns="2" style="width: 100%;" columnClasses="structureColOne,structureColTwo" styleClass="ui-panelgrid-blank"> 


            <!-- #################################################################################################
                    LEFT COLUMN
            ################################################################################################## -->

            <p:column>

                <!-- HEADER / TITLE -->
                <just:structureRenderHeader fullStructure="#{structureBean.fullStructure}"
                                            keywords="#{structureBean.keywords}"
                                            authors="#{structureBean.authors}"
                                            splitsFullStructures="#{structureBean.splitsFullStructures}"
                                            displayMode="#{structureBean.displayModeForHeader}"
                                            allowActions="#{structureBean.allowHeaderAndJrnlEditing}"
                                            editAction="#{structureBean.editHeaderSection}"
                                            saveAction="#{structureBean.saveHeaderSection}"
                                            cancelAction="#{structureBean.cancelHeaderSection}"
                                            editablePdbFile="#{structureBean.editablePdbFile}"/>


                <!-- JRNL --> 
                <just:structureRenderJrnl jrnl="#{structureBean.jrnl}"
                                          displayMode="#{structureBean.displayModeForJrnl}"
                                          allowActions="#{structureBean.allowHeaderAndJrnlEditing}"
                                          editAction="#{structureBean.editJrnlSection}"
                                          saveAction="#{structureBean.saveJrnlSection}"
                                          cancelAction="#{structureBean.cancelJrnlSection}"
                                          parsable="#{structureBean.fileParsable}"/>

                <!-- COMPND -->
                <just:structureRenderCompnd compnds="#{structureBean.compnds}"
                                            rendered="#{structureBean.fileParsable}"/>

                <!-- SOURCE -->
                <just:structureRenderSource sources="#{structureBean.sources}"
                                            rendered="#{structureBean.fileParsable}"/>

                <!-- REVDAT -->
                <just:structureRenderRevdat revdats="#{structureBean.revdats}"
                                            rendered="#{structureBean.fileParsable}"/>

                <!-- REMARK -->
                <just:structureRenderRemark remarks="#{structureBean.remarks}"
                                            rendered="#{structureBean.fileParsable}"/>



            </p:column>






            <!-- #################################################################################################
                    RIGHT COLUMN
            ################################################################################################## -->

            <p:column>


                <!-- URLs -->

                <p:panel header="URLs" toggleable="true" toggleSpeed="250" styleClass="structureSection" collapsed="true" style="border:0;">

                    <f:facet name="header">
                        <h:outputText class="ui-icon ui-icon-link" style="display:inline-block; vertical-align: bottom; margin-left:-4px; margin-right:7px; "/>
                        <h:outputText value="URLs "/>
                    </f:facet>

                    <!-- links for files from RCSB -->
                    <h:panelGroup rendered="#{structureBean.fullStructure.fromRcsb}">

                        <h:outputText value="Permalink:" class="jcol-12 jlbl-left"/>
                        <h:panelGroup  class="jcol-12 jdta">
                            <just:linkStructurePermalink fullStructure="#{structureBean.fullStructure}" target="_blank" displayAs="url" showCopyIcon="true"/> 
                            <just:linkStructurePermalink fullStructure="#{structureBean.fullStructure}" target="_blank" displayAs="url" showCopyIcon="true" current="true"/>
                        </h:panelGroup>

                        <h:outputText value="Display:" class="jcol-12 jlbl-left"/>
                        <h:panelGroup  class="jcol-12 jdta">
                            <just:linkStructureDisplay fullStructure="#{structureBean.fullStructure}" target="_blank" displayAs="url" showCopyIcon="true"/> 
                            <just:linkStructureDisplay fullStructure="#{structureBean.fullStructure}" target="_blank" displayAs="url" showCopyIcon="true" current="true"/>
                        </h:panelGroup>

                        <h:outputText value="Download:" class="jcol-12 jlbl-left"/>
                        <h:panelGroup  class="jcol-12 jdta">
                            <just:linkStructureDownload fullStructure="#{structureBean.fullStructure}" displayAs="url" showCopyIcon="true"/> 
                            <just:linkStructureDownload fullStructure="#{structureBean.fullStructure}" displayAs="url" showCopyIcon="true" current="true"/>
                        </h:panelGroup>

                        <h:outputText value="RCSB:" class="jcol-12 jlbl-left"/>
                        <h:panelGroup  class="jcol-12 jdta">
                            <just:linkRcsb fullStructure="#{structureBean.fullStructure}" linkTo="page"     target="_blank" showCopyIcon="true"/>  
                            <just:linkRcsb fullStructure="#{structureBean.fullStructure}" linkTo="display"  target="_blank" showCopyIcon="true"/>  
                            <just:linkRcsb fullStructure="#{structureBean.fullStructure}" linkTo="download"  showCopyIcon="true"/>  
                        </h:panelGroup>

                        <h:panelGroup styleClass="greay" style="font-size: 11px;">
                            <h:outputText value="For structures from RCSB, the JStruct ID ("/>
                            <h:outputText value="#{props.get.structureIdPrefix}" style="font-weight:bold;"/>
                            <h:outputText value="#{structureBean.fullStructure.structureId}" style="font-weight:bold;"/>
                            <h:outputText value=") can be replaced with the PDB Identifier ("/>
                            <h:outputText value="#{structureBean.fullStructure.pdbIdentifier}" style="font-weight:bold;"/>
                            <h:outputText value=")"/>
                        </h:panelGroup>

                    </h:panelGroup>




                    <!-- links for manually uploaded files -->
                    <h:panelGroup rendered="#{!structureBean.fullStructure.fromRcsb}">


                        <h:outputText value="Permalink:" class="jcol-12 jlbl-left"/>
                        <h:panelGroup  class="jcol-12 jdta">
                            <just:linkStructurePermalink fullStructure="#{structureBean.fullStructure}" target="_blank" displayAs="url" 
                                                         showVersionHintForManualUploads="true" showCopyIcon="true"/> 
                            <just:linkStructurePermalink fullStructure="#{structureBean.fullStructure}" target="_blank" displayAs="url" 
                                                         showVersionHintForManualUploads="true" showCopyIcon="true" current="true"/>
                        </h:panelGroup>


                        <h:outputText value="Display:" class="jcol-12 jlbl-left"/>
                        <h:panelGroup  class="jcol-12 jdta">
                            <just:linkStructureDisplay fullStructure="#{structureBean.fullStructure}" target="_blank" displayAs="url" 
                                                       showVersionHintForManualUploads="true" showCopyIcon="true"/> 
                            <just:linkStructureDisplay fullStructure="#{structureBean.fullStructure}" target="_blank" displayAs="url" 
                                                       showVersionHintForManualUploads="true" showCopyIcon="true" current="true"/>
                        </h:panelGroup>


                        <h:outputText value="Download:" class="jcol-12 jlbl-left"/>
                        <h:panelGroup  class="jcol-12 jdta">

                            <just:linkStructureDownload fullStructure="#{structureBean.fullStructure}" displayAs="url" 
                                                        showVersionHintForManualUploads="true" showCopyIcon="true"/> 

                            <just:linkStructureDownload fullStructure="#{structureBean.fullStructure}" displayAs="url" 
                                                        showVersionHintForManualUploads="true" showCopyIcon="true" current="true"/>

                            <h:panelGroup rendered="#{structureBean.fullStructure.actualFileExt eq 'moe'}">
                                <just:linkStructureDownloadMoeAsPdb fullStructure="#{structureBean.fullStructure}"
                                                                    displayAs="url"
                                                                    textAfterLink="(coordinates only PDB version)"
                                                                    showCopyIcon="true"/> 
                            </h:panelGroup>


                        </h:panelGroup>


                    </h:panelGroup>

                    <div style="clear: both;"></div>
                </p:panel>





                <!-- RWG permissions - manually uploaded only -->

                <p:panel header="Permissions" toggleable="true" toggleSpeed="250" collapsed="true" 
                         styleClass="structureSection" style="border:0;" 
                         rendered="#{structureBean.displayPermissions}"> 

                    <f:facet name="header">
                        <h:outputText class="ui-icon ui-icon-key" style="display:inline-block; vertical-align: bottom; margin-left:-4px; margin-right:7px; "/>
                        <h:outputText style="color:#FF5300; text-shadow: 0 0 3px #FFFFFF;" value="Permissions"/>
                    </f:facet>


                    <h:form id="structureRolesListForm" style="padding:0; margin-top:10px"> 

                        <table class="simple" width="100%">
                            <tr>
                                <th></th>
                                <th>Read</th>
                                <th>Write</th>
                                <th>Grant</th>
                            </tr>

                            <tr style="text-align: center">
                                <td style="white-space:nowrap; text-align: left"><h:outputText value="Permissions for all users"/></td>
                                <td>
                                    <p:selectBooleanCheckbox value="#{structureBean.fullStructure.canAllRead}" disabled="#{not structureBean.fullStructure.currentUserCanGrant}">
                                        <p:ajax listener="#{structureBean.updateStructureRole('read', structureBean.fullStructure.canAllRead)}"
                                                update="@form, :growl"/>
                                    </p:selectBooleanCheckbox>
                                </td>
                                <td>
                                    <p:selectBooleanCheckbox value="#{structureBean.fullStructure.canAllWrite}" disabled="#{not structureBean.fullStructure.currentUserCanGrant}">
                                        <p:ajax listener="#{structureBean.updateStructureRole('write', structureBean.fullStructure.canAllWrite)}"
                                                update="@form, :growl"/>
                                    </p:selectBooleanCheckbox>
                                </td>
                                <td></td>
                            </tr>


                            <ui:repeat value="#{structureBean.structureRoles}" var="sr">
                                <tr style="text-align: center">
                                    <td style="white-space:nowrap; text-align: left"><h:outputText value="#{sr.user.name}"/></td>
                                    <td>
                                        <p:selectBooleanCheckbox value="#{sr.canRead}" disabled="#{not structureBean.fullStructure.currentUserCanGrant}">
                                            <p:ajax listener="#{structureBean.updateRole(sr.userId, 'read', sr.canRead)}"
                                                    update="@form, :growl"/>
                                        </p:selectBooleanCheckbox>
                                    </td>
                                    <td>
                                        <p:selectBooleanCheckbox value="#{sr.canWrite}" disabled="#{not structureBean.fullStructure.currentUserCanGrant}">
                                            <p:ajax listener="#{structureBean.updateRole(sr.userId, 'write', sr.canWrite)}"
                                                    update="@form, :growl"/>
                                        </p:selectBooleanCheckbox>
                                    </td>
                                    <td>
                                        <p:selectBooleanCheckbox value="#{sr.canGrant}" disabled="#{not structureBean.fullStructure.currentUserCanGrant}">
                                            <p:ajax listener="#{structureBean.updateRole(sr.userId, 'grant', sr.canGrant)}"
                                                    update="@form, :growl" />
                                        </p:selectBooleanCheckbox>
                                    </td>
                                </tr>
                            </ui:repeat>
                        </table>
                        <h:outputText value="* removing Read access will delete the user from the list" 
                                      rendered="#{not empty structureBean.structureRoles and structureBean.fullStructure.currentUserCanWrite}"                                          
                                      styleClass="greay" style="font-size: 10px"/>

                    </h:form>


                    <h:form id="structureRolesNewForm" style="border:1px solid #dddddd; padding:5px; margin-top:10px"
                            rendered="#{structureBean.fullStructure.currentUserCanGrant}">

                        <h:panelGrid columns="4">
                            <just:userLookup autoCompleteId="userAutoCompleteId"
                                             user="#{structureBean.newStructureRoleUser}" 
                                             size="35"
                                             required="true" requiredMessage="User is required"/>

                            <p:commandButton value="Read" icon="ui-icon-plus" 
                                             style="margin-left:6px; "
                                             styleClass="smallButton"
                                             ajax="true" 
                                             update="@form, :structureRolesListForm, :growl"
                                             actionListener="#{structureBean.addStructureRoleUserRead}"/> 
                            <p:commandButton value="Write" icon="ui-icon-plus" 
                                             style="margin-left:1px; "
                                             styleClass="smallButton"
                                             ajax="true" 
                                             update="@form, :structureRolesListForm, :growl"
                                             actionListener="#{structureBean.addStructureRoleUserWrite}"/> 
                            <p:commandButton value="Grant" icon="ui-icon-plus" 
                                             style="margin-left:1px; "
                                             styleClass="smallButton"
                                             ajax="true" 
                                             update="@form, :structureRolesListForm, :growl"
                                             actionListener="#{structureBean.addStructureRoleUserGrant}"/> 
                        </h:panelGrid>

                    </h:form>


                    <h:panelGroup rendered="#{msg.AppInstance!='production'}">

                        <h:outputText value="displayPermissions: "/>
                        <h:outputText value="#{structureBean.displayPermissions}" 
                                      style="font-weight:bold; #{structureBean.displayPermissions ? 'color:#009900;':'color:#ff0000;'};"/>
                        <br/>
                        <h:outputText value="currentUserIsOwner: "/>
                        <h:outputText value="#{structureBean.currentUserIsOwner}" 
                                      style="font-weight:bold; #{structureBean.currentUserIsOwner ? 'color:#009900;':'color:#ff0000;'};"/>
                        <br/>
                        <h:outputText value="fullStructure.currentUserCanRead: "/>
                        <h:outputText value="#{structureBean.fullStructure.currentUserCanRead}" 
                                      style="font-weight:bold; #{structureBean.fullStructure.currentUserCanRead ? 'color:#009900;':'color:#ff0000;'};"/>
                        <br/>
                        <h:outputText value="fullStructure.currentUserCanWrite: "/>
                        <h:outputText value="#{structureBean.fullStructure.currentUserCanWrite}" 
                                      style="font-weight:bold; #{structureBean.fullStructure.currentUserCanWrite ? 'color:#009900;':'color:#ff0000;'};"/>
                        <br/>
                        <h:outputText value="fullStructure.currentUserCanGrant: "/>
                        <h:outputText value="#{structureBean.fullStructure.currentUserCanGrant}" 
                                      style="font-weight:bold; #{structureBean.fullStructure.currentUserCanGrant ? 'color:#009900;':'color:#ff0000;'};"/>
                        <br/>

                    </h:panelGroup>

                </p:panel>





                <!-- user entered NOTES -->

                <p:panel id="notesSection" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;" collapsed="#{!structureBean.noteSectionOpen}">

                    <f:facet name="header">
                        <h:outputText class="ui-icon ui-icon-note" style="display:inline-block; vertical-align: bottom; margin-left:-4px; margin-right:7px; "/>
                        <h:outputText value="Notes "/>
                        <h:outputText value=" (#{structureBean.notes.size()})" style="font-weight: normal"/>
                    </f:facet>


                    <h:form id="notesListForm" style="padding:0;"> 

                        <p:dataTable id="noteTable" value="#{structureBean.notes}" var="note" editable="true" rendered="#{not empty structureBean.notes}">

                            <p:column style="width:32px; border:1px solid #dddddd" rendered="#{!structureBean.currentUser.guest}">
                                <p:rowEditor rendered="#{note.insertUserId eq structureBean.currentUser.userId}" />
                            </p:column>

                            <p:ajax event="rowEdit" listener="#{structureBean.onNoteEdit}" update="@this, :newNotesForm, :growl" />
                            <p:ajax event="rowEditCancel" listener="#{structureBean.onNoteCancel}" update="@this, :newNotesForm, :growl" />

                            <p:column headerText="Comment" width="60%" style="border:1px solid #dddddd; ">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{note.formattedComment}" escape="false" style="white-space: pre-wrap" />
                                    </f:facet>
                                    <f:facet name="input">

                                        <p:inputTextarea value="#{note.formattedComment}" 
                                                         rows="7"
                                                         styleClass="rqd"
                                                         required="true"
                                                         autoResize="false"
                                                         requiredMessage="Required"
                                                         style="width:90%" />

                                        <!--
                                        <p:editor controls="bold italic underline strikethrough subscript superscript | font size style | color highlight | bullets numbering | alignleft center alignright justify "
                                                  styleClass="rqd"
                                                  required="true"
                                                  requiredMessage="Required"
                                                  validator="valid2kCharacterRichText"
                                                  value="#{note.formattedComment}"
                                                  style="width:100%"/>
                                        -->
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Public" width="15%" style="border:1px solid #dddddd">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{note.notePublic?'Yes':''}" /></f:facet>
                                    <f:facet name="input">
                                        <p:selectBooleanCheckbox value="#{note.notePublic}" style="padding: 2px 0 0 5px"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="By" width="25%" style="border:1px solid #dddddd; color: #999999; font-size: 10px">
                                <h:outputText value="#{note.insertUser.name}" />
                                <br/>
                                <h:outputText value="#{note.updateDate}" >
                                    <f:convertDateTime pattern="(yyyy-MM-dd)" />
                                </h:outputText>
                            </p:column>


                            <!-- delete link -->
                            <p:column style="width:20px; border:1px solid #dddddd;" rendered="#{!structureBean.currentUser.guest}">
                                <p:commandLink update="@form, :growl, :notesSection" 
                                               ajax="true"
                                               actionListener="#{structureBean.deleteNote}" 
                                               rendered="#{note.insertUserId eq structureBean.currentUser.userId}">
                                    <p:confirm header="Confirm Delete" message="Are you sure you want to delete this Note?" icon="ui-icon-alert"/>
                                    <f:attribute name="doomedNoteId" value="#{note.noteId}"/>
                                    <h:outputText class="ui-icon ui-icon-trash" title="Delete this Note"/>
                                </p:commandLink>
                            </p:column>

                        </p:dataTable>

                    </h:form>


                    <p:confirmDialog global="true">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                    </p:confirmDialog>


                    <h:form id="newNotesForm" style="border:1px solid #dddddd; padding:5px; margin-top:5px" rendered="#{structureBean.currentUserCanAddNotes}">

                        <h:panelGrid columns="1" columnClasses="column80,column20" style="width:100%">

                            <h:panelGroup>

                                <p:editor id="newNoteComment"
                                          controls="bold italic underline strikethrough subscript superscript | font size style | color highlight | bullets numbering | alignleft center alignright justify "
                                          styleClass="rqd"
                                          height="150"
                                          required="true"
                                          requiredMessage="Required"
                                          validator="valid2kCharacterRichText"
                                          value="#{structureBean.newNote.formattedComment}"
                                          style="width:100%"/>
                                <p:message for="newNoteComment"/>

                            </h:panelGroup>

                            <h:panelGrid columns="2" columnClasses="structureHeaderLeft,structureHeaderRight" style="width:100%">

                                <h:panelGroup>
                                    <h:outputText value="Public: " />
                                    <p:selectBooleanCheckbox value="#{structureBean.newNote.notePublic}"/>
                                </h:panelGroup>


                                <p:commandButton value="Add" icon="ui-icon-plus" 
                                                 ajax="true" 
                                                 update="@form, :notesListForm, :growl, :notesSection" 
                                                 actionListener="#{structureBean.addNote}"/>    
                            </h:panelGrid>

                        </h:panelGrid>

                    </h:form>


                </p:panel>




                <!-- PDB LINEAGE - RCSB only -->

                <p:panel header="PDB Lineage" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;" 
                         rendered="#{structureBean.fullStructure.fromRcsb}">

                    <h:panelGroup id="thePdbLineageDiagram">
                        <h:outputText value="#{structureBean.lineageDiagram}" escape="false"/>
                    </h:panelGroup>

                    <h:form>
                        <p:remoteCommand id="seqRemotePdbLineageDiagram" name="renderThePdbLineageDiagram" action="#{structureBean.gimmeDaPdbLineageDiagram}" autoRun="true" update="thePdbLineageDiagram">
                        </p:remoteCommand>
                    </h:form>



                </p:panel>





                <!-- VERSIONS - manual upload only -->

                <p:panel header="Versions" toggleable="true" toggleSpeed="250" styleClass="structureSection" style="border:0;"
                         rendered="#{!structureBean.fullStructure.fromRcsb}">

                    <table class="simple" width="100%">
                        <ui:repeat value="#{structureBean.fullStructureVersions}" var="fs">
                            <tr class="#{fs.structVerId eq structureBean.fullStructure.structVerId ? 'highlightRow' : ''}">
                                <td style="white-space:nowrap"><just:linkStructure fullStructure="#{fs}" /></td>
                                <td><h:outputText value="#{fs.pdbTitle}"/></td>
                                <td><h:outputText value="#{fs.actualFileName}"/></td>
                                <td><h:outputText value="#{fs.ownerName}"/></td>
                            </tr>
                        </ui:repeat>
                    </table>

                    <div style="clear: both;"></div>
                </p:panel>



                <!-- FILE INFO -->
                <just:structureRenderFileInfo fileAttributes="#{structureBean.fileAttributes}" 
                                              fromRcsb="#{structureBean.fullStructure.fromRcsb}"
                                              allowReplaceLink="#{structureBean.allowReplacing}"
                                              replaceStructureAction="#{structureBean.replaceStructure}"
                                              showDownloadLinks="true"
                                              fullStructureForDownloadLinks="#{structureBean.fullStructure}"/>


                <!-- METADATA - (manual upload only) -->
                <just:structureRenderMetadata fullStructure="#{structureBean.fullStructure}"
                                              clientSelectionRequired="#{props.get.clientSupportTypeIsRequired}"
                                              editableStructVersion="#{structureBean.editableStructVersion}"
                                              displayMode="#{structureBean.displayModeForMetadata}"
                                              allowActions="#{structureBean.allowMetadataEditing}"
                                              editAction="#{structureBean.editMetadataSection}"
                                              saveAction="#{structureBean.saveMetadataSection}"
                                              cancelAction="#{structureBean.cancelMetadataSection}"
                                              rendered="#{!structureBean.fullStructure.fromRcsb}"/>


                <!-- NGL Viewer (pdb/cif files only) -->                             
                <just:structureRenderNgl fullStructure="#{structureBean.fullStructure}"
                                         rendered="#{structureBean.fullStructure.actualFileExt eq 'pdb' 
                                                     || structureBean.fullStructure.actualFileExt eq 'cif'
                                                     || structureBean.fullStructure.actualFileExt eq 'moe'}"/>



                <!-- SEQUENCES (rendered after page load 'cause sometimes it takes a while) -->
                <h:panelGroup rendered="#{structureBean.fileChainParsable}">


                    <h:panelGroup id="theSequences">
                        <just:structureRenderSequences id="seqComponent" 
                                                       jstructId="${structureBean.jstructIdForDisplay}"
                                                       prependToUpdated=":seqComponent" 
                                                       allowChainDialog="true"
                                                       chainCount="#{structureBean.chainCount}"
                                                       displaySequences="#{structureBean.displaySequences}" 
                                                       verboseChainDisplay="#{structureBean.chainCount le structureBean.maxChainsForVerboseDisplay}"
                                                       structureFastaLink="#{structureBean.structureFastaLink}"/> 
                    </h:panelGroup>

                    <h:form>
                        <p:remoteCommand id="seqRemoteCommand" name="renderTheSequences" action="#{structureBean.gimmeDaSequences}" autoRun="true" update="theSequences">

                            <p:ajaxStatus style="padding-left:30px;">
                                <f:facet name="default"></f:facet>
                                <f:facet name="start"><p:graphicImage value="/images/ajax-loader.gif"/></f:facet>
                                <f:facet name="complete"></f:facet>
                            </p:ajaxStatus>

                        </p:remoteCommand>
                    </h:form>

                </h:panelGroup>




            </p:column>




            <h:panelGroup style="color: #ffffff; font-size: 10px;">
                <h:outputText value="structureId: #{structureBean.fullStructure.structureId}" />
                <h:outputText value=" - version: #{structureBean.fullStructure.version}"/>
                <h:outputText value=" - structVerId: #{structureBean.fullStructure.structVerId}"/>
            </h:panelGroup>


        </p:panelGrid>
    </ui:define>

</ui:composition>
